<div class="app-container w-100">
  <div class="pb-5 d-flex w-100 search-bar">
    <div style="width: 75%">
      <div class="input-icon table-filter">
        <input
          #input
          (keyup)="applyFilter($event)"
          class="form-control form-control-solid"
          placeholder="{{ 'ACTIONS.FILTER_PLACEHOLDER' | translate }}"
        />
        <span><i class="flaticon2-search-1 icon-md"></i></span>
      </div>
    </div>
    <div class="spacer"></div>

    <div class="p-0 px-5" style="width: 20%">
      <button
        class="btn btn-lg w-100 btn-primary font-weight-bolder py-2 px-5 cursor-pointer"
        (click)="openModal('new', null)"
      >
        {{ "ACTIONS.NEW_ITEM" | translate }}
        <span
          [inlineSVG]="'/assets/media/svg/icons/Code/Plus.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-md"
        ></span>
      </button>
    </div>
  </div>

  <div *ngIf="itemView">
    <div class="d-flex align-items-center bg-light rounded p-5 mb-9">
      <!--begin::Icon-->
      <div class="symbol symbol-light-primary mr-3">
        <span class="symbol-label font-size-h5">{{ currentItem.code }}</span>
      </div>
      <!--end::Icon-->
      <!--begin::Title-->
      <div class="d-flex flex-column flex-grow-1 mr-2">
        <p
          class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1"
        >
          {{ currentItem?.nameAr }}
        </p>
        <span class="text-muted font-weight-bold">{{
          currentItem?.nameEn
        }}</span>
      </div>

      <!--end::Title-->
      <!--begin::Lable-->
      <span
        *ngIf="currentItem?.active"
        class="label label-rounded label-pill label-inline label-light-success mr-2"
        >{{ "ACTIONS.ACTIVE" | translate }}</span
      >
      <span
        *ngIf="!currentItem?.active"
        class="label label-rounded label-light-warning label-pill label-inline mr-2"
        >{{ "ACTIONS.INACTIVE" | translate }}</span
      >

      <!--end::Lable-->
    </div>
  </div>
  <mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>

  <table
    mat-table
    [dataSource]="dataSource"
    class="table table-head-custom table-head-bg table-borderless table-vertical-center mat-elevation-z8 m-0"
  >
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.icon && isEnquiry(element?.code) == true" class="pixelated ml-2 mr-2" [src]="
        './assets/media/svg/icons/' + element?.icon + '.png'
      ">
        <span 
          *ngIf="element.icon && isEnquiry(element?.code) == false"
          [inlineSVG]="'/assets/media/svg/icons/' + element.icon + '.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-md"
        ></span>
        <span *ngIf="!element.icon"> - </span>

        <!-- <span
          [inlineSVG]="'/assets/media/svg/icons/Code/Plus.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-md"
        ></span> -->
      </td></ng-container>

    <ng-container matColumnDef="nameAR">
      <th mat-header-cell *matHeaderCellDef>
        {{ "EVENTSMODULES.itemNameAr" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nameAr }}</td>
    </ng-container>

    <ng-container matColumnDef="nameEN">
      <th mat-header-cell *matHeaderCellDef>
        {{ "EVENTSMODULES.itemNameEn" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nameEn }}</td>
    </ng-container>

    <!-- <ng-container matColumnDef="routing">
      <th mat-header-cell *matHeaderCellDef>
        {{ "EVENTSMODULES.ROUTING" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element?.routing }}</td>
    </ng-container> -->

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>
        {{ "EVENTSMODULES.CODE" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>
    <ng-container matColumnDef="isPublic">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ACTIONS.PUBLIC" | translate }}
      </th>

      <td mat-cell *matCellDef="let element">
        <span class="text-center">
          <span
            [inlineSVG]="
              '/assets/media/svg/icons/Code/' +
              (element?.isPublic ? 'Done-circle.svg' : 'Error-circle.svg')
            "
            cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-primary"
          ></span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>
        {{ "ACTIONS.ACTIVE_STATUS" | translate }}
      </th>

      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element?.active"
          class="label label-rounded label-pill label-inline label-light-success mr-2"
          >{{ "ACTIONS.ACTIVE" | translate }}</span
        >
        <span
          *ngIf="!element?.active"
          class="label label-rounded label-light-warning label-pill label-inline mr-2"
          >{{ "ACTIONS.INACTIVE" | translate }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="modules">
      <th mat-header-cell *matHeaderCellDef>
        {{ "EVENTSMODULES.MODULES" | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          class="label label-rounded label-light-primary font-weight-bolder"
          >{{ element.modules.length }}</span
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <div class="spacer"></div>
      <th mat-header-cell *matHeaderCellDef>
        <button
          *ngIf="itemView"
          class="btn btn-sm p-2 btn-primary cursor-pointer"
          (click)="viewList()"
        >
          عودة
          <span
            [inlineSVG]="'/assets/media/svg/icons/Navigation/Left-2.svg'"
            cacheSVG="true"
            class="svg-icon svg-icon-md"
          ></span>
        </button>
      </th>

      <td mat-cell *matCellDef="let element">
        <button
          class="btn btn-sm btn-clean btn-icon mr-1"
          (click)="openModal('edit', element); $event.stopPropagation()"
        >
          <span
            [inlineSVG]="'/assets/media/svg/icons/Communication/Write.svg'"
            cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-primary"
          ></span>
        </button>
        <button
          class="btn btn-sm btn-clean btn-icon mr-1"
          (click)="deleteReport(element); $event.stopPropagation()"
        >
          <span
            [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
            cacheSVG="true"
            class="svg-icon svg-icon-md svg-icon-danger"
          ></span>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="viewItem(row)"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="8">
        <nodata-table [input]="input"></nodata-table>
      </td>
    </tr>
  </table>
  <mat-paginator [length]="this.data.length" [pageSize]="10"> </mat-paginator>
</div>
