<div class="container-fluid">
  <div class="bg-white px-3 border-bottom">
    <h2>{{'GROUP.GROUP_BREAD' | translate}}</h2>
    <div class="spacer"></div>
  </div>
  <div class="mx-4 my-10">
    <div class="row" *ngIf="state$ | async as state">
      <div class="col-12">
        <div class="row">
          <div class="col-12 position-relative">
            <p-fieldset [toggleable]="true" styleClass="px-3 py-2 search-section"
                        legend="{{'ACTIONS.ADVANCED_SEARCH' | translate}}" [collapsed]="!(hasFilters$ | async)">
              <div class="p-fluid p-grid">
                <div class="p-field p-col-4 p-md-2">
                  <input type="text" pInputText [ngModel]="state?.pageRequest?.filters['name']"
                         placeholder="{{ 'GROUP.GROUP_NAME' | translate }}"
                         (keyup)="updateFilter({name: $event.target.value}, $event)">
                </div>

                <div class="p-field p-col-4 p-md-2">
                  <p-treeSelect [options]="orgsTree$ | async" display="chip" [metaKeySelection]="false" [filter]="true"
                                [filterBy]="'data.nameAr,data.nameEn,data.code'" selectionMode="checkbox"
                                [ngModel]="state?.pageRequest?.filters['orgId']" placeholder="{{ 'SHARED.ORG' | translate }}"
                                (ngModelChange)="updateFilter({orgId: $event}, $event)" [propagateSelectionDown]="false"
                                [propagateSelectionUp]="false">
                  </p-treeSelect>
                </div>

                <div class="p-field p-col-4 p-md-2">
                  <p-dropdown [options]="centers$ | async" [ngModel]="state?.pageRequest?.filters['incidentLocation']"
                                 placeholder="{{'INCIDENTS.CENTER' | translate}}"[autoDisplayFirst]="false"
                                [showClear]="true" dataKey="id"
                                 (ngModelChange)="updateFilter({incidentLocation: $event}, $event)">
                    <ng-template let-item pTemplate="selectedItem">
                      {{ item | translateObj }}
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                      {{ item | translateObj }}
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="p-field p-col-4 p-md-2">
                  <p-dropdown [options]="categories$" [ngModel]="state?.pageRequest?.filters['incidentCategoryId']"
                              placeholder="{{'INCIDENTS.MAIN_CAT' | translate}}"[autoDisplayFirst]="false"
                              [showClear]="true" dataKey="id"
                              (ngModelChange)="updateFilter({incidentCategoryId: $event}, $event)">
                    <ng-template let-item pTemplate="selectedItem">
                      {{ item | translateObj }}
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                      {{ item | translateObj }}
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="p-field p-col-4 p-md-2">
                  <p-dropdown [options]="groupMembers$" [ngModel]="state?.pageRequest?.filters['hasMember']"
                              placeholder="{{'GROUP.groupsMembers' | translate}}"[autoDisplayFirst]="false"
                              [showClear]="true" dataKey="id"
                              (ngModelChange)="updateFilter({hasMember: $event}, $event)">
                    <ng-template let-item pTemplate="selectedItem">
                      {{ item | translateObj }}
                    </ng-template>

                    <ng-template let-item pTemplate="item">
                      {{ item | translateObj }}
                    </ng-template>
                  </p-dropdown>
                </div>

                <div class="p-col p-d-flex">
                  <div class="ml-dir-auto"></div>
                  <div class="mx-1">
                    <button pButton type="button" label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-times"
                            class="p-button-outlined" [loading]="loading$ | async" (click)="clear()"></button>
                  </div>
                  <div class="mx-1">
                    <button pButton label="{{ 'ACTIONS.SEARCH' | translate }}" icon="pi pi-search"
                            [loading]="loading$ | async" (click)="search()"></button>
                  </div>
                </div>
              </div>
            </p-fieldset>
          </div>

          <div class="col-12 mt-3">
            <p-toolbar>
              <div class="p-toolbar-group-left">

                <div class="p-1 w-100 w-md-200px">
                  <p-multiSelect [options]="columns" defaultLabel="Select Columns" optionLabel="name" styleClass="w-100"
                                 [ngModel]="state.columns" [optionValue]="'code'" optionDisabled="disabled"
                                 (onChange)="changeColumns($event)">
                    <ng-template let-options pTemplate="selectedItems">
                      <ng-container *ngIf="options?.length > 0">
                        {{options?.length + ' ' + ('SHARED.SELCTED_ITEM' | translate)}}
                      </ng-container>
                      <ng-container *ngIf="!options || options.length === 0">
                        {{'SHARED.SELECT_SHOWING_FIELDS' | translate}}
                      </ng-container>
                    </ng-template>
                    <ng-template let-option pTemplate="item">
                      {{ option.name | translate }}
                    </ng-template>
                  </p-multiSelect>
                </div>
                <div class="p-1 w-100 w-md-225px">
                  <div class="p-inputgroup">
                    <p-dropdown [options]="sortableColumns" [autoDisplayFirst]="false" [showClear]="true"
                                [ngModel]="state?.pageRequest?.sortField"
                                placeholder="{{ 'SHARED.SELECT_SORTING_FIELD' | translate}}" optionLabel="name" optionValue="code"
                                styleClass="w-100 h-100" class="w-100 h-100" (onChange)="sort($event)">
                      <ng-template let-option pTemplate="selectedItem">
                        {{ option.name | translate }}
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                        {{ option.name | translate }}
                      </ng-template>
                    </p-dropdown>
                    <div class="p-inputgroup-addon p-0">
                      <p-toggleButton class="w-100 h-100" [onIcon]="'pi pi-sort-amount-up'"
                                      [ngModel]="state?.pageRequest?.sortOrder === 'desc'" offIcon="pi pi-sort-amount-down-alt"
                                      iconPos="right" styleClass="w-100 h-100" (onChange)="order($event)"></p-toggleButton>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-toolbar-group-right">
                <p-splitButton label="{{'ACTIONS.EXPORT' | translate}}" icon="pi pi-external-link"
                               [model]="exportActions" (onClick)="export('EXCEL')"></p-splitButton>
              </div>

            </p-toolbar>
          </div>

          <div class="col-12 mt-3">
            <div class="w-100 d-flex flex-wrap mx-1 px-6">
              <div class="my-auto">
                <button pButton type="button"
                        class="p-tag px-2 text-center w-70px py-1 p-button-rounded p-button-sm bg-primary"
                        [ngClass]="{'active': state.pageRequest.filters['active'] === true}"
                        (click)="updateFilter({active: true}, $event); search();">
                  <span class="m-auto"> {{ 'ACTIONS.ACTIVE' | translate }} </span>
                </button>
                <button pButton type="button"
                        class="p-tag mx-2 px-2 py-1 text-center p-button-rounded w-70px p-button-warning p-button-sm bg-warning border-warning text-white"
                        [ngClass]="{'active': state.pageRequest.filters['active'] === false}"
                        (click)="updateFilter({active: false}, $event); search();">
                  <span class="m-auto"> {{ 'ACTIONS.INACTIVE' | translate }} </span>
                </button>
              </div>

              <div class="ml-dir-auto d-flex">
                <button pButton label="{{'ACTIONS.ADD' | translate}}" icon="pi pi-plus" (click)="openDialog()"
                        *checkPrivileges="'PRIV_CR_GRP'"></button>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p-divider [align]="'left'" styleClass="bg-transparent">
              <p-selectButton [options]="[{icon: 'pi pi-bars', view: 'TABLE'}, {icon: 'pi pi-th-large', view: 'CARDS'}]"
                              optionLabel="icon" optionValue="view" [ngModel]="state.view" (onChange)="changeView($event.value)">
                <ng-template let-item>
                  <i [class]="item.icon"></i>
                </ng-template>
              </p-selectButton>
            </p-divider>
          </div>
        </div>


        <app-content-groups [view]="state.view" [loading]="loading$ | async" [page]="page$ | async"
                           [columns]="state.columns" [totalRecords]="totalRecords$ | async" [pageRequest]="state?.pageRequest"
                           (onPageChange)="loadPage($event)"></app-content-groups>
      </div>
    </div>
  </div>
</div>

<app-group-dialog [orgsTree]="orgsTree$ | async"></app-group-dialog>
