<div class="position-fixed right-0 left-0 bottom-0 w-100 bg-white shadow-sm ticker-wrap">
  <div class="ticker">
    <div class="ticker-item cursor-pointer" (click)="view(item)" *ngFor="let item of page$ | async">
      <span>
        <img class="mx-2" src="assets/logos/ecms-logo.svg" alt="" />
      </span>
      {{item | translateObj: 'title'}}
    </div>
  </div>
</div>


<p-dialog [visible]="openView" [modal]="true" [style]="{width: '50vw'}" (visibleChange)="openView=false"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

  <ng-template pTemplate="header">
    <img class="h-65px mx-3" src="assets/logos/ecms-logo.svg" alt="" />
    <h5 class="mr-dir-auto">
      {{selectedItem | translateObj: 'title'}}
    </h5>
  </ng-template>

  <p>{{selectedItem | translateObj: 'body'}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="openView=false" label="{{'ACTIONS.OK' | translate }}"
      styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>