<div class="p-toolbar-group-right">
  <button pButton label="{{'NEW_ANALYSIS_CYCLIE' | translate}}" icon="pi pi-plus" (click)="openDialog()"></button>
</div>

<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <span>{{ "ANALYSIS_DIALOG.ADD_NEW_ANALYSIS" | translate }}</span>
      <span
        *ngIf="true"
        class="label label-lg label-light-primary label-inline"
      >
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      <span
        *ngIf="false"
        class="label label-lg label-light-success label-inline"
      >
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
    </h3>
  </ng-template>

  <div class="p-col-12">
    <p-divider align="left">
      <div class="p-d-inline-flex p-ai-center">
        <i class="pi pi-id-card p-mx-2"></i>
        <b>
          {{ "ANALYSIS_DIALOG.ANALYSIS_DETAILS" | translate }}
        </b>
      </div>
    </p-divider>
  </div>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="name" pInputText/>
        <label>
          {{ "ANALYSIS_DIALOG.NAME" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['name'].touched &&
          !form.controls['name'].valid &&
          form.controls['name'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['name'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="rtoList" [autoDisplayFirst]="false" formControlName="nameBC"
                            [filter]="true" filterBy="nameAr,nameEn" dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
                <label>
                  {{'ANALYSIS_DIALOG.NAME_BC' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
    </div>

    <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
              <p-calendar formControlName="date" [minDate]="minDate" [showIcon]="true" showButtonBar="true"
                          [showTime]="true" appendTo="body"></p-calendar>
              <label>
                {{ 'ANALYSIS_DIALOG.DATE' | translate }}
                <strong class="required-asterisk"> * </strong>
              </label>
            </span>
      <ng-container
        *ngIf="form.controls['date'].touched && !form.controls['date'].valid && form.controls['date'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['date'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>
      </ng-container>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
