<div class="container">

  <h1 mat-dialog-title>
    {{title | translate}}
  </h1>

  <h1 class="d-icon">
    <mat-icon color="primary">{{ icon }}</mat-icon>
  </h1>

  <div mat-dialog-content>
    <p>{{message | translate}}</p>
  </div>

  <div mat-dialog-actions class="row">
    <div class="col-6 text-center">
      <button mat-button app-throttle-click (ThrottleClick)="onDismiss()">{{ cancel | translate }}</button>
    </div>
    <div class="col-6 text-center">
      <button mat-raised-button color="primary" app-throttle-click (ThrottleClick)="onConfirm()">{{confirm |
        translate}}</button>
    </div>
  </div>
</div>