::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #36aef4;
}

mat-form-field {
  width: 100%;
}

.has-changed-direction {
  direction: rtl;
}

.example-section {
  margin: 12px 0;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;

  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label + input[type="file"] {
  cursor: pointer;
}

 .reset-pass{
  margin: 20px !important;;
}
