<h2 mat-dialog-title class="d-flex justify-content-between">
  <span>{{"USER_MANAGEMENT.HEADER" | translate}}</span>
  <i class="fa fa-times" style="font-size: 20px" mat-dialog-close></i>
</h2>
<mat-dialog-content class="mat-typography">
  <div class="p-2">
    <mat-horizontal-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>{{"USER_MANAGEMENT.DOWNLOADANDUPLOADTEMPLATE"|translate}}</ng-template>
        <div class="row">
          <div class="col-12 pt-3 d-flex no-gutters">
            <div class="col-auto">
              <button *appPrivileges="'PRIV_CR_USR'" style="margin: 8px" class="btn btn-primary"
                      (click)="downloadExcelTemplate()" [disabled]="loading">
                {{ "ACTIONS.EXPORT" | translate }}
                <span [inlineSVG]="'/assets/media/svg/icons/Files/Export.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md"></span>
              </button>
            </div>

            <div class="col-auto">
              <input type="file" #xlsfile id="xlsfile"
                     accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                     hidden
                     (change)="uploadFile($event.target.files)"/>
              <button *appPrivileges="'PRIV_CR_USR'" style="margin: 8px" class="btn btn-primary"
                      (click)="xlsfile.click()" [disabled]="loading">
                {{ "ACTIONS.IMPORT" | translate }}
                <span [inlineSVG]="'/assets/media/svg/icons/Files/Import.svg'" cacheSVG="true"
                      class="svg-icon svg-icon-md"></span>
              </button>
            </div>

          </div>
          <div class="col-12">
            <div class="spinner-container m-auto p-10" *ngIf="loading==true">
              <mat-spinner class="m-auto" diameter="50"></mat-spinner>
            </div>
          </div>
          <div class="col-12 mt-3 d-flex justify-content-end">
            <button mat-button (click)="navigateToNextStep()"
                    [disabled]="!isFileUploaded">{{"USER_MANAGEMENT.NEXT"|translate}}</button>
          </div>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{"USER_MANAGEMENT.FILESTATUS"| translate}}</ng-template>
        <div class="row">
          <div class="col-12 pt-3 pb-2 d-flex justify-content-between">
            <div class="card-item" style="background: linear-gradient(60deg, #26da7f, #00c194);">
              <div class="item-icon">
                <i class="fa fa-check-circle" style="color:#fff !important"></i>
              </div>
              <div class="item-text">
                <h5>{{"USER_MANAGEMENT.TOTALSUCCESS" | translate}}</h5>
                <h4>  {{totalSuccess}}</h4>

              </div>
            </div>
            <div class="card-item" style="background: linear-gradient(60deg, #da264d, #c10020);">
              <div class="item-icon">
                <i class="fa fa-window-close" style="color:#fff !important"></i>
              </div>
              <div class="item-text">
                <h5>{{"USER_MANAGEMENT.TOTALFAILD" | translate}}</h5>
                <h4>  {{totalFailed}}</h4>

              </div>
            </div>
          </div>
          <div class="col-12 pt-3">
            <div class="table-responsive table-container">
              <table mat-table [dataSource]="dataSource"
                     class="mat-sort table table-head-custom table-head-bg table-borderless table-vertical-center">
                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> {{"SHARED.JOB_TITLE"| translate}}</th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="userName">
                  <th mat-header-cell *matHeaderCellDef> {{"SHARED.USERNAME"| translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="phoneNumber">
                  <th mat-header-cell *matHeaderCellDef> {{"USER_MANAGEMENT.PHONENUMBER"|translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef> {{"SHARED.EMAIL"| translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> {{"USER_MANAGEMENT.STATUS" | translate}} </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="d-flex justify-content-center align-items-center">
                      <span [attr.class]="element.status== 'failed'? 'failed-status':'success-status'"></span>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          </div>
        </div>
        <div>
          <button mat-button matStepperPrevious>{{"USER_MANAGEMENT.BACK"|translate}}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-dialog-content>
