<div class="p-toolbar-group-right">
  <button
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<p-dialog
  [visible]="opened$ | async" (visibleChange)="close()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'REMOTE_WORK.EDIT_WORK' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'REMOTE_WORK.ADD_WORK' | translate}}
      </ng-container>

      <ng-container *ngIf="viewOnly$ | async">
        {{'REMOTE_WORK.VIEW_WORK' | translate}}
      </ng-container>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="pDesignation" pInputText />
        <label>
          {{ "REMOTE_WORK.PERSONAL_DESIG" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['pDesignation'].touched &&
          !form.controls['pDesignation'].valid &&
          form.controls['pDesignation'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['pDesignation'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="" [autoDisplayFirst]="false" formControlName="pLevel"
                            dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
               <label>
                  {{'REMOTE_WORK.PRIORITY_LEVEL' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      <ng-container *ngIf="form.controls['pLevel'].touched && !form.controls['pLevel'].valid &&
          form.controls['pLevel'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['pLevel'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-12">
              <span class="p-float-label">
                <textarea
                  pInputText
                  type="text"
                  formControlName="description"
                  rows="5"
                ></textarea>
                <label>{{ 'REMOTE_WORK.TASK_REMOTE' | translate }}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>

      <ng-container
        *ngIf="form.controls['description'].touched && !form.controls['description'].valid && form.controls['description'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['description'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="" [autoDisplayFirst]="false" formControlName="internal_system"
                            dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
               <label>
                  {{'REMOTE_WORK.NETWORK_SYSTEM' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      <ng-container *ngIf="form.controls['internal_system'].touched && !form.controls['internal_system'].valid &&
          form.controls['internal_system'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['internal_system'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="" [autoDisplayFirst]="false" formControlName="other"
                            dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
               <label>
                  {{'REMOTE_WORK.OTHER_REMOTE' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      <ng-container *ngIf="form.controls['other'].touched && !form.controls['other'].valid &&
          form.controls['other'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['other'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>


    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="inside" pInputText/>
        <label>
          {{ "REMOTE_WORK.STAFF_DISTRI" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['inside'].touched && !form.controls['inside'].valid &&
          form.controls['inside'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['inside'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="outside" pInputText/>
        <label>
          {{ "REMOTE_WORK.STAFF_DISTRIBUTION_OUTSIDE" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['outside'].touched && !form.controls['outside'].valid &&
          form.controls['outside'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['outside'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-12">
              <span class="p-float-label">
                <textarea
                  pInputText
                  type="text"
                  formControlName="otherRemarks"
                  rows="5"
                ></textarea>
                <label>{{ 'REMOTE_WORK.OTHER_REMARK' | translate }}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>

      <ng-container
        *ngIf="form.controls['otherRemarks'].touched && !form.controls['otherRemarks'].valid && form.controls['otherRemarks'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['otherRemarks'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>
      </ng-container>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center" *ngIf="!(viewOnly$ | async)">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
          [disabled]="form.invalid"
          (click)="submit()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
