<div class="p-toolbar-group-right">
  <button
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="toggleDialog()"
  ></button>
</div>

<!-- as a dialog -->
<p-dialog
  #dialog
  [visible]="opened$ | async"
  (visibleChange)="toggleDialog()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
  styleClass="overflow-hidden"
>
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
        {{ "LOCATIONS.SITE" | translate }}
    </h3>
    <div class="mx-2">
      <p-tag>
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </p-tag>
    </div>
  </div>
</ng-template>

<!-- templates content -->
<ng-template #content>
  <div class="w-100 pt-2 h-600px">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <div class="row">
      <div class="p-field p-col-9">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input
              (keyup)="loadPage($event.target.value)"
              type="text"
              pInputText
            />
            <label>
              {{ "LOCATIONS.NAME" | translate }}
            </label>
          </span>
          <button type="button" pButton pRipple icon="pi pi-search"></button>
        </div>
      </div>
      <div class="p-col-3">
        <p-button
          (click)="openNewLocDialog()"
          label="{{ 'LOCATIONS.ADD_LOCATION' | translate }}"
          styleClass="p-button-link"
        ></p-button>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ng-container>
          <ng-container *ngIf="loading$ | async; else tableTemplate">
            <p-table [value]="[].constructor(10)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 0"></th>
                  <th class="min-w-100px">
                    <div class="p-d-flex p-jc-between p-ai-center">#</div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "LOCATIONS.LOCATION" | translate }}
                    </div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "LOCATIONS.REGION" | translate }}
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr class="cursor-pointer hoverable">
                  <td class="flag-td">
                    <div class="bg-secondary"></div>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #tableTemplate>
            <p-table
              totalRecords="10"
              [value]="page$ | async"
              dataKey="id"
              [autoLayout]="true"
              selectionMode="single"
              [(selection)]="selectedBCLocations"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col
                    *ngFor="let col of columns"
                    [style.width]="'col.width'"
                  />
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th class="min-w-100px">
                    <div class="p-d-flex p-jc-between p-ai-center">#</div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "LOCATIONS.LOCATION" | translate }}
                    </div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "LOCATIONS.COL1" | translate }}
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-rowData>
                <tr
                  [pSelectableRow]="rowData"
                  [pSelectableRowDisabled]="rowData.selected"
                  class="cursor-pointer hoverable"
                  [ngClass]="{
                    'row-disabled': rowData.selected
                  }"
                >
                  <td class="min-w-100px">
                    {{ item.sequenceNumber }}
                  </td>
                  <td class="min-w-200px max-w-300px">
                    {{ item | translateObj }}
                  </td>
                  <td class="min-w-200px max-w-300px">
                    {{ item?.locationType | translateObj }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100%">
                    <div class="w-100">
                      <nodata-table></nodata-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </ng-container>

        <p-paginator
          #pg
          [first]="0"
          [rows]="10"
          [totalRecords]="totalRecords$ | async"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{{ 'SHARED.PAGE_REPORT' | translate }}"
          (onPageChange)="loadPage($event, true)"
        ></p-paginator>
      </div>
    </div>
    <p-sidebar
      [(visible)]="display"
      position="bottom"
      [baseZIndex]="-1000"
      [modal]="false"
      styleClass="h-100"
    >
      <div class="bg-white pt-5 h-100">
        <app-location-dialog
          #locDialog
          (onClose)="closeCreateDialog()"
          [asDialog]="false"
        ></app-location-dialog>
      </div>
    </p-sidebar>
  </div>
</ng-template>

<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <div class="ml-dir-auto"></div>

    <div class="p-col text-center">
      <div class="text-center">
        <button
          [disabled]="!selectedBCLocations"
          [loading]="blocking$ | async"
          (click)="submit()"
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
        ></button>
      </div>
    </div>
  </div>
</ng-template>
