<div class="p-d-flex p-flex-column">
  <header class="border-bottom py-4 d-flex p-jc-between">
    <ng-container *ngIf="selectedOrgHirNode$ | async as selectedOrgHirNode">
      <ng-container *ngIf="editMode; else elseTemplate">
        <h5 class="p-text-bold mb-0 mx-2">
          {{ selectedOrgHirNode?.label }}
        </h5>
        <p-tag
          value=" {{ 'ACTIONS.UPDATE_ITEM' | translate }}"
          severity="warning"
        ></p-tag>
      </ng-container>
      <ng-template #elseTemplate>
        <h4 class="p-text-bold mb-0 mx-2">
          {{ selectedOrgHirNode?.parent?.label }}
        </h4>
        <p-tag [value]="selectedOrgHirNode?.label" severity="primary"></p-tag>
      </ng-template>
    </ng-container>
  </header>

  <form [formGroup]="form" class="p-fluid p-grid mt-7">
    <div class="p-field p-col-12 p-md-6">
      <!-- NameEn -->
      <span class="p-float-label">
        <input type="text" formControlName="nameEn" pInputText />
        <label>
          {{ "ORG_HIE.NAME_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['nameEn'].touched &&
          !form.controls['nameEn'].valid &&
          form.controls['nameEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <!-- NameAr -->
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="nameAr" pInputText />
        <label>
          {{ "ORG_HIE.NAME_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['nameAr'].touched &&
          !form.controls['nameAr'].valid &&
          form.controls['nameAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('arabic')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>
    <!-- Type -->
    <div class="p-field p-col-12 p-md-12">
      <p-dropdown
        [options]="orgHirTypes$ | async"
        formControlName="bcOrgHirType"
        [autoDisplayFirst]="false"
        [showClear]="true"
        dataKey="id"
        placeholder=" {{ 'ORG_HIE.TYPE' | translate }}"
      >
        <ng-template let-item pTemplate="selectedItem">
          {{ item | translateObj }}
        </ng-template>
        <ng-template let-item pTemplate="item">
          {{ item | translateObj }}
        </ng-template>
      </p-dropdown>
    </div>

    <ng-container>
      <!-- Users Details -->
      <div class="p-d-flex p-flex-column p-md-12">
        <header class="border-bottom py-4">
          <h4 class="p-text-bold mb-0">
            {{ "ORG_HIE.USER_MGMT" | translate }}
          </h4>
        </header>
      </div>
      <!-- deparement manager -->
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          [options]="users$ | async"
          [autoDisplayFirst]="false"
          [showClear]="true"
          appendTo="body"
          dataKey="id"
          formControlName="manager"
          [filter]="true"
          filterBy="nameAr,nameEn"
          (onFilter)="loadUsers($event?.filter)"
          placeholder="{{ 'ORG_HIE.DEPARTMENT.DEPT_MGMT' | translate }}"
        >
          <ng-template let-item pTemplate="selectedItem">
            {{ item | translateObj }}
          </ng-template>

          <ng-template let-item pTemplate="item">
            {{ item | translateObj }}
          </ng-template>
        </p-dropdown>

        <ng-container
          *ngIf="
            form.controls['manager'].touched &&
            !form.controls['manager'].valid &&
            form.controls['manager'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['manager'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- coordinator  -->
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
        [options]="users$ | async"
        [autoDisplayFirst]="false"
        [showClear]="true"
        appendTo="body"
        dataKey="id"
        formControlName="coordinator"
        [filter]="true"
        filterBy="nameAr,nameEn"
        (onFilter)="loadUsers($event?.filter)"
          placeholder="{{
            'ORG_HIE.DEPARTMENT.FIRST_BUSI_COORDINATOR' | translate
          }}"
        >
          <ng-template let-item pTemplate="selectedItem">
            {{ item | translateObj }}
          </ng-template>

          <ng-template let-item pTemplate="item">
            {{ item | translateObj }}
          </ng-template>
        </p-dropdown>

        <ng-container
          *ngIf="
            form.controls['coordinator'].touched &&
            !form.controls['coordinator'].valid &&
            form.controls['coordinator'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['coordinator'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
    </ng-container>
  </form>

  <div class="p-col p-d-flex">
    <button
      (click)="submit()"
      pButton
      [loading]="loading$ | async"
      icon="pi pi-save"
      label="{{ 'ACTIONS.SAVE' | translate }}"
    ></button>
    <div class="ml-dir-auto"></div>
    <ng-container>
      <div class="mx-1">
        <button
          (click)="deleteHir()"
          [loading]="loading$ | async"
          pButton
          type="button"
          label="{{ 'ORG_HIE.DELETE' | translate }}"
          icon="pi pi-trash"
          class="p-button-outlined"
        ></button>
      </div>
    </ng-container>
  </div>
</div>
