<div class="p-toolbar-group-right">
  <button
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <span>{{ "IMPACT_ANALYSIS.ADD_NEW" | translate }}</span>
      <span
        *ngIf="true"
        class="label label-lg label-light-primary label-inline"
      >
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      <span
        *ngIf="false"
        class="label label-lg label-light-success label-inline"
      >
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="typeEn" pInputText />
        <label>
          {{ "LOC_TYPE.TYPE_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['typeEn'].touched &&
          !form.controls['typeEn'].valid &&
          form.controls['typeEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="typeAr" pInputText />
        <label>
          {{ "LOC_TYPE.TYPE_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['typeAr'].touched &&
          !form.controls['typeAr'].valid &&
          form.controls['typeAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeAr'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="d-flex">
      <p>{{ "IMPACT_ANALYSIS.LOW" | translate }}</p>
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="lowDescAr" pInputText />
          <label>
            {{ "LOC_TYPE.TYPE_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['lowDescAr'].touched &&
            !form.controls['lowDescAr'].valid &&
            form.controls['lowDescAr'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['lowDescAr'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="p-error mb-0"
            *ngIf="form.controls['lowDescAr'].hasError('arabic')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="lowDescEn" pInputText />
          <label>
            {{ "LOC_TYPE.TYPE_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['lowDescEn'].touched &&
            !form.controls['lowDescEn'].valid &&
            form.controls['lowDescEn'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['lowDescEn'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="p-error mb-0"
            *ngIf="form.controls['lowDescEn'].hasError('english')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
          </p>
        </ng-container>
      </div>
    </div>


  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
