::ng-deep {
  @-webkit-keyframes ripple {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes ripple {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes ripple {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .status-item {
    display: flex;
    align-items: center;
    gap: 5px;
    .level-badge {
      width: 25px;
      height: 25px;
      border-radius: 5px;
      &.golden {
        background-color: #fbb034;
        background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
      }

      &.bronze {
        background-color: #804a00;
        background-image: linear-gradient(315deg, #804a00 0%, #b08d57 74%);
      }

      &.silver {
        background-color: #5b6467;
        background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
      }
    }
  }
}
