<h1 mat-dialog-title>{{ "SYS_STATUS.TITLE" | translate }}</h1>
<div mat-dialog-content class="w-450px min-h-300px">
  <p>{{ "SYS_STATUS.DETAILS" | translate }}</p>

  <div class="p-field">
    <p-dropdown
      [options]="themeTypes"
      [formControl]="control"
      [autoDisplayFirst]="false"
      [showClear]="true"
      placeholder=" {{ 'SYS_STATUS.TITLE' | translate }}"
      [styleClass]="'w-100'"
    >
      <ng-template let-item pTemplate="selectedItem">
        <div class="status-item">
          <div class="level-badge" [class]="item.value"></div>
          {{ item | translateObj }}
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div class="status-item">
          <div class="level-badge" [class]="item.value"></div>
          {{ item | translateObj }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div *ngIf="control.value" class="p-field mt-10">
    <span class="p-float-label">
      <textarea
        pInputText
        type="text"
        [formControl]="reasonControl"
        rows="5"
        class="w-100"
      ></textarea>
      <label>
        {{ "SHARED.REASON" | translate }}
        <strong class="required-asterisk"> * </strong>
      </label>
    </span>

    <ng-container
      *ngIf="
        reasonControl.touched && !reasonControl.valid && reasonControl.dirty
      "
    >
      <p class="p-error mb-0" *ngIf="reasonControl.hasError('required')">
        {{ "VALIDATION_MSG.REQUIRED" | translate }}
      </p></ng-container
    >
  </div>
</div>
<div mat-dialog-actions class="d-flex">
  <button
    mat-button
    mat-dialog-close
    (click)="cancel()"
    class="{{ 'm' + (lang == 'en' ? 'l' : 'r') + '-auto' }}"
  >
    {{ "ACTIONS.CANCEL" | translate }}
  </button>
  <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>
    {{ "ACTIONS.SAVE" | translate }}
  </button>
</div>
