:host ::ng-deep {
  .p-tag {
    font-family: inherit;
  }
  .p-datatable {
    .p-datatable-thead > tr > th {
      border: 0;
    }

    .p-datatable-tbody {
      tr:first-child > td {
        border-top: 1px solid #e9ecef;
      }

      tr:last-child > td {
        border-bottom: 0;
      }

      > tr > td {
        border-width: 1px 0px !important;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
      }

      > tr > td:first-child:not([colspan="100%"]).flag-td {
        border: 0;
        width: 15px;
        padding: 0.3rem 0;
        position: relative;
        div {
          &.table-row-flag-blue-300 {
            background-color: var(--blue-300);
          }

          &.table-row-flag-yellow-600 {
            background-color: var(--yellow-600);
          }
          position: absolute;
          top: 4%;
          height: 92%;
          width: 4px;
        }
      }
    }
  }
  .golden {
    color: black;
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
  }

  .bronze {
    background-color: #804a00;
    background-image: linear-gradient(315deg, #804a00 0%, #b08d57 74%);
  }

  .silver {
    background-color: #5b6467;
    background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  }
}
