<div class="card card-custom shadow-none my-4">
  <div class="card-body p-2">
    <div class="d-flex flex-column align-items-center p-5">
      <div>
        <img width="100px" src="./assets/images/nodata.svg" alt="" />
      </div>
      <p *ngIf="input?.value && !loading" class="text-dark font-size-h6 mb-3">
        {{ "ACTIONS.table_filter" | translate }}"{{ input.value }}"
      </p>
      <p *ngIf="!input?.value && !loading" class="text-dark font-size-h6 mb-3">
        {{ "ACTIONS.table_empty" | translate }}
      </p>
      <p *ngIf="loading" class="text-dark font-size-h6 mb-3">
        {{ "ACTIONS.LOADING" | translate }}
      </p>
    </div>
  </div>
</div>
