<div class="container-fluid">
  <div class="mx-4 my-10">
    <div class="row" *ngIf="state$ | async as state">
      <div class="col-12">
        <p-tabView>
          <p-tabPanel header="{{ 'INCIDENTS.INCIDENTS' | translate }}">
            <ng-template pTemplate="content">
              <app-content-incidents
                [view]="state.view"
                [loading]="loading$ | async"
                [page]="page$ | async"
                [columns]="state.columns"
                [totalRecords]="totalRecords$ | async"
                [pageRequest]="state.pageRequest"
                (onPageChange)="loadPage($event)"
              ></app-content-incidents> </ng-template
          ></p-tabPanel>
          <p-tabPanel header="{{ 'TASK.TASKS' | translate }}"> </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
