<div class="col-lg-12 col-md-4 col-sm-6 item pt-0 pb-4 px-2">
  <div class="card card-custom m-0 shadow-sm h-100">
    <div class="container my-4">
      <span class="card-title font-weight-bolder m-0 d-block number">
        Business Continuity Section - Contact Details
      </span>


      <div class="col-md-3 border m-auto">
          <span class="card-title text-center font-weight-bolder m-0 d-block number">Section Head Name</span>
          <div class="row">
            <div class="py-0 px-2">
              <img class="p-1 avatar align-self-end" src="./assets/media/users/default.jpg"
                   alt="..." />
            </div>
            <div class="px-6 d-flex flex-column">
                <span>Designation</span>
                <a>
                  <p-chip label="Email" icon="pi pi-envelope"
                          styleClass="bg-transparent text-muted"></p-chip>
                </a>
                <a>
                  <p-chip label="Phone" icon="pi pi-phone"
                          styleClass="bg-transparent text-muted"></p-chip>
                </a>
            </div>
          </div>
      </div>
      <br>
      <div class="row">
      <div class="col-md-3 border m-auto">
        <span class="card-title text-center font-weight-bolder m-0 d-block number">Section Head Name</span>
        <div class="row">
          <div class="py-0 px-2">
            <img class="p-1 avatar align-self-end" src="./assets/media/users/default.jpg"
                 alt="..." />
          </div>
          <div class="px-6 d-flex flex-column">
            <span>Designation</span>
            <a>
              <p-chip label="Email" icon="pi pi-envelope"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
            <a>
              <p-chip label="Phone" icon="pi pi-phone"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 border m-auto">
        <span class="card-title text-center font-weight-bolder m-0 d-block number">Section Head Name</span>
        <div class="row">
          <div class="py-0 px-2">
            <img class="p-1 avatar align-self-end" src="./assets/media/users/default.jpg"
                 alt="..." />
          </div>
          <div class="px-6 d-flex flex-column">
            <span>Designation</span>
            <a>
              <p-chip label="Email" icon="pi pi-envelope"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
            <a>
              <p-chip label="Phone" icon="pi pi-phone"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 border m-auto">
        <span class="card-title text-center font-weight-bolder m-0 d-block number">Section Head Name</span>
        <div class="row">
          <div class="py-0 px-2">
            <img class="p-1 avatar align-self-end" src="./assets/media/users/default.jpg"
                 alt="..." />
          </div>
          <div class="px-6 d-flex flex-column">
            <span>Designation</span>
            <a>
              <p-chip label="Email" icon="pi pi-envelope"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
            <a>
              <p-chip label="Phone" icon="pi pi-phone"
                      styleClass="bg-transparent text-muted"></p-chip>
            </a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
