.avatar {
  position: relative;
  display: inline-block;
  width: 60px !important;
  height: 60px !important;
  line-height: 36px;
  border-radius: 20%;
  text-align: center;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
  margin: auto;
}
.overflow-wrap-everywhere {
  overflow-wrap: anywhere;
}
