<div class="p-toolbar-group-right">
  <ng-container *ngIf="activityStatus$ | async as activityStatus">
  <button
    pButton
    [disabled]="(!activityStatus.editable)"
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="toggleDialog()"
  ></button>
  </ng-container>
</div>


<!-- as a dialog -->
<p-dialog *ngIf="asDialog;else page" #dialog [visible]="opened$ | async" (visibleChange)="toggleDialog()" [modal]="true"
          [style]="{width: '55vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [maximizable]="true"
          [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>
<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">

    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh;">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px">
    </div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>
<!-- templates -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <ng-container *ngIf="editMode">
        {{ "EMPLOYEES.EDIT_NEW" | translate }}
        <span class="label label-lg label-light-success label-inline">
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
      </ng-container>
      <ng-container *ngIf="!editMode">
        {{ "EMPLOYEES.ADD_NEW" | translate }}
        <span class="label label-lg label-light-primary label-inline">
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      </ng-container>
    </h3>
    <h3>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
</ng-template>

<ng-template #content>
  <div class="w-100 pt-2">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <form [formGroup]="form" class="p-fluid p-grid mt-5">
      <!-- AR Name -->

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="employeeNameAr" pInputText />
          <label
          >{{ "EMPLOYEES.NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['employeeNameAr'].touched &&
            !form.controls['employeeNameAr'].valid &&
            form.controls['employeeNameAr'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['employeeNameAr'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- En Name -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="employeeNameEn" pInputText />
          <label
          >{{ "EMPLOYEES.NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['employeeNameEn'].touched &&
            !form.controls['employeeNameEn'].valid &&
            form.controls['employeeNameEn'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['employeeNameEn'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- Landline -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input
            cssClass="p-inputtext p-component p-text-left"
            [onlyCountries]="['ae']"
            formControlName="phoneNumber"
            [enablePlaceholder]="false"
            [enableAutoCountrySelect]="true"
            [phoneType]="'FIXED_LINE'"
          >
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "EMPLOYEES.LANDLINE" | translate }}
            <span class="required-asterisk">*</span>
          </label>
        </span>
        <ng-container
          *ngIf="
            this.form.get('phoneNumber').touched &&
            !this.form.get('phoneNumber').valid &&
            this.form.get('phoneNumber').dirty
          "
        >
          <p
            class="dir-text"
            class="p-error mb-0"
            *ngIf="this.form.get('phoneNumber').hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="dir-text"
            class="p-error mb-0"
            *ngIf="this.form.get('phoneNumber').hasError('validatePhoneNumber')"
          >
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- Mobile -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input
            cssClass="p-inputtext p-component p-text-left"
            [onlyCountries]="['ae']"
            formControlName="mobileNumber"
            [enablePlaceholder]="false"
            [enableAutoCountrySelect]="true"
            [phoneType]="'MOBILE'"
          >
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "EMPLOYEES.MOBILE" | translate }}
            <span class="required-asterisk">*</span>
          </label>
        </span>
        <ng-container
          *ngIf="
            this.form.get('mobileNumber').touched &&
            !this.form.get('mobileNumber').valid &&
            this.form.get('mobileNumber').dirty
          "
        >
          <p
            class="dir-text"
            class="p-error mb-0"
            *ngIf="this.form.get('mobileNumber').hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="dir-text"
            class="p-error mb-0"
            *ngIf="
              this.form.get('mobileNumber').hasError('validatePhoneNumber')
            "
          >
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- OTHER_PHONE -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input
            cssClass="p-inputtext p-component p-text-left"
            [onlyCountries]="['ae']"
            formControlName="secondNumber"
            [enablePlaceholder]="false"
            [enableAutoCountrySelect]="true"
            [phoneType]="'FIXED_LINE_OR_MOBILE'"
          >
          </ngx-intl-tel-input>
          <label>{{ "EMPLOYEES.OTHER_PHONE" | translate }} </label>
        </span>
        <ng-container
          *ngIf="
            this.form.get('secondNumber').touched &&
            !this.form.get('secondNumber').valid &&
            this.form.get('secondNumber').dirty
          "
        >
          <p
            class="dir-text"
            class="p-error mb-0"
            *ngIf="
              this.form.get('secondNumber').hasError('validatePhoneNumber')
            "
          >
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="email" pInputText />
          <label>
            {{ "SHARED.EMAIL" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['email'].touched &&
            !form.controls['email'].valid &&
            form.controls['email'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['email'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>

          <p
            class="p-error mb-0"
            *ngIf="form.controls['email'].hasError('pattern')"
          >
            {{ "VALIDATION_MSG.EMAIL.INVALID" | translate }}
          </p>

          <p
            class="p-error mb-0"
            *ngIf="form.controls['email'].hasError('alreadyInUse')"
          >
            {{ "VALIDATION_MSG.EMAIL.INUSE" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- IsPrimary -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <label>
            {{ "EMPLOYEES.TYPE" | translate }}
          </label>
          <div class="d-flex">
            <p-selectButton
              [options]="employeesTypes"
              optionLabel="name"
              optionValue="value"
              formControlName="isPrimary"
            >
              <ng-template let-item>
                <span> {{ item?.name | translate }}</span>
                <!-- <i [class]="item.icon"></i> -->
              </ng-template>
            </p-selectButton>
          </div>
        </span>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #footer>
  <div class="p-col p-d-flex">



  </div>
  <div class="p-col p-d-flex">
    <button *ngIf="asDialog" pButton icon="pi pi-times" (click)="close()"
            label="{{'ACTIONS.CLOSE' | translate }}"></button>

    <div class="ml-dir-auto"></div>
    <ng-container *ngIf="">
      <div class="mx-1">
        <button pButton type="button" label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-replay"
                class="p-button-outlined" [loading]="blocking$ | async" (click)="clear()"></button>
      </div>
    </ng-container>
      <div class="mx-1">
        <ng-container *ngIf="activityStatus$ | async as activityStatus">
        <button pButton label="{{ 'ACTIONS.SAVE' | translate }}"
                [disabled]="(!activityStatus.editable) || form.invalid"
                icon="pi pi-save" [loading]="blocking$ | async"
                (click)="submit()"></button>
        </ng-container>
      </div>
  </div>
</ng-template>

