<!-- as a dialog -->
<p-dialog
  #dialog
  [visible]="opened$ | async"
  [modal]="true"
  (visibleChange)="close()"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px"></div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'ACTIVITY_DIALOG.ACTIVITY_DETAILS' | translate}}
        <span class="label label-lg label-light-success label-inline">
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'ACTIVITY_DIALOG.ADD_NEW_ACTIVITY' | translate}}
        <span class="label label-lg label-light-primary label-inline">
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      </ng-container>
      <ng-container *ngIf="viewOnly$ | async">
        {{'ACTIVITY_DIALOG.VIEW_ACTIVITY' | translate}}
      </ng-container>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
</ng-template>

<!-- templates content -->
<ng-template #content>
  <div
    class="w-100 pt-2"
    [ngStyle]="{
      height: !asDialog ? '100%' : dialog?.maximized ? '100%' : '65vh'
    }"
  >
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>

    <div class="p-col-12">
      <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
          <i class="pi pi-id-card p-mx-2"></i>
          <b>
            {{ "ACTIVITY_DIALOG.BELONG" | translate }}
          </b>
        </div>
      </p-divider>
    </div>

    <form [formGroup]="form" class="p-fluid p-grid mt-5">
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <p-treeSelect
            [options]="orgHir"
            display="chip"
            [metaKeySelection]="false"
            [filter]="true"
            [filterBy]="'data.nameAr,data.nameEn,data.code'"
            selectionMode="single"
            formControlName="dept"
            [loading]="loadingOrgHir$ | async"
            (onFilter)="filterOrgHir($event)"
            (onNodeExpand)="nodeExpand($event?.node)"
            placeholder="{{ 'DEPT_HIERARCHY' | translate }}"
            [propagateSelectionDown]="false"
            [propagateSelectionUp]="false"
          >
            <ng-template let-option let-placeholder pTemplate="value">
              {{ option | translateObj : "label" }}
            </ng-template>
          </p-treeSelect>
          <label
            >{{ "DEPT_HIERARCHY" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['dept'].touched &&
            !form.controls['dept'].valid &&
            form.controls['dept'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['dept'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-col-12">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-id-card p-mx-2"></i>
            <b>
              {{ "ACTIVITY_DIALOG.ACTIVITY_DETAILS" | translate }}
            </b>
          </div>
        </p-divider>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameAr" pInputText />
          <label>
            {{ "ACTIVITY_DIALOG.NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container *ngIf="form.controls['nameAr'].touched && !form.controls['nameAr'].valid &&
            form.controls['nameAr'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('arabic')">
            {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameEn" pInputText />
          <label>
            {{ "ACTIVITY_DIALOG.NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['nameEn'].touched &&!form.controls['nameEn'].valid && form.controls['nameEn'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('english')">
            {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-md-offset-p-col-12 p-md-12">
        <span class="p-float-label">
          <textarea
            pInputText
            type="text"
            formControlName="description"
            rows="5"
          ></textarea>
          <label>
            {{ "ACTIVITY_DIALOG.ACTIVITY_DESC" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>

        </span>
        <ng-container
          *ngIf="
            form.controls['description'].touched &&
            !form.controls['description'].valid &&
            form.controls['description'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['description'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown
            [options]="activityFre$ | async"
            [autoDisplayFirst]="false"
            formControlName="activityFrequence"
            [filter]="true"
            filterBy="nameAr,nameEn"
            dataKey="id"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template let-option pTemplate="selectedItem">
              {{ option | translateObj : "name" }}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option | translateObj : "name" }}
            </ng-template>
          </p-dropdown>
          <label>
            {{ "ACTIVITY_DIALOG.ACTIVITY_FEQ" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['activityFrequence'].touched &&
            !form.controls['activityFrequence'].valid &&
            form.controls['activityFrequence'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['activityFrequence'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="externalReference" pInputText />
          <label>
            {{ "ACTIVITY_DIALOG.ARIC_GUID" | translate }}
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['externalReference'].touched &&
            !form.controls['externalReference'].valid &&
            form.controls['externalReference'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['externalReference'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="p-error mb-0"
            *ngIf="form.controls['externalReference'].hasError('english')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-col-12">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-id-card p-mx-2"></i>
            <b>
              {{ "ACTIVITY_AREA" | translate }}
            </b>
          </div>
        </p-divider>
      </div>

      <div class="p-field p-col-6 p-md-4">
        <p-selectButton
          [options]="justifyOptions"
          formControlName="internal"
          optionLabel="icon"
        >
          <ng-template let-item>
            <div class="justify-content-between">
              <i [class]="item.icon"></i>
              <label class="p-2">{{ item | translateObj : "name" }}</label>
            </div>
          </ng-template>
        </p-selectButton>

        <ng-container
          *ngIf="
            form.controls['internal'].touched &&
            !form.controls['internal'].valid &&
            form.controls['internal'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['internal'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
    </form>
  </div>
</ng-template>

<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <button
      *ngIf="asDialog"
      pButton
      icon="pi pi-times"
      (click)="close()"
      label="{{ 'ACTIONS.CLOSE' | translate }}"
    ></button>

    <button
      *ngIf="!asDialog"
      pButton
      icon="pi pi-sign-out"
      (click)="close()"
      label="{{ 'ACTIONS.BACK' | translate }}"
    ></button>
    <div class="ml-dir-auto"></div>

    <ng-container *ngIf="!(viewOnly$ | async)">
      <div class="mx-1">
        <button
          pButton
          type="button"
          label="{{ 'ACTIONS.CLEAR' | translate }}"
          icon="pi pi-replay"
          class="p-button-outlined" [loading]="blocking$ | async" (click)="clear()"
        ></button>
      </div>
    </ng-container>

    <div class="mx-1" *ngIf="!(viewOnly$ | async)">
      <button
        pButton
        label="{{ 'ACTIONS.SAVE' | translate }}"
        icon="pi pi-save"
        [loading]="blocking$ | async"
        (click)="submit()"
      ></button>
    </div>
  </div>
</ng-template>
