<div *ngIf="state$ | async as state">
  <ng-container *ngIf="versionId; else elseTemplate">
    <app-content-imp-level-working
      [loading]="loading$ | async"
      [page]="page$ | async"
      [columns]="state.columns"
      [pageRequest]="state?.pageRequest"
      [totalRecords]="totalRecords$ | async"
      (onPageChange)="loadPage($event)"
    ></app-content-imp-level-working>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="col-xl-6 m-auto pt-30">
      <!--begin::Engage Widget 2-->
      <div class="card card-custom card-stretch gutter-b shadow-none">
        <div class="card-body d-flex p-0">
          <div
            class="d-flex flex-column p-ai-center bg-light-primary p-8 card-rounded flex-grow-1"
          >
            <div>
              <i class="flaticon2-information icon-4x"></i>
            </div>
            <h4 class="t-2 font-weight-bolder">
              {{ "SELECT_MSG_INFO" | translate }}
            </h4>
            <p class="my-6">
              {{ "SELECT_MSG_ACTION" | translate }}
            </p>
          </div>
        </div>
      </div>
      <!--end::Engage Widget 2-->
    </div>
  </ng-template>
</div>
