<div class="container-fluid">
  <div
    class="py-4 my-3 d-flex align-item-center top-header justify-content-between"
  >
    <div class="main-title">
      <button
        (click)="back()"
        class="btn btn-link-primary btn-sm font-weight-bold cursor-pointer mx-2"
      >
        <span
          inlineSVG="{{
            lang == 'en'
              ? '/assets/media/svg/icons/Navigation//Angle-left.svg'
              : '/assets/media/svg/icons/Navigation//Angle-right.svg'
          }}"
          cacheSVG="true"
          class="svg-icon svg-icon-2x"
          title="{{ 'SHARED.BACK' | translate }}"
        ></span>
      </button>

      <!-- larg screen -->
      <button
        (click)="drawer.toggle()"
        class="btn btn-primary border btn-sm mx-2 d-none d-md-block"
      >
        <span
          inlineSVG="/assets/media/svg/icons/Text/Menu.svg"
          cacheSVG="true"
          class="svg-icon svg-icon-lg m-0"
        ></span>
      </button>
      <h2 class="card-title m-0 d-flex align-items-center">
        {{ incidentDetails?.subject }}
      </h2>
    </div>

    <div class="spacer" [ngClass]="{ loading: this.isExportingPDF }">
      <div class="spinner-container" *ngIf="isExportingPDF">
        <mat-spinner class="m-auto" diameter="40"></mat-spinner>
      </div>
    </div>

    <div class="d-flex flex-row">
      <!-- on  mobile -->
      <button
        (click)="drawer.toggle()"
        class="btn btn-primary border btn-sm mx-2 d-block d-md-none"
      >
        <span
          inlineSVG="/assets/media/svg/icons/Text/Menu.svg"
          cacheSVG="true"
          class="svg-icon svg-icon-lg m-0"
        ></span>
      </button>
      <ng-container *appPrivileges="'PRIV_CL_INC'">
        <button
          [hidden]="
            incidentDetails?.status?.id > 1 ||
            hideCloseAndExportIncidentReportBtn
          "
          class="btn btn-md btn-square btn-danger font-weight-bold cursor-pointer py-2 mx-2"
          (click)="closeIncidentConfirm()"
          style="width: 200px !important"
        >
          {{ "INCIDENTS.CLOSE_INCIDENT" | translate }}
        </button>
      </ng-container>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <span
          [inlineSVG]="'./assets/media/svg/icons/General/Other1.svg'"
          class="svg-icon svg-icon-lg svg-icon-primary"
        ></span>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *appPrivileges="'PRV_ED_INC'">
          <button
            mat-menu-item
            style="text-align: start !important"
            *ngIf="
              canUserUpdate(incidentDetails?.responsibleOrg?.id) &&
              incidentDetails.status.id !== 2 &&
              incidentDetails.status.id !== 3 &&
              incidentDetails.status.id !== 4
            "
            (click)="goToUpdateIncidentPage()"
          >
            <mat-icon>edit</mat-icon>
            <span>{{ "INCIDENTS.UPDATE_INCIDENT" | translate }}</span>
          </button>
        </ng-container>
        <!--  -->
        <ng-container>
          <button
            style="text-align: start !important"
            mat-menu-item
            [hidden]="hideCloseAndExportIncidentReportBtn"
            (click)="showIncidentLogAttachmentModal()"
            [disabled]="isExportingPDF"
          >
            <mat-icon>picture_as_pdf</mat-icon>
            {{ "ACTIONS.EXPORT_INCIDENT_REPORT" | translate }}
          </button>
        </ng-container>
      </mat-menu>
    </div>
  </div>

  <div class="d-flex flex-row">
    <mat-drawer-container autosize style="min-height: 800px">
      <mat-drawer
        #drawer
        class="sidenav-fixed"
        [mode]="isMobileView ? 'over' : 'side'"
      >
        <div class="flex-row-auto w-200px w-xxl-275px h-100 side-menu">
          <!--begin::Card-->
          <div class="card card-custom card-stretch pb-10">
            <!--begin::Body-->
            <div class="card-body px-3 pt-0">
              <!--begin::Navigations-->

              <h5 class="m-0 p-3 d-flex font-weight-normal align-items-center">
                {{ "ACTIONS.ChooseOption" | translate }}
              </h5>

              <perfect-scrollbar
                style="
                  max-width: 600px;
                  max-height: 950px;
                  padding-bottom: 10px;
                "
              >
                <div
                  class="navi navi-hover navi-active navi-link-rounded navi-bold scroll scroll-pull"
                  perfectScrollbar
                  data-scroll="true"
                  data-wheel-propagation="true"
                >
                  <!--begin::Item-->
                  <div
                    *ngFor="let item of tabs; let i = index"
                    (click)="changeCurrentTab(item)"
                    class="navi-item my-4 cursor-pointer"
                  >
                    <ng-container *ngIf="item.privileges; else elseTemplate">
                      <ng-container *appPrivileges="item.privileges">
                        <a
                          class="navi-link border px-1"
                          [class]="item.index == currentTab ? 'active' : ''"
                        >
                          <span class="navi-icon mx-2">
                            <span class="svg-icon svg-icon-md">
                              <span
                                [inlineSVG]="
                                  './assets/media/svg/icons/' +
                                  item.icon +
                                  '.svg'
                                "
                                cacheSVG="true"
                                class="svg-icon svg-icon-lg"
                                [class]="
                                  item.index == currentTab
                                    ? 'svg-icon-light'
                                    : 'svg-icon-dark-50'
                                "
                              ></span>
                            </span>
                          </span>
                          <span
                            class="navi-text font-weight-bold font-size-md"
                            >{{ item.key | translate }}</span
                          >
                        </a>
                      </ng-container>
                    </ng-container>
                    <ng-template #elseTemplate>
                      <div>
                        <a
                          class="navi-link border px-1"
                          [class]="item.index == currentTab ? 'active' : ''"
                        >
                          <span class="navi-icon mx-2">
                            <span class="svg-icon svg-icon-md">
                              <span
                                [inlineSVG]="
                                  './assets/media/svg/icons/' +
                                  item.icon +
                                  '.svg'
                                "
                                cacheSVG="true"
                                class="svg-icon svg-icon-lg"
                                [class]="
                                  item.index == currentTab
                                    ? 'svg-icon-light'
                                    : 'svg-icon-dark-50'
                                "
                              ></span>
                            </span>
                          </span>
                          <span
                            class="navi-text font-weight-bold font-size-md"
                            >{{ item.key | translate }}</span
                          >
                        </a>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </perfect-scrollbar>

              <!--end::Navigations-->
            </div>
            <!--end::Body-->
          </div>
          <!--end::Card-->
        </div>
      </mat-drawer>
      <!-- blank div  just to make  space instaed of  using margin or padding -->
      <div *ngIf="!isMobileView" class="w-20px d-block"></div>

      <!-- table  content -->
      <div
        class="card card-custom min-h-500px flex-row-fluid d-block spin-overlay"
      >
        <div class="overlay-wrapper h-100">
          <div class="overlay-layer rounded bg-primary-o-20">
            <div class="spinner spinner-primary spinner-lg spinner-left"></div>
          </div>

          <div class="d-flex flex-column list-content">
            <div
              [hidden]="currentTab != 0"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <div class="card card-custom card-stretch px-4 shadow-none">
                <!-- Header -->
                <h5
                  class="card-title font-weight-normal border-bottom m-0 mb-3 p-3 pb-6 d-flex align-items-center"
                >
                  {{ tabs[0]?.key | translate }}
                </h5>
                <!-- Body -->
                <div class="card-body px-0 pt-4 incident-view-info">
                  <div class="row">
                    <!--row  -->

                    <!-- Incidents Category -->
                    <div class="col-md-6 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Layout/Layout-4-blocks.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.CATEGORY" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{
                                incidentDetails?.incidentParentCategory | locale
                              }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- Incidents Sub Category  -->
                    <div class="col-md-6 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Layout/Layout-grid.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.SUBCATEGORY" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.incidentCategory | locale }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- Incidint Number-->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center mb-10 border rounded"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Custome/hashtag.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.SERIAL" | translate }}

                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.year }}/{{
                                incidentDetails?.serial
                              }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- incident Date -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Code/Time-schedule.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.DATE" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{
                                incidentDetails?.incidentDate | date : "medium"
                              }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- row -->
                    <!--Incidint status -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Custome/status.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.STATUS" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ getStatusId(incidentDetails?.status?.id) }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- Incidint priority -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/General/Fire.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.PRIORITY" | translate }}
                          </a>
                          <span class="text-muted" [class]="priorityStyle">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{
                                getPriorityNameId(incidentDetails?.priority?.id)
                              }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- Incidint city-->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Map/Marker1.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.CITY" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ getCityId(incidentDetails?.city?.id) }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!--incident  kpi id -->
                    <div
                      class="col-md-4 col-sm-6 info-item p-3"
                      *ngIf="getkpi(incidentDetails?.kpi?.id)"
                    >
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/General/Thunder-move.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.kpi" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ getkpi(incidentDetails?.kpi?.id) }}
                            </p>
                            <span
                              class="text-muted font-weight-bold mt-1 font-size-md"
                              style="display: inline-block"
                              >{{ "INCIDENTS.KPI_PERIOD" | translate }}</span
                            >
                            -
                            <span
                              style="display: inline-block"
                              class="text-muted font-weight-bold mt-1 font-size-md"
                              >{{ kpiPeriod }}</span
                            >
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!--survey review-->
                    <ng-container *appPrivileges="'PRIV_VW_INC_SURVEY'">
                      <div class="col-md-5 col-sm-6 info-item p-3">
                        <div
                          class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                        >
                          <app-incident-survey
                            [incidentId]="incidentId"
                          ></app-incident-survey>
                        </div>
                      </div>
                    </ng-container>
                    <!-- Incidents Desc -->
                    <div
                      class="col-12 mt-5 info-item"
                      *ngIf="canShowDescription()"
                    >
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center mb-10 border py-4 rounded"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-3">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Files/Selected-file.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-2x p-3 svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.DESCRIPTION" | translate }}
                          </a>
                          <div
                            class="text-dark font-size-h5"
                            style="line-break: anywhere"
                          >
                            {{ incidentDetails?.description }}
                          </div>
                        </div>
                        <!--end::Text-->
                      </div>
                      <!--end::Item-->
                    </div>
                    <!-- row -->

                    <!-- Header -->
                    <h5
                      class="card-title font-weight-normal border-bottom w-100 m-3 p-3 pt-6 d-flex align-items-center"
                    >
                      {{ "INCIDENTS.relatedOrgs" | translate }}
                    </h5>
                    <!-- responsible org -->
                    <div class="col-md-4 col-sm-6 p-3 info-item">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <i class="flaticon-medal icon-lg text-primary"></i>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm font-size-lg">
                            {{
                              "INCIDENTS.RESPONSIBLE_ORGANIZATION" | translate
                            }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.responsibleOrg | locale }}
                            </p>
                          </span>
                        </div>
                        <div class="spacer"></div>
                        <!--end::Text-->
                        <ng-container *appPrivileges="'PRV_ED_INC'">
                          <button
                            *ngIf="canEdit"
                            class="mx-3 btn btn-sm btn-clean btn-icon mr-1 resp"
                            (click)="
                              openModal(
                                'edit',
                                incidentDetails?.responsibleOrg?.id,
                                incidentDetails?.id
                              );
                              $event.stopPropagation()
                            "
                          >
                            <span
                              [inlineSVG]="
                                '/assets/media/svg/icons/Communication/Write.svg'
                              "
                              cacheSVG="true"
                              class="svg-icon svg-icon-md svg-icon-primary"
                            ></span>
                          </button>
                        </ng-container>
                      </div>
                    </div>

                    <!-- Incidint leader org -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5 text-primary">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Custome/government.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.SPECIALIZED_CENTER" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ Porg }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- Incidint groups and teams -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <!--begin::Item-->
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-3 text-primary">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Communication/Group.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-2x p-3 svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.GROUPS" | translate }}
                          </a>
                          <div class="text-dark">
                            <a
                              [routerLink]="'/groups-managements/groups'" [queryParams]="{_dialog: 'opened', _id: group.group?.id,_mode:'viewonly'}"
                              target="_blank"
                              *ngFor="
                                let group of incidentDetails?.incidentGroups;
                                let i = index
                              "
                              class="text-primary d-block p-1"
                              style="font-weight: 700 !important"
                            >
                              {{ getIncidentGroupName(i) }}
                            </a>
                          </div>
                        </div>
                        <!--end::Text-->
                      </div>
                      <!--end::Item-->
                    </div>

                    <!-- row -->
                    <!-- Header -->
                    <h5
                      class="card-title font-weight-normal border-bottom w-100 m-3 p-3 pt-6 d-flex align-items-center"
                    >
                      {{ "INCIDENTS.relatedUser" | translate }}
                    </h5>

                    <!-- reportedByName -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/General/User.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.REPORTEDBYNAME" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.reportedByName }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- reportedByEmail -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Communication/Mail.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.REPORTEDBYEMAIL" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.reportedByEmail }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>

                    <!-- reportedByMobile -->
                    <div class="col-md-4 col-sm-6 info-item p-3">
                      <div
                        class="d-flex w-100 h-100 align-items-center border rounded mb-10"
                      >
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40 mx-5">
                          <span class="">
                            <span
                              [inlineSVG]="
                                './assets/media/svg/icons/Devices/iPhone-X.svg'
                              "
                              class="svg-icon svg-icon-lg svg-icon-primary"
                            ></span>
                          </span>
                        </div>
                        <!--end::Symbol-->

                        <!--begin::Text-->
                        <div class="d-flex flex-column font-weight-bold">
                          <a class="text-dark mb-1 text-size-sm">
                            {{ "INCIDENTS.REPORTEDBYMOBILE" | translate }}
                          </a>
                          <span class="text-muted">
                            <p
                              class="text-dark-75 font-weight-bolder mb-1 font-size-lg"
                            >
                              {{ incidentDetails?.reportedByMobile }}
                            </p>
                          </span>
                        </div>
                        <!--end::Text-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--challenges-->
            <div
              [hidden]="currentTab != 1"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #challengesContainer></ng-container>
            </div>

            <!-- worklog Section -->
            <div
              [hidden]="currentTab != 2"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #worklogContainer></ng-container>
            </div>

            <!-- operational Reports -->

            <div
              [hidden]="currentTab != 3"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #operationalReportsContainer></ng-container>
            </div>

            <!-- Tasks for incident -->
            <div
              [hidden]="currentTab != 4"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #tasksContainer></ng-container>
            </div>

            <!-- Map information -->
            <div
              [hidden]="currentTab != 5"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <div class="card-body pt-0 map-card">
                <div class="row border-bottom mb-3 p-2 pb-4 align-items-center">
                  <div class="col">
                    <h5 class="card-title font-weight-normal mb-0">
                      {{ tabs[5]?.key | translate }}
                    </h5>
                  </div>
                  <button
                    *ngIf="showMapLocation"
                    class="btn btn-primary btn-sm"
                    (click)="openShareMapLocationDialog()"
                  >
                    {{ "INCIDENTS.SHARE_LOCATION_GOOGLE_MAPS" | translate }}
                    <span class="fa fa-share-alt text-white"></span>
                  </button>
                </div>
                <app-map
                  *ngIf="showMapComponent"
                  [config]="{
                    mapType: 'incident',
                    zoomModel: {
                      referenceId: incidentDetails?.id,
                      featureName: incidentDetails?.featureName || 'Inc_point'
                    },
                    viewOnly: true,
                    showLayers: false,
                    pointLocation: this.addressPointLocation
                  }"
                  (OnFetchCoordinates)="showShareMapLocation($event)"
                >
                </app-map>
              </div>
            </div>

            <!-- list Of files -->
            <div
              *ngIf="currentTab == 6"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <app-files-list
                [recordId]="incidentId"
                [tagId]="INCIDENT_TAG_ID"
                [foreignHelperId]=""
                [reporterTagId]="REPORTER_TAG_ID"
              >
              </app-files-list>
            </div>

            <!-- statistics graphs -->
            <div
              [hidden]="currentTab != 7"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #hospitalsContainer></ng-container>
            </div>

            <!-- Assets graphs -->

            <div
              [hidden]="currentTab != 8"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <section class="mt-2">
                <div class="row">
                  <div class="col-12 h-100">
                    <div class="d-flex align-items-center border-bottom p-3">
                      <h5 class="card-title font-weight-normal m-0">
                        {{ "INCIDENTS.ASSETS" | translate }}
                      </h5>
                      <button
                        class="btn btn-icon btn-primary btn-sm btn-circle font-weight-bolder cursor-pointer mx-3"
                        (click)="openAssetForm()"
                      >
                        <span
                          [inlineSVG]="'/assets/media/svg/icons/Code/Plus.svg'"
                          cacheSVG="true"
                          class="svg-icon svg-icon-md"
                        ></span>
                      </button>
                    </div>

                    <form [formGroup]="form">
                      <app-assets-info
                        #assetEl
                        class="h-75"
                        [incidentId]="incidentId"
                        [assetData]="assetData"
                      >
                      </app-assets-info>
                    </form>
                  </div>
                </div>
              </section>
            </div>

            <div
              [hidden]="currentTab != 9"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <section class="mt-2">
                <div class="row">
                  <div class="col-12 h-100">
                    <div class="d-flex align-items-center border-bottom p-3">
                      <h5 class="card-title font-weight-normal m-0">
                        {{ "INCIDENTS.LOCATION_EVENTS" | translate }}
                      </h5>
                    </div>

                    <form [formGroup]="form">
                      <app-location-updates
                        *ngIf="incidentDetails"
                        [incidentData]="incidentDetails"
                      >
                      </app-location-updates>
                    </form>
                  </div>
                </div>
              </section>
            </div>
            <!-- Reminder tab -->
            <div
              [hidden]="currentTab != 10"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #reminderContainer></ng-container>
            </div>
            <!-- Notifications tab -->
            <div
              [hidden]="currentTab != 11"
              [dir]="lang === 'en' ? 'ltr' : 'rtl'"
              class="w-100"
            >
              <ng-container #notificationsContainer></ng-container>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</div>
