<section>
  <header class="border-bottom py-8">
    <h4 class="text-info p-text-bold mb-0">{{ "ORG_DETAILS" | translate }}</h4>
  </header>
  <div #wrapper class="p-d-flex p-flex-column position-relative">
    <form [formGroup]="form" class="p-fluid p-grid mt-5 p-6">
      <!-- nameAr readonly -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameAr" pInputText readonly />
          <label>
            {{ "ORG_NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
      </div>

      <!-- nameEn readonly -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameEn" pInputText readonly />
          <label>
            {{ "ORG_NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
      </div>

      <!-- desc -->
      <div class="p-field p-col-12 p-md-12 mt-4">
        <span class="p-float-label">
          <textarea
            pInputTextarea
            formControlName="description"
            rows="7"
          ></textarea>

          <label>
            {{ "DESC" | translate }}
          </label>
        </span>
      </div>

      <!-- employee  -->
      <div class="p-field p-col-12 p-md-4 mt-4">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="employeeNumbers"
            inputId="minmax"
            inputId="minmax"
            mode="decimal"
            [min]="0"
          >
          </p-inputNumber>

          <label>{{ "EMPLOYEES" | translate }} </label>
        </span>
      </div>
      <!--  activities -->
      <div class="p-field p-col-12 p-md-4 mt-4">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="operationNumbers"
            inputId="minmax"
            inputId="minmax"
            mode="decimal"
            [min]="0"
          >
          </p-inputNumber>
          <label>{{ "ACTIVITIES" | translate }} </label>
        </span>
      </div>

      <!-- compliance Percentage  -->
      <div class="p-field p-col-12 p-md-4 mt-4">
        <span class="p-float-label">
          <p-inputNumber
            formControlName="nationalCompliance"
            inputId="minmax"
            mode="decimal"
            [min]="0"
          >
          </p-inputNumber>

          <label>{{ "COMPLIANCE_PERCENTAGE" | translate }} </label>
        </span>
      </div>
    </form>
    <div class="p-d-flex p-3 p-jc-center mt-10">
      <p-button
        *checkPrivileges="'PRIV_ED_BC_LISTS'"
        label="{{ 'SHARED.SAVE' | translate }}"
        icon="pi pi-save"
        styleClass="p-button"
        [disabled]="form.invalid"
        [loading]="loading$ | async"
        (click)="submit()"
      ></p-button>
    </div>
    <!-- <p-blockUI
      [target]="wrapper"
      [blocked]="blocking$ | async"
      [styleClass]="'rounded'"
    >
      <i class="pi pi-spin pi-cog" style="font-size: 3rem"></i>
    </p-blockUI> -->
  </div>
</section>
