.texta{
    width: 540px; 
    height: 200px;
    font:inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    max-width: 100%;
    vertical-align: bottom;
}