<div class="p-toolbar-group-right">
  <button pButton label="{{'NEW_ANALYSIS_CYCLIE' | translate}}" icon="pi pi-plus" (click)="openDialog()"></button>
</div>

<!-- as a dialog -->
<p-dialog *ngIf="asDialog;else page" #dialog [visible]="display" [modal]="true" (visibleChange)="close()"
          [style]="{width: '55vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [maximizable]="true"
          [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">

    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh;">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px">
    </div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>


<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <span>{{ "ANALYSIS_DIALOG.ADD_NEW_ANALYSIS" | translate }}</span>
      <span
        *ngIf="true"
        class="label label-lg label-light-primary label-inline"
      >
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      <span
        *ngIf="false"
        class="label label-lg label-light-success label-inline"
      >
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
  <a *ngIf="asDialog" queryParamsHandling="merge" pRipple pButton icon="pi pi-link"
     class="p-button-rounded p-button-text p-button-plain"></a>
</ng-template>

<!-- templates content -->
<ng-template #content>

  <div class="w-100 pt-2" [ngStyle]="{'height': !asDialog ? '100%' : (dialog?.maximized ? '100%' :'25vh')     }">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>

    <div class="p-col-12">
      <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
          <i class="pi pi-id-card p-mx-2"></i>
          <b>
            {{ "ANALYSIS_DIALOG.ANALYSIS_DETAILS" | translate }}
          </b>
        </div>
      </p-divider>
    </div>

    <form [formGroup]="form" class="p-fluid p-grid mt-5">

      <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="name" pInputText/>
        <label>
          {{ "ANALYSIS_DIALOG.NAME" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

        <ng-container
          *ngIf="
          form.controls['name'].touched &&
          !form.controls['name'].valid &&
          form.controls['name'].dirty
        "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['name'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="rtoList" [autoDisplayFirst]="false" formControlName="nameBC"
                            [filter]="true" filterBy="nameAr,nameEn" dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
                <label>
                  {{'ANALYSIS_DIALOG.NAME_BC' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      </div>

      <div class="p-field p-col-12 p-md-6">
            <span class="p-float-label">
              <p-calendar formControlName="date" [minDate]="minDate" [showIcon]="true" showButtonBar="true"
                          [showTime]="true" appendTo="body"></p-calendar>
              <label>
                {{ 'ANALYSIS_DIALOG.DATE' | translate }}
                <strong class="required-asterisk"> * </strong>
              </label>
            </span>
        <ng-container
          *ngIf="form.controls['date'].touched && !form.controls['date'].valid && form.controls['date'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['date'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>
        </ng-container>
      </div>
    </form>
  </div>

</ng-template>

<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <!--<button *ngIf="asDialog" pButton icon="pi pi-times"
            label="{{'ACTIONS.CLOSE' | translate }}"></button>-->

    <button *ngIf="!asDialog" pButton icon="pi pi-sign-out"
            label="{{'ACTIONS.BACK' | translate }}"></button>
    <div class="ml-dir-auto"></div>

   <!-- <ng-container>
      <div class="mx-1">
        <button pButton type="button" label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-replay"
                class="p-button-outlined" ></button>
      </div>
    </ng-container>-->


    <!--<div class="mx-1">
      <button pButton label="{{ 'ACTIONS.SAVE' | translate }}" icon="pi pi-save"
              ></button>
    </div>-->
    <div class="p-col text-center">
      <div class="text-center">
        <button
          pButton
          label="{{ 'ACTIONS.SEND' | translate }}"
          icon="pi pi-send"
        ></button>
      </div>
    </div>
  </div>
</ng-template>
