/* Border */

mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ccc !important;
}

.mat-elevation-z8 {
  max-width: 1000px;
  margin: auto;
}

::ng-deep .modal {
  max-width: 500px !important;
  height: fit-content !important;
  padding: 0 !important;

  .mat-dialog-container {
    padding: 0 !important;
  }
}
