.item {
  padding: 10px;
  color: #606371;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.selected-item {
  background: #f3f6f9;
  padding: 10px;
  border-radius: 0.5rem;
  color: #409eff;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}
