<app-phonebook-dialog></app-phonebook-dialog>

<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>

  <div class="mx-4 my-10" *ngIf="state$ | async as state">
    <div class="row mb-4">
      <div class="col-12">
        <p-fieldset
          [toggleable]="true"
          styleClass="px-3 py-2 search-section"
          legend="{{ 'ACTIONS.ADVANCED_SEARCH' | translate }}"
          [collapsed]="true"
        >
          <div class="p-fluid p-grid">
            <div class="p-field p-col-4 p-md-3">
              <input
                type="text"
                pInputText
                [ngModel]="state?.pageRequest?.filters['name']"
                (keyup)="updateFilter({ name: $event.target.value }, $event)"
                placeholder="{{ 'PHONEBOOK.FIRST_NAME' | translate }}"
              />
            </div>
            <div class="p-field p-col-4 p-md-3">
              <input
                type="text"
                pInputText
                [ngModel]="state?.pageRequest?.filters['orgName']"
                (keyup)="updateFilter({ orgName: $event.target.value }, $event)"
                placeholder="{{ 'PHONEBOOK.ORG_NAME' | translate }}"
              />
            </div>
            <!-- mobile -phone  -->
            <div class="p-field p-col-12 p-md-3">
              <span class="p-float-label">
                <input
                  type="text"
                  placeholder="{{ 'PHONEBOOK.MOBILE_NUMBER' | translate }}"
                  [ngModel]="state?.pageRequest?.filters['mobileNumber']"
                  pInputText
                  (keyup)="
                    updateFilter({ mobileNumber: $event.target.value }, $event)
                  "
                />
              </span>
            </div>
            <div class="p-col p-d-flex">
              <div class="ml-dir-auto"></div>
              <div class="mx-1">
                <button
                  pButton
                  type="button"
                  label="{{ 'ACTIONS.CLEAR' | translate }}"
                  icon="pi pi-times"
                  class="p-button-outlined"
                  [loading]="loading$ | async"
                  (click)="clear()"
                ></button>
              </div>
              <div class="mx-1">
                <button
                  pButton
                  label="{{ 'ACTIONS.SEARCH' | translate }}"
                  icon="pi pi-search"
                  [loading]="loading$ | async"
                  (click)="search()"
                ></button>
              </div>
            </div>
          </div>
        </p-fieldset>
      </div>
      <div class="w-100 d-flex flex-wrap mx-1 my-2 px-6">
        <div class="my-auto">
          <button
            pButton
            type="button"
            class="p-tag w-95px px-2 text-center py-1 p-button-rounded p-button-sm p-button-help"
            (click)="loadByStatus({ active: null })"
            [ngClass]="{
              active: state?.pageRequest?.filters['active'] == null
            }"
          >
            <span class="m-auto"> {{ "PHONEBOOK.ALL" | translate }}</span>
          </button>
          <button
            pButton
            type="button"
            class="p-tag w-95px mx-2 px-2 text-center py-1 p-button-rounded p-button-sm p-button-warning"
            (click)="loadByStatus({ active: false })"
            [ngClass]="{
              active: !state?.pageRequest?.filters['active']
            }"
          >
            <span class="m-auto"> {{ "ACTIONS.INACTIVE" | translate }}</span>
          </button>
          <button
            pButton
            type="button"
            class="p-tag w-95px px-2 py-1 text-center p-button-rounded p-button-primary p-button-sm text-white"
            (click)="loadByStatus({ active: true })"
            [ngClass]="{
              active: state?.pageRequest?.filters['active']
            }"
          >
            <span class="m-auto"> {{ "ACTIONS.ACTIVE" | translate }} </span>
          </button>
        </div>

        <div class="ml-dir-auto d-flex">
          <button
            pButton
            label="{{ 'ACTIONS.ADD' | translate }}"
            icon="pi pi-plus"
            (click)="openDialog()"
            *appPrivileges="'PRIV_ADD_PHONEBOOK_ENTRY'"
          ></button>
        </div>
      </div>
    </div>

    <mat-progress-bar *ngIf="loading$ | async" mode="query"></mat-progress-bar>
    <app-phonebook-table
      [page]="page$ | async"
      [totalRecords]="totalRecords$ | async"
      [loading]="loading$ | async"
      [pageRequest]="state?.pageRequest"
      [columns]="displayedColumns"
      (onPageChange)="loadPage($event)"
    ></app-phonebook-table>
  </div>
</div>
