<header class="p-d-flex p-jc-between p-ai-center p-4 pb-8 border-bottom">
  <ng-container *ngIf="position$ | async as position">
    <button
      *ngIf="smallScreen"
      pButton
      type="button"
      icon="pi pi-bars"
      class="p-button-outlined"
      (click)="
        sidebar = !sidebar;
        sideBar.transformOptions =
          position === 'left'
            ? 'translate3d(-100%, 0px, 0px)'
            : 'translate3d(100%, 0px, 0px)'
      "
    ></button>
  </ng-container>
  <div class="d-block d-sm-flex p-ai-center text-center">
    <app-breadcrumb></app-breadcrumb>
    <p-dropdown
      [options]="versions$ | async"
      [(ngModel)]="selectedVersion"
      placeholder="{{ 'VERSION' | translate }}"
      dataKey="id"
      styleClass="min-w-180px"
      (onChange)="setValueGlobally($event.value)"
      [dropdownIcon]="
        (loading$ | async) ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'
      "
    >
      <ng-template pTemplate="selectedItem">
        <ng-container>
          <span>
            {{ selectedVersion | translateObj }}
          </span>
          <span>
            <p-badge
              value="{{ selectedVersion?.status | translateObj }}"
              styleClass="version-badge"
            >
            </p-badge>
          </span>
        </ng-container>
      </ng-template>
      <ng-template let-version pTemplate="item">
        <div>{{ version | translateObj }}</div>
      </ng-template>
      <ng-template pTemplate="empty">
        <ng-container *ngIf="loading$ | async; else elseTemplate">
          {{ "ACTIONS.LOADING" | translate }}
        </ng-container>
        <ng-template #elseTemplate>
          {{ "NO_DATA" | translate }}
        </ng-template>
      </ng-template>
    </p-dropdown>
  </div>
  <div>
    <ng-container *checkPrivileges="'PRIV_APRV_BC_VER'">
      <button
        pButton
        *ngIf="selectedVersion?.status?.id === VERSION_STATUSES?.UNDER_APPROVAL"
        pRipple
        type="button"
        label="{{ smallScreen ? '' : ('RETURN_MOD' | translate) }}"
        icon="pi pi-replay"
        (click)="returnModification(VERSION_STATUSES?.NEEDS_MODIFICATIONS)"
        class="p-button-danger p-button-text mx-2"
      ></button>
    </ng-container>

    <ng-container *checkPrivileges="'PRIV_APRV_BC_VER'">
      <button
        pButton
        *ngIf="selectedVersion?.status?.id === VERSION_STATUSES?.UNDER_APPROVAL"
        pRipple
        class="p-button-raised mx-2"
        type="button"
        (click)="approved(VERSION_STATUSES?.APPROVED)"
        label="{{ smallScreen ? '' : ('APPROVED' | translate) }}"
        icon="pi pi-check"
      ></button>
    </ng-container>

    <ng-container *checkPrivileges="'PRIV_CR_BC_VER'">
      <button
        pButton
        pRipple
        type="button"
        *ngIf="
          selectedVersion?.status?.id === VERSION_STATUSES?.CREATED ||
          selectedVersion?.status?.id === VERSION_STATUSES?.NEEDS_MODIFICATIONS
        "
        label="{{ smallScreen ? '' : ('SEND_APPROVAL' | translate) }}"
        icon="pi pi-send"
        (click)="sendApprovel(VERSION_STATUSES?.NEEDS_MODIFICATIONS)"
        class="p-button-outlined mx-2"
      ></button>
    </ng-container>

    <button
      pButton
      pRipple
      type="button"
      *checkPrivileges="'PRIV_CR_BC_VER'"
      label="{{ smallScreen ? '' : ('VERSIONS_SETTINGS' | translate) }}"
      icon="pi pi-cog"
      class="p-button-warning mx-2"
      (click)="toggleDialog()"
    ></button>
  </div>
</header>

<section [class]="smallScreen ? 'py-6' : 'p-3'">
  <div
    #wrapper
    class="p-d-flex position-relative justify-content-between"
    style="min-height: 700px; gap: 20px"
  >
    <p-sidebar
      #sideBar
      [(visible)]="sidebar"
      [modal]="false"
      [style]="{
        width: '350px',
        position: smallScreen ? 'absolute' : 'initial'
      }"
      styleClass="rounded p-shadow-6 py-5"
      [showCloseIcon]="false"
      [baseZIndex]="-1000"
      [position]="position$ | async"
    >
      <p-panelMenu [model]="items"> </p-panelMenu>
    </p-sidebar>

    <div class="p-shadow-6 rounded px-6 w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
