<div>
  <button pButton (click)="layers.toggle($event)" icon="pi pi-angle-down"
    class="p-button-text p-button-secondary bg-white esri-widget"></button>
  <p-overlayPanel #layers appendTo="body">
    <ng-template pTemplate>
      <p-listbox [options]="layersPage$ | async" [formControl]="selectedLayer" styleClass="border-0" multiple="true"
        checkbox="true" [showToggleAll]="false">
        <ng-template let-layer pTemplate="item">
          <span class="px-2">
            {{ layer | translateObj }}
          </span>
        </ng-template></p-listbox>
    </ng-template>
  </p-overlayPanel>
  <div class="d-inline-flex w-300px mx-4">
    <span class="p-fluid w-100 esri-widget">
      <p-autoComplete [showEmptyMessage]="true" styleClass="esri-widget" [formControl]="searchControl"
        placeholder="{{ 'MAP.TOP_BAR.ADDRESS_SEARCH' | translate }}" [suggestions]="filteredOptions | async"
        field="Address" [minLength]="1" appendTo="body"></p-autoComplete>
    </span>
  </div>

  <button pButton (click)="advancedSearch.toggle($event)" icon="pi pi-sliders-h"
    class="p-button-text p-button-secondary bg-white esri-widget"></button>

  <p-overlayPanel #advancedSearch appendTo="body">
    <ng-template pTemplate>
      <div class="w-200px" (click)="$event.preventDefault()">

        <!-- Municipality -->
        <div class="p-field">
          <p-dropdown [(ngModel)]="selectedM" (onChange)="selectM($event?.value?.value)" styleClass="w-100"
            [options]="optionsM" placeholder="{{ 'SHARED.MUNICIPALITY' | translate }}" optionLabel="label"
            dataKey="value" [showClear]="true">
            <ng-template pTemplate="selectedItem">
              <div>
                {{ selectedM?.label | translate }}
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>
                {{ item.label | translate }}
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <!-- District/Zone -->
        <div class="p-field">
          <p-dropdown [(ngModel)]="selectedD" (onChange)="selectD($event?.value?.NAMEENGLISH)" styleClass="w-100"
            [options]="optionsD" placeholder="{{ 'SHARED.District/Zone' | translate }}" [showClear]="true">
            <ng-template pTemplate="selectedItem">
              <div>
                {{(selectedM?.value != "AAM" ? "" : selectedD?.DISTRICTID + " - ") + selectedD?.name}}
              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>
                {{ (selectedM?.value != "AAM" ? "" : item?.DISTRICTID + " - ") + item.name }}
              </div>
            </ng-template></p-dropdown>
        </div>

        <!-- Sector/Community -->
        <div class="p-field">
          <p-dropdown [(ngModel)]="selectedS" (onChange)="selectS($event?.value?.COMMUNITYNAMEENG)" styleClass="w-100"
            [options]="optionsS" placeholder="{{ 'SHARED.Sector/Community' | translate }}" [showClear]="true">
            <ng-template pTemplate="selectedItem">
              <div>
                {{ (selectedM?.value != "AAM" ? "" : selectedS.COMMUNITYID + " - ") + selectedS.name }}

              </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
              <div>
                {{ (selectedM?.value != "AAM" ? "" : item.COMMUNITYID + " - ") + item.name }}
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <!-- Road Id -->
        <div class="p-field" *ngIf="selectedM?.value == 'AAM'">
          <p-dropdown [(ngModel)]="selectedR" (onChange)="selectR($event?.value)" styleClass="w-100"
            [options]="optionsR" placeholder="{{ 'SHARED.ROADID' | translate }}" [showClear]="true">
          </p-dropdown>
        </div>

        <!-- Plot Number -->

        <div class="p-field">
          <p-dropdown [(ngModel)]="selectedP" (onChange)="selectP($event?.value?.PLOTNUMBER)" styleClass="w-100"
            [options]="optionsP" optionLabel="PLOTNUMBER" placeholder="{{ 'SHARED.PLOT_NUMBER' | translate }}"
            [showClear]="true">
          </p-dropdown>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>