<div class="login-form reset-password">
  <!--begin::Form-->
  <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" [formGroup]="form"
    id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--begin::Title-->
    <div class="heading-holder">
      <p>{{'RESET_PASSWORD.HEAD' | translate}}</p>
    </div>
    <!--end::Title-->
    <!-- begin::Alert error-->
    <ng-container *ngIf="serverErrors">
      <div class="mb-10 alert alert-custom alert-light-danger alert-dismissible">
        <div class="alert-text">
          {{ serverErrors }}
        </div>
      </div>
    </ng-container>
    <!-- end::Alert error-->
    <!-- end::Alert error-->

    <!--begin::Form group-->
    <div class="form-group cus-form-group">
      <label>{{'RESET_PASSWORD.OLD_PASSWORD' | translate}}</label>
      <input class="form-control" type="password" placeholder="password" name="password" formControlName="oldPassword"
        autocomplete="off" [ngClass]="{
          'is-invalid': form.controls['oldPassword'].invalid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'RESET_PASSWORD.VALIDATION_MSG.OLD_PWD_REQ' | translate,
          control: form.controls['oldPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MIN_LENGTH' | translate ,
          control: form.controls['oldPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MAX_LENGTH' | translate ,
          control: form.controls['oldPassword']
        }"></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group cus-form-group">
      <label>{{'RESET_PASSWORD.NEW_PASSWORD' | translate}}</label>
      <input class="form-control" type="password" placeholder="password" name="password" formControlName="password"
        autocomplete="off" [ngClass]="{
          'is-invalid': form.controls['password'].invalid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'RESET_PASSWORD.VALIDATION_MSG.PWD_REQ' | translate ,
          control: form.controls['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MIN_LENGTH' | translate ,
          control: form.controls['password']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MAX_LENGTH' | translate ,
          control: form.controls['password']
        }"></ng-container>
    </div>
    <!--end::Form group-->

    <!--begin::Form group-->
    <div class="form-group cus-form-group">
      <label>{{'RESET_PASSWORD.CONFIRM_NEW_PASSWORD' | translate}}</label>
      <input class="form-control" type="password" placeholder="Confirm password" name="confirmPassword"
        autocomplete="off" formControlName="confirmPassword" [ngClass]="{
          'is-invalid': form.controls['confirmPassword'].invalid
        }" />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'RESET_PASSWORD.VALIDATION_MSG.CONFIRM_PWD_REQ' | translate ,
          control: form.controls['confirmPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MIN_LENGTH' | translate ,
          control: form.controls['confirmPassword']
        }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxLength',
          message: 'RESET_PASSWORD.VALIDATION_MSG.MAX_LENGTH' | translate ,
          control: form.controls['confirmPassword']
        }"></ng-container>
      <ng-container *ngIf="
          form.controls['confirmPassword'].errors 
          && form.controls['confirmPassword'].errors.ConfirmPassword
        ">
        <div class="fv-plugins-message-container">
          <div class="fv-help-block">
            {{'RESET_PASSWORD.VALIDATION_MSG.PWD_AND_CPWD_NOT_MATCH' | translate }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="button-holder">
      <button [disabled]="form.invalid" type="submit" id="kt_login_forgot_submit" class="btn btn-primary"
        app-throttle-click [ThrottleTime]="2000" (ThrottleClick)="onSubmit()">
        {{'RESET_PASSWORD.SAVE' | translate}}
      </button>
      <a (click)="cancel()" id="kt_login_forgot_cancel" class="btn btn-light-primary mx-3">
        {{'ACTIONS.CANCEL' | translate }}
      </a>
    </div>
    <!--end::Form group-->
    <div></div>
  </form>
  <!--end::Form-->

</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>