<p-dialog
  [visible]="opened$ | async"
  (visibleChange)="close()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <span>{{ "PHONEBOOK.HEADER" | translate }}</span>

      <div class="mx-2 d-inline">
        <ng-container *ngIf="!editMode; else elseTemplate">
          <p-tag severity="primary">
            {{ "ACTIONS.NEW_ITEM" | translate }}
          </p-tag>
        </ng-container>
        <ng-template #elseTemplate>
          <p-tag severity="info" #elseTemplate>
            {{ "ACTIONS.UPDATE_ITEM" | translate }}
          </p-tag>
        </ng-template>
      </div>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">
    <!-- IsPrimary -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <label>
          {{ "PHONEBOOK.TYPE" | translate }}
        </label>
        <p-selectButton
          [options]="phonebookTypes"
          optionLabel="name"
          optionValue="value"
          formControlName="isInternal"
        >
          <ng-template let-item>
            <span> {{ item?.name | translate }}</span>
            <!-- <i [class]="item.icon"></i> -->
          </ng-template>
        </p-selectButton>
      </span>
    </div>

    <!-- isInternal Org Dropdown -->

    <ng-container *ngIf="form.get('isInternal')?.value; else externalTemplate">
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <p-dropdown
            [options]="orgs"
            [autoDisplayFirst]="false"
            appendTo="body"
            [filter]="true"
            formControlName="orgStructure"
            filterBy="nameAr,nameEn,code"
            [showClear]="true"
            inputId="orgStructure"
            dataKey="id"
          >
            <ng-template let-item pTemplate="selectedItem">
              {{ item | translateObj }}
            </ng-template>

            <ng-template let-item pTemplate="item">
              {{ item | translateObj }}
            </ng-template>
          </p-dropdown>
          <label>
            {{ "PHONEBOOK.ORG_NAME" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['orgStructure'].touched &&
            !form.controls['orgStructure'].valid &&
            form.controls['orgStructure'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['orgStructure'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
    </ng-container>
    <!-- external org name -->
    <ng-template #externalTemplate>
      <div class="p-field p-col-12 p-md-4">
        <span class="p-float-label">
          <p-dropdown
            [options]="externalsOrgs"
            editable="true"
            [autoDisplayFirst]="false"
            appendTo="body"
            [filter]="true"
            formControlName="orgName"
            filterBy="nameAr,nameEn,code"
            dataKey="id"
            [showClear]="true"
            inputId="orgName"
          >
            <ng-template let-item pTemplate="selectedItem">
              {{ item?.orgName }}
            </ng-template>

            <ng-template let-item pTemplate="item">
              {{ item.orgName }}
            </ng-template>
          </p-dropdown>
          <label>
            {{ "PHONEBOOK.ORG_NAME" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['orgName'].touched &&
            !form.controls['orgName'].valid &&
            form.controls['orgName'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['orgName'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
    </ng-template>

    <!-- title -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" formControlName="title" pInputText />
        <label>
          {{ "PHONEBOOK.TITLE" | translate }}
        </label>
      </span>
    </div>
    <!-- name AR -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" formControlName="nameAr" pInputText />
        <label>
          {{ "PHONEBOOK.NAME_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['nameAr'].touched &&
          !form.controls['nameAr'].valid &&
          form.controls['nameAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('arabic')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>

    <!--  name  EN -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" formControlName="nameEn" pInputText />
        <label>
          {{ "PHONEBOOK.NAME_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['nameEn'].touched &&
          !form.controls['nameEn'].valid &&
          form.controls['nameEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <!-- job title -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" formControlName="jobTitle" pInputText />
        <label>{{ "SHARED.JOB_TITLE" | translate }} </label>
      </span>
    </div>

    <!-- phone -->
    <div class="p-field p-col-12 p-md-4">
      <span class="p-float-label">
        <input type="text" formControlName="phoneNumber" pInputText />
        <label>
          {{ "PHONEBOOK.PHONE_NUMBER" | translate }}
        </label>
      </span>
    </div>
    <!-- mobile -->
    <div class="p-field p-col-12 p-md-4" dir="ltr">
      <span class="p-float-label">
        <ngx-intl-tel-input
          cssClass="p-inputtext p-component p-text-left"
          [onlyCountries]="['ae']"
          formControlName="mobileNumber"
          [enablePlaceholder]="false"
          [enableAutoCountrySelect]="true"
        >
        </ngx-intl-tel-input>
        <label class="dir-text">
          {{ "PHONEBOOK.MOBILE_NUMBER" | translate }}
          <span class="required-asterisk">*</span>
        </label>
      </span>
      <ng-container
        *ngIf="
          this.form.get('mobileNumber').touched &&
          !this.form.get('mobileNumber').valid &&
          this.form.get('mobileNumber').dirty
        "
      >
        <p
          class="dir-text"
          class="p-error mb-0"
          *ngIf="this.form.get('mobileNumber').hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="dir-text"
          class="p-error mb-0"
          *ngIf="this.form.get('mobileNumber').hasError('validatePhoneNumber')"
        >
          {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
        </p>
      </ng-container>
    </div>

    <!-- activate status -->
    <div class="p-field p-col-12 p-md-4">
      <p-toggleButton
        formControlName="isActive"
        onLabel="{{ 'ACTIONS.ACTIVE' | translate }}"
        offLabel="{{ 'ACTIONS.INACTIVE' | translate }}"
        [onIcon]="'pi pi-check'"
        offIcon="pi pi-times"
        iconPos="right"
      ></p-toggleButton>
    </div>

    <!-- Notes -->
    <div class="p-field p-col-12 mt-3">
      <span class="p-float-label">
        <textarea
          inputId="textarea"
          class="w-100"
          maxlength="4000"
          pInputTextarea
          type="text"
          formControlName="notes"
          rows="4"
        ></textarea>
        <label for="textarea">
          {{ "PHONEBOOK.NOTES" | translate }}
        </label>
      </span>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="p-col p-d-flex justify-content-between">
      <button
        pButton
        icon="pi pi-times"
        class="p-button-outlined"
        (click)="close()"
        label="{{ 'ACTIONS.CLOSE' | translate }}"
      ></button>
      <div class="mx-1">
        <button
          pButton
          (click)="submit()"
          [loading]="blocking$ | async"
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>

<!-- <div class="card-footer p-3 d-flex justify-content-between">
  <button class="btn btn-primary font-weight-bold">
    {{ "ACTIONS.CREATE" | translate }}
    <span
      [inlineSVG]="'/assets/media/svg/icons/Code/Plus.svg'"
      cacheSVG="true"
      class="svg-icon svg-icon-md"
    ></span>
  </button>

  <button class="btn btn-primary font-weight-bold">
    {{ "ACTIONS.UPDATE" | translate }}
    <span
      [inlineSVG]="'/assets/media/svg/icons/Files/Cloud-upload.svg'"
      cacheSVG="true"
      class="svg-icon svg-icon-md"
    ></span>
  </button>
</div> -->
