<div class="p-toolbar-group-right">
  <button
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<p-dialog
  [visible]="opened$ | async" (visibleChange)="close()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'IMP_LEVEL_WORKING.EDIT_IMP_LEVEL' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'IMP_LEVEL_WORKING.ADD_NEW_IMP_LEVEL' | translate}}
      </ng-container>
    </h3>

  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="nameEn" pInputText />
        <label>
          {{ "IMP_LEVEL_WORKING.LEVEL_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['nameEn'].touched &&
          !form.controls['nameEn'].valid &&
          form.controls['nameEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="nameAr" pInputText />
        <label>
          {{ "IMP_LEVEL_WORKING.LEVEL_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['nameAr'].touched &&
          !form.controls['nameAr'].valid &&
          form.controls['nameAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['nameAr'].hasError('arabic')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <textarea
          pInputText
          type="text"
          formControlName="descriptionEn"
          rows="5"
        ></textarea>
        <!--                <input type="text" formControlName="descriptionEn" pInputText>-->
        <label
        >{{ "RTO_LIST.DESC_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['descriptionEn'].touched &&
          !form.controls['descriptionEn'].valid &&
          form.controls['descriptionEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['descriptionEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>

        <p
          class="p-error mb-0"
          *ngIf="form.controls['descriptionEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <textarea
          pInputText
          type="text"
          formControlName="descriptionAr"
          rows="5"
        ></textarea>
        <!--<input type="text" formControlName="descriptionAr" >-->
        <label
        >{{ "RTO_LIST.DESC_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['descriptionAr'].touched &&
          !form.controls['descriptionAr'].valid &&
          form.controls['descriptionAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['descriptionAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>

        <p
          class="p-error mb-0"
          *ngIf="form.controls['descriptionAr'].hasError('arabic')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>


    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label color-field">
        <input id="colorInput" type="text" [value]="color" (input)="setColor($event.target.value)"
               formControlName="colorCode" pInputText />
        <p-colorPicker [(ngModel)]="color" [ngModelOptions]="{standalone: true}" [inputId]="'colorInput'"></p-colorPicker>
        <label>
          {{ "IMP_LEVEL_WORKING.LEVEL_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="form.controls['colorCode'].touched && !form.controls['colorCode'].valid && form.controls['colorCode'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['colorCode'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}</p>
        <p class="p-error mb-0" *ngIf="form.controls['colorCode'].hasError('english')">
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
          [disabled]="form.invalid"
          (click)="submit()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
