:host ::ng-deep {
  .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
    border-radius: 30px;
  }
  .p-fieldset .p-fieldset-legend {
    font-weight: 600;
    font-size: 1rem;
    border-radius: 30px;
  }
}
