<div class="row">
  <!--advance search-->
  <div class="col-12 position-relative">
    <p-fieldset [toggleable]="true" styleClass="px-3 py-2 search-section"
                legend="{{'ACTIONS.ADVANCED_SEARCH' | translate}}" [collapsed]="true">
      <div class="p-fluid p-grid">

        <div class="p-field p-col-4 p-md-2">
          <input type="text" pInputText [ngModel]=""
                 placeholder="{{ 'SYSTEMS.DEPARTMENT_NAME' | translate }}"
                 (keyup)="updateFilter({name: $event.target.value}, $event)">
        </div>
        <div class="p-field p-col-4 p-md-2">
          <input type="text" pInputText [ngModel]=""
                 placeholder="{{ 'SYSTEMS.SYSTEM_NAME' | translate }}"
                 (keyup)="updateFilter({name: $event.target.value}, $event)">
        </div>
        <div class="p-field p-col-4 p-md-2">
          <input type="text" pInputText [ngModel]=""
                 placeholder="{{ 'SYSTEMS.SYSTEM_RTO' | translate }}"
                 (keyup)="updateFilter({name: $event.target.value}, $event)">
        </div>
        <div class="p-col p-d-flex">
          <div class="ml-dir-auto"></div>
          <div class="mx-1">
            <button pButton type="button" label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-times"
                    class="p-button-outlined" (click)="clear()"></button>
          </div>
          <div class="mx-1">
            <button pButton label="{{ 'ACTIONS.SEARCH' | translate }}" icon="pi pi-search"
                    (click)="search()"></button>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>

  <!--sort colums-->
  <div class="col-12 mt-3">
    <p-toolbar>
      <div class="p-toolbar-group-left">

        <div class="p-1 w-100 w-md-200px">
          <p-multiSelect [options]="selectedColumns" defaultLabel="Select Columns" optionLabel="name" styleClass="w-100"
                         [ngModel]="" [optionValue]="'code'" optionDisabled="disabled"
                         (onChange)="changeColumns($event)">
            <ng-template let-options pTemplate="selectedItems">
              <ng-container *ngIf="options?.length > 0">
                {{options?.length + ' ' + ('SHARED.SELCTED_ITEM' | translate)}}
              </ng-container>
              <ng-container *ngIf="!options || options.length === 0">
                {{'SHARED.SELECT_SHOWING_FIELDS' | translate}}
              </ng-container>
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option.name | translate }}
            </ng-template>
          </p-multiSelect>
        </div>
        <div class="p-1 w-100 w-md-225px">
          <div class="p-inputgroup">
            <p-dropdown [options]="sortableColumns" [autoDisplayFirst]="false" [showClear]="true"
                        [ngModel]=""
                        placeholder="{{ 'SHARED.SELECT_SORTING_FIELD' | translate}}" optionLabel="name"
                        optionValue="code"
                        styleClass="w-100 h-100" class="w-100 h-100" (onChange)="sort($event)">
              <ng-template let-option pTemplate="selectedItem">
                {{ option.name | translate }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.name | translate }}
              </ng-template>
            </p-dropdown>
            <div class="p-inputgroup-addon p-0">
              <p-toggleButton class="w-100 h-100" [onIcon]="'pi pi-sort-amount-up'"
                              [ngModel]="" offIcon="pi pi-sort-amount-down-alt"
                              iconPos="right" styleClass="w-100 h-100" (onChange)="order($event)"></p-toggleButton>
            </div>
          </div>
        </div>
      </div>
      <div class="p-toolbar-group-right">
        <p-splitButton label="{{'ACTIONS.EXPORT' | translate}}" icon="pi pi-external-link"
                       [model]="exportActions" (onClick)="export('EXCEL')"></p-splitButton>
      </div>
    </p-toolbar>
  </div>


  <div class="col-12">
    <p-divider [align]="'left'" styleClass="bg-transparent">
      <div class="w-100 d-flex flex-wrap mx-1 px-6">
        <div class="d-flex">
          <p-selectButton [options]="[{icon: 'pi pi-bars', view: 'TABLE'}, {icon: 'pi pi-th-large', view: 'CARDS'}]"
                          optionLabel="icon" optionValue="view" [ngModel]="" (onChange)="changeView($event.value)">
            <ng-template let-item>
              <i [class]="item.icon"></i>
            </ng-template>
          </p-selectButton>
        </div>
      </div>
    </p-divider>
  </div>
</div>

<app-system-content></app-system-content>
