<div class="p-toolbar-group-right">
  <button
    [disabled]="shouldDisable"
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
    *checkPrivileges="'PRIV_ED_BC_LISTS'"
    style="margin-inline-end: 10px;"
  ></button>
  <button pButton label="{{'ACTIONS.EXPORT' | translate}}"
          icon="pi pi-external-link"
          (click)="export('EXCEL')">
  </button>
</div>

<p-dialog
  [visible]="opened$ | async" (visibleChange)="close()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'IMPACT_ANALYSIS.EDIT_NEW' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'IMPACT_ANALYSIS.ADD_NEW' | translate}}
      </ng-container>

      <ng-container *ngIf="viewOnly$ | async">
        {{'IMPACT_ANALYSIS.VIEW_NEW' | translate}}
      </ng-container>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">
    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="typeEn" pInputText />
        <label>
          {{ "LOC_TYPE.TYPE_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['typeEn'].touched &&
          !form.controls['typeEn'].valid &&
          form.controls['typeEn'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeEn'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeEn'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="typeAr" pInputText />
        <label>
          {{ "LOC_TYPE.TYPE_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['typeAr'].touched &&
          !form.controls['typeAr'].valid &&
          form.controls['typeAr'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeAr'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
        <p
          class="p-error mb-0"
          *ngIf="form.controls['typeAr'].hasError('english')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>



    <div class="d-flex p-flex-column w-100">
      <div class="p-d-flex border-bottom pt-4">
        <h4 class="p-md-2 font-weight-bold">
          {{ "IMPACT_LEVELS.LEVEL" | translate }}
        </h4>
        <h4 class="p-md-5 font-weight-bold">
          {{ "RTO_LIST.DESC_EN" | translate }}
        </h4>
        <h4 class="p-md-5 font-weight-bold">
          {{ "RTO_LIST.DESC_AR" | translate }}
        </h4>

      </div>
      <div class="p-d-flex border-bottom pt-4">
        <div formArrayName="bcImpactLevelMatrixDtoList" class="p-col-12 p-md-5">
          <div *ngFor="let level of getLevelsControls(); let i = index">
            <div [formGroupName]="i" class="d-flex">
              <div class="p-md-4">
                <p >{{ level.get('label').value }}</p>
              </div>

              <div class="p-field p-col-12">
          <span class="p-float-label">
            <textarea
              [disabled]="viewOnly$ | async"
              pInputText
              type="text"
              formControlName="descEn"
              rows="3"
            ></textarea>
            <label>
              {{ "LOC_TYPE.TYPE_EN" | translate }}
              <strong class="required-asterisk"> * </strong>
            </label>
          </span>
                <ng-container
                  *ngIf="
              form.get(['bcImpactLevelMatrixDtoList', i , 'descEn']).touched &&
              !form.get(['bcImpactLevelMatrixDtoList', i , 'descEn']).valid &&
              form.get(['bcImpactLevelMatrixDtoList', i , 'descEn']).dirty
            "
                >
                  <p
                    class="p-error mb-0"
                    *ngIf="form.get(['bcImpactLevelMatrixDtoList', i , 'descEn']).hasError('required')"
                  >
                    {{ "VALIDATION_MSG.REQUIRED" | translate }}
                  </p>
                  <p
                    class="p-error mb-0"
                    *ngIf="form.get(['bcImpactLevelMatrixDtoList', i , 'descEn']).hasError('english')"
                  >
                    {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
                  </p>
                </ng-container>
              </div>

              <div class="p-field p-col-12">
                <span class="p-float-label">
                  <textarea
                    [disabled]="viewOnly$ | async"
                    pInputText
                    type="text"
                    formControlName="descAr"
                    rows="3"
                  ></textarea>
                  <label>
                    {{ "LOC_TYPE.TYPE_AR" | translate }}
                    <strong class="required-asterisk"> * </strong>
                  </label>
              </span>
                <ng-container
                  *ngIf="
              form.get(['bcImpactLevelMatrixDtoList', i , 'descAr']).touched &&
              !form.get(['bcImpactLevelMatrixDtoList', i , 'descAr']).valid &&
              form.get(['bcImpactLevelMatrixDtoList', i , 'descAr']).dirty
            "
                >
                  <p
                    class="p-error mb-0"
                    *ngIf="form.get(['bcImpactLevelMatrixDtoList', i , 'descAr']).hasError('required')"
                  >
                    {{ "VALIDATION_MSG.REQUIRED" | translate }}
                  </p>
                  <p
                    class="p-error mb-0"
                    *ngIf="form.get(['bcImpactLevelMatrixDtoList', i , 'descAr']).hasError('arabic')"
                  >
                    {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
                  </p>
                </ng-container>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="p-col-12" *ngIf="editMode || (viewOnly$ | async)">
      <p-divider align="center">
        <div class="p-d-inline-flex p-ai-center">
          <div class="p-field p-col-12 p-md-12">
            <p-toggleButton formControlName="isActive" onLabel="{{ 'ACTIONS.ACTIVE' | translate }}"
                            offLabel="{{ 'ACTIONS.INACTIVE' | translate }}" [onIcon]="'pi pi-check'" offIcon="pi pi-times"
                            iconPos="right"></p-toggleButton>
          </div>
        </div>
      </p-divider>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center" *ngIf="!(viewOnly$ | async)">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
          [loading]="blocking$ | async"
          [disabled]="form.invalid"
          (click)="submit()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
