<div class="container-fluid">
  <header class="p-d-flex p-jc-between p-ai-center pl-4">
    <div class="d-block d-sm-flex p-ai-center text-center">
      <h3 class="card-title align-items-start flex-column m-0">
          <span class="card-label font-weight-bolder">
            {{'BUSINESS_IMPACT_ANALYSIS' | translate}}</span>
      </h3>
    </div>
  </header>
  <div class="">
    <div class="row">
      <div class="mx-4 my-10 col-12">
        <app-browse-impact-analysis></app-browse-impact-analysis>
      </div>
    </div>
  </div>
</div>
