<div class="container-fluid">
  <app-breadcrumb></app-breadcrumb>
  <div class="mx-4 my-10" *ngIf="state$ | async as state">
    <div class="row border-bottom">
      <div class="col-12">
        <div class="row justify-content-center">
          <!-- From Date -->
          <div class="p-field p-col-12 p-md-4 justify-content-end d-flex">
            <span class="p-float-label">
              <p-calendar
                    [showIcon]="true"
                    showButtonBar="true"
                    appendTo="body"
                    [ngModel]="state?.pageRequest?.filters['fromDate']"
                    (ngModelChange)="updateFilter({fromDate: $event}, $event)"
              ></p-calendar>
              <label>
              {{ "LOGINATTEMPTS.from_date" | translate }}
               </label>
            </span>
          </div>

          <!-- To Date -->
          <div class="p-field p-col-12 p-md-2">
            <span class="p-float-label">
              <p-calendar
                      [showIcon]="true"
                      showButtonBar="true"
                      appendTo="body"
                      [ngModel]="state?.pageRequest?.filters['toDate']"
                      (ngModelChange)="updateFilter({toDate: $event}, $event)"
              ></p-calendar>
              <label>
                {{ "LOGINATTEMPTS.to_date" | translate }}
              </label>
            </span>
          </div>

          <!-- Submit Button -->
          <div class="p-field p-col-2">
            <button pButton label="{{ 'ACTIONS.SEARCH' | translate }}" icon="pi pi-search"></button>
          </div>
        </div>

      </div>
    </div>
    <div class="card mt-4 shadow">
      <div class="row pb-20">
        <!--priorities-->
        <div class="p-col-12">
          <div class="d-md-flex p-jc-center" *ngIf="priorities$ | async as priorities">
              <ng-container *ngFor="let priority of priorities">
                <div class="col-lg-2 col-md-4 col-sm-6 item pt-0 pb-4">
                  <!--begin::Stats Widget 27-->
                  <div class="card card-custom m-0 shadow-sm h-100" [style.background-color]="priority.colorHexa">
                    <!--begin::Body-->
                    <div class="card-body d-lg-flex justify-content-center">
                      <div class="d-flex flex-column">
                        <a class="d-block font-size-h6 font-weight-bolder text-dark">
                          {{priority | translateObj : 'name'}}
                        </a>
                        <a class="text-center d-block font-size-h2 font-weight-bolder text-dark">
                          19
                        </a>
                      </div>
                    </div>
                    <!--end::Body-->
                  </div>
                  <!--end::Stats Widget 27-->
                </div>
              </ng-container>
            </div>
        </div>
        <!--main category-->
        <div class="header-state mb-2 col-lg-2 col-md-12">
          <div class="row shadow-0">
            <div class="col-lg-12 col-md-4 col-sm-6 p-0 m-3">
              <app-main-category-widget></app-main-category-widget>
            </div>
          </div>
        </div>
        <!--Bar Chart & incident count-->
        <div class="col-lg-8 col-md-12">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 mt-3">
              <div class="card card-custom rounded d-block overflow-hidden map-card h-100 m-0 mb-2 shadow-sm">
                <div class="card-body p-0 h-100">
                  <apx-chart  [series]="chartOptionsR.series" [chart]="chartOptionsR.chart"
                              [plotOptions]="chartOptionsR.plotOptions" [yaxis]="chartOptionsR.yaxis" [xaxis]="chartOptionsR.xaxis"
                              [stroke]="chartOptionsR.stroke" [grid]="chartOptionsR.grid" [fill]="chartOptionsR.fill"
                              [annotations]="chartOptionsR.annotations" [tooltip]="chartOptionsR.tooltip"></apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-state mb-2 pr-6 col-lg-2 col-md-12">
          <div class="row shadow-0">
            <div class="col-lg-12 col-md-4 col-sm-6 p-0 mt-3">
              <app-main-category-widget></app-main-category-widget>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>