::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #36aef4;
}

::ng-deep .mat-column-actions {
  max-width: 60px !important;
  padding: 5px !important;
  text-align: center !important;
}