:host {
  .card:hover {
    border-color: #a0ccff !important;

  }
  ::ng-deep {
    .p-datatable .p-datatable-tfoot > tr > td {
      text-align: inherit;
    }
    .pi-sign-out {
      transform: scaleX(-1);
    }
  }
}
