<section class="d-flex flex-column px-6">
  <p-toolbar *ngIf="situation$ | async as situation">
    <div class="p-toolbar-group-left">
      <h3>
        {{ situation | translateObj }}
        <button
          pButton
          pRipple
          type="button"
          icon="pi pi-angle-double-down"
          class="p-button-rounded p-button-text"
          (click)="op.toggle($event)"
        ></button>
      </h3>
    </div>

    <div class="p-toolbar-group-right">
      {{ "SITUATIONS.START_DATE" | translate }}
      :
      {{ situation.startDate | cdate }}
      <div class="w-200px"></div>
      {{ "SITUATIONS.END_DATE" | translate }}
      :
      {{ situation.endDate | cdate }}
    </div>
  </p-toolbar>
  <div class="row p-10">
    <div *ngIf="chartReport$ | async as chartReport" class="col-4">
      <!-- registerd incidents  -->
      <div class="col-12 mb-8">
        <!--begin::Stats Widget 27-->
        <div class="card card-custom m-0 border h-100 p-10">
          <!--begin::Body-->
          <div
            class="card-body p-0 d-flex justify-content-between align-items-center"
          >
            <div class="d-flex flex-column">
              <h1 class="card-title font-weight-bolder m-0 d-block number">
                {{ chartReport.registeredIncidents }}
              </h1>
              <a class="d-block font-size-h5 font-weight-bold text-dark">
                {{ "SITUATIONS.RCV_INCIDENTS" | translate }}
              </a>
            </div>

            <div class="d-flex align-items-center">
              <span
                [inlineSVG]="
                  '/assets/media/svg/icons/Custome/registered-incidents.svg'
                "
                cacheSVG="true"
                class="svg-icon svg-icon-6x"
              ></span>
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Stats Widget 27-->
      </div>
      <!-- closed incidents -->
      <div class="col-12">
        <!--begin::Stats Widget 27-->
        <div class="card card-custom m-0 border h-100 p-10">
          <!--begin::Body-->
          <div
            class="card-body p-0 d-flex justify-content-between align-items-center"
          >
            <div class="d-flex flex-column">
              <h1 class="card-title font-weight-bolder m-0 d-block number">
                {{ chartReport.closedIncidents }}
              </h1>
              <a class="d-block font-size-h5 font-weight-bold text-dark">
                {{ "SITUATIONS.CLS_INCIDENTS" | translate }}
              </a>
            </div>

            <div class="d-flex align-items-center">
              <span
                [inlineSVG]="
                  '/assets/media/svg/icons/Custome/completed-incidents.svg'
                "
                cacheSVG="true"
                class="svg-icon svg-icon-6x"
              ></span>
            </div>
          </div>
          <!--end::Body-->
        </div>
        <!--end::Stats Widget 27-->
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-md-7 p-5 border rounded">
      <apx-chart
        [chart]="chartOptions.chart"
        [series]="chartOptions.series"
        [labels]="chartOptions.labels"
        [legend]="chartOptions.legend"
        [title]="chartOptions.title"
        [dataLabels]="chartOptions.dataLabels"
      >
      </apx-chart>
    </div>
  </div>
</section>
<section class="p-10">
  <div *ngIf="statistics$ | async as statistics">
    <ng-container *ngIf="loading$ | async; else tableTemplate">
      <p-table [value]="[].constructor(10)">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let item of [].constructor(10)">
              <div class="p-d-flex p-jc-between p-ai-center">
                <p-skeleton></p-skeleton>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer hoverable">
            <td class="max-w-250px" *ngFor="let item of [].constructor(10)">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
    <ng-template #tableTemplate>
      <p-table
        [value]="statistics"
        [columns]="statistics[0]?.orgs"
        dataKey="nameEn"
        [autoLayout]="true"
      >
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center"></div>
            </th>
            <th *ngFor="let column of columns">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ column | translateObj }}
              </div>
            </th>
            <th>
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "SITUATIONS.TOTAL" | translate }}
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer hoverable">
            <td class="max-w-250px font-weight-bold">
              {{ item | translateObj }}
            </td>
            <td class="max-w-250px" *ngFor="let org of item?.orgs">
              {{ org.count }}
            </td>
            <td class="max-w-250px font-weight-bold">
              {{ item.total }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td class="max-w-250px" colspan="100%">
              <div class="w-100">
                <nodata-table></nodata-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </div>
</section>

<p-overlayPanel #op [style]="{ width: '450px' }">
  <div class="p-field mb-10 mt-3">
    <input
      type="text"
      class="w-100"
      pInputText
      (keyup)="updateFilter({ name: $event.target.value }, $event)"
      placeholder="{{ 'SITUATIONS.NAME' | translate }}"
    />
  </div>
  <ng-template pTemplate>
    <p-table
      [value]="suggestions$ | async"
      selectionMode="single"
      [paginator]="true"
      [rows]="10"
      (onRowSelect)="onSuggestionSelect($event)"
    >
      <ng-template pTemplate="header">
        <tr >
          <th>{{ "SITUATIONS.NAME" | translate }}</th>
          <th>{{ "SITUATIONS.TYPE" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-suggestion>
        <tr  [pSelectableRow]="rowData">
          <td>{{ suggestion | translateObj }}</td>
          <td>{{ suggestion.newsType | translateObj }}</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>
