<div class="container-fluid">
  <div class="mx-4 my-10">
    <div class="row">
      <app-breadcrumb></app-breadcrumb>
      <!-- <mat-toolbar class="bg-white px-3 border-bottom">
        <h2>{{ "REOPEN_HEADER" | translate }}</h2>
      </mat-toolbar> -->
      <div class="col-12">
        <p-tabView>
          <p-tabPanel header="{{ 'INCIDENTS.INCIDENTS' | translate }}">
            <ng-template pTemplate="content">
              <app-browse-incidents></app-browse-incidents> </ng-template
          ></p-tabPanel>
          <p-tabPanel header="{{ 'TASK.TASKS' | translate }}">
            <ng-template pTemplate="content">
              <app-browse-tasks></app-browse-tasks>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
