<mat-form-field class="w-100" [appearance]="appearance">
  <mat-label>{{ "CORRERSPONDENCE.INCIDENTS" | translate }}</mat-label>
  <input
    type="text"
    [placeholder]="'CORRERSPONDENCE.PICK_ONE' | translate"
    aria-label="Text"
    matInput
    [formControl]="control"
    [matAutocomplete]="auto"
    (blur)="onChange($event.target.value)"
  />

  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    (optionSelected)="onChange($event.option.value)"
    [displayWith]="displayWith"
  >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.subject }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
