<ng-container *ngIf="activityStatus$ | async as activityStatus">
<div class="p-toolbar-group-right">
  <button pButton
          [disabled]="(!activityStatus.editable)"
          label="{{ 'ACTIONS.ADD' | translate }}" icon="pi pi-plus" (click)="toggleDialog()"></button>
</div>
</ng-container>

<!-- as a dialog -->
<p-dialog [visible]="opened$ | async" [modal]="true" (visibleChange)="toggleDialog()" [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="true"
  [resizable]="false" styleClass="overflow-hidden">
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      {{ "SYSTEMS.NEW" | translate }}
    </h3>

    <div class="mx-2">
      <p-tag>
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </p-tag>
    </div>
  </div>
</ng-template>

<!-- templates content -->
<ng-template #content>
  <div class="w-100 pt-4">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <div class="row">
      <div class="p-field p-col-10">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input (keyup)="loadPage($event.target.value)" type="text" pInputText />
            <label>
              {{ "SYSTEMS.SYSTEM" | translate }}
            </label>
          </span>
          <button type="button" pButton pRipple icon="pi pi-search"></button>
        </div>
      </div>
      <div class="p-col-2">
        <p-button (click)="display = true" label="{{ 'SYSTEMS.ADD_SYSTEM' | translate }}"
          styleClass="p-button-link"></p-button>
      </div>
    </div>

    <div class="row" *ngIf="!display">
      <div class="col-12">
        <ng-container>
          <ng-container *ngIf="loading$ | async; else tableTemplate">
            <p-table [value]="[].constructor(10)">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 0"></th>
                  <th class="min-w-100px">
                    <div class="p-d-flex p-jc-between p-ai-center">#</div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "SYSTEMS.SYSTEM" | translate }}
                    </div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "SYSTEMS.MANAGEMENT" | translate }}
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item>
                <tr class="cursor-pointer hoverable">
                  <td class="flag-td">
                    <div class="bg-secondary"></div>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                  <td>
                    <p-skeleton></p-skeleton>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
          <ng-template #tableTemplate>
            <p-table [columns]="columns" totalRecords="10" [value]="page$ | async" dataKey="id" [autoLayout]="true"
              selectionMode="single" [(selection)]="selectedBCSystem">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <!-- <col
                    *ngFor="let col of columns"
                    [style.width]="'col.width'"
                  /> -->
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th class="min-w-100px">
                    <div class="p-d-flex p-jc-between p-ai-center">#</div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "SYSTEMS.SYSTEM" | translate }}
                    </div>
                  </th>
                  <th class="min-w-200px max-w-300px">
                    <div class="p-d-flex p-jc-between p-ai-center">
                      {{ "SYSTEMS.MANAGEMENT" | translate }}
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-rowData>
                <tr [pSelectableRow]="rowData" class="cursor-pointer hoverable"
                  [pSelectableRowDisabled]="rowData.selected" [ngClass]="{
                    'row-disabled': rowData.selected
                  }">
                  <td class="min-w-100px">
                    {{ item.sequenceNumber }}
                  </td>
                  <td class="min-w-200px max-w-300px">
                    {{ item | translateObj }}
                  </td>
                  <td class="min-w-200px max-w-300px">
                    {{ item?.orgHierarchy | translateObj }}
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100%">
                    <div class="w-100">
                      <nodata-table></nodata-table>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </ng-template>
        </ng-container>

        <p-paginator #pg [first]="0" [rows]="10" [totalRecords]="totalRecords$ | async" [showCurrentPageReport]="true"
          currentPageReportTemplate="{{ 'SHARED.PAGE_REPORT' | translate }}"
          (onPageChange)="loadPage($event, true)"></p-paginator>
      </div>
    </div>
    <p-sidebar [(visible)]="display" position="bottom" [baseZIndex]="-1000" [modal]="false" styleClass="h-100">
      <div class="bg-white pt-5 h-100">
        <app-system-dialog (onClose)="closeCreateDialog()" [asDialog]="false"></app-system-dialog>
      </div>
    </p-sidebar>
  </div>
</ng-template>

<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <div class="p-col text-center">
      <div class="text-center">
        <ng-container *ngIf="activityStatus$ | async as activityStatus">
          <button
            pButton
                  [disabled]="(!activityStatus.editable) || (!selectedBCSystem)"
                  [loading]="blocking$ | async" (click)="submit()" pButton
                  label="{{ 'ACTIONS.SAVE' | translate }}" icon="pi pi-save"></button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
