<div class="p-toolbar-group-right">
  <button pButton label="{{'ACTIONS.ADD' | translate}}" icon="pi pi-plus" (click)="openDialog()"></button>
</div>

<p-dialog
  [(visible)]="display"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <span>{{ "SYSTEMS.ADD_SYSTEM" | translate }}</span>
      <span
        *ngIf="true"
        class="label label-lg label-light-primary label-inline"
      >
        {{ "ACTIONS.NEW_ITEM" | translate }}
      </span>
      <span
        *ngIf="false"
        class="label label-lg label-light-success label-inline"
      >
        {{ "ACTIONS.UPDATE_ITEM" | translate }}
      </span>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="nameEn" pInputText/>
        <label>
          {{ "SYSTEMS.DIALOG.NAME_EN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="form.controls['nameEn'].touched && !form.controls['nameEn'].valid && form.controls['nameEn'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>

        <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('english')">
          {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
        </p>
      </ng-container>
    </div>


    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="nameAr" pInputText/>
        <label>
          {{ "SYSTEMS.DIALOG.NAME_AR" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['nameAr'].touched && !form.controls['nameAr'].valid && form.controls['nameAr'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>

        <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('arabic')">
          {{ 'VALIDATION_MSG.MUST_BE_IN_ARABIC' | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="systemLogo" pInputText/>
        <label>
          {{ "SYSTEMS.DIALOG.SYSTEM_LOGO" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
      <ng-container
        *ngIf="
          form.controls['systemLogo'].touched &&
          !form.controls['systemLogo'].valid &&
          form.controls['systemLogo'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['systemLogo'].hasError('required')"
        >
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="ownerDept" pInputText/>
        <label>
          {{ "SYSTEMS.DIALOG.OWNER_DEPT" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="
          form.controls['ownerDept'].touched &&
          !form.controls['ownerDept'].valid &&
          form.controls['ownerDept'].dirty
        "
      >
        <p
          class="p-error mb-0"
          *ngIf="form.controls['ownerDept'].hasError('required')"
        >
          {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
        </p>
      </ng-container>
    </div>


    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="rtoList" [autoDisplayFirst]="false" formControlName="systemRto"
                            [filter]="true" filterBy="nameAr,nameEn" dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
                <label>
                  {{'SYSTEMS.SYSTEM_RTO' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      <ng-container *ngIf="form.controls['systemRto'].touched &&
          !form.controls['systemRto'].valid &&
          form.controls['systemRto'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['systemRto'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
