<div class="d-flex flex-column align-items-center">
  <div class="w-50 px-2 m-auto mb-6">
    <div class="card card-custom card-stretch border">
      <div class="card-header p-0">
        <div class="form-group border-0 m-0 p-2 w-100">
          <app-org-input
            [formControl]="org"
            [appearance]="'fill'"
            placeholder="{{ 'EXERCISEIS.search_entitis' | translate }}"
          ></app-org-input>
        </div>
      </div>

      <div class="card-body p-2">
        <ul
          class="navi navi-hover navi-active navi-accent navi-link-rounded-lg"
        >
          <li
            @fadeSlideInOut
            *ngFor="let item of selectedEntitis; let i = index"
            class="navi-item cursor-pointer"
            (click)="activeGoal = i"
          >
            <div class="navi-link" [ngClass]="{ active: activeGoal == i }">
              <span class="navi-icon text-hover-danger text-muted">
                <i
                  class="flaticon2-rubbish-bin-delete-button icon-nm"
                  (click)="deleteGoal(i)"
                ></i>
              </span>

              <span class="navi-text"> {{ item.nameAr }}</span>
            </div>
          </li>
        </ul>
        <div
          *ngIf="selectedEntitis.length == 0"
          class="empty w-100 rouded p-5 text-center"
        >
          <span class="font-size-lg text-muted text-center">
            {{ "EXERCISEIS.no_entitis" | translate }}
            <i class="flaticon2-information icon-md"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- entitis table -->

  <div class="d-flex flex-column w-100">
    <div
      class="d-flex item align-items-center py-2"
      *ngFor="let item of selectedEntitis"
    >
      <!-- Entity name -->
      <div class="d-flex align-items-center max-w-175px">
        <div class="symbol symbol-circle symbol-primary ml-2">
          <span class="symbol-label">
            {{ item.nameEn | firstLetter }}
          </span>
        </div>
        <div class="d-flex flex-column text-right">
          <span class="text-muted font-weight-bold">{{ item.nameAr }}</span>
          <span class="font-weight-bold">{{ item.nameEn }}</span>
        </div>
      </div>
      <!--  -->

      <div class="form-group mx-2 my-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea
            rows="3"
            matInput
            placeholder="{{ 'EXERCISEIS.responsibilities' | translate }}"
          ></textarea>
        </mat-form-field>
      </div>
      <!--  -->
      <div class="form-group mx-2 my-0">
        <mat-form-field class="example-full-width" appearance="fill">
          <textarea
            rows="3"
            matInput
            placeholder="{{ 'EXERCISEIS.remarks' | translate }}"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
