<div class="p-toolbar-group-right">
  <button *checkPrivileges="'PRIV_CR_BC_RESOURCE'" pButton label="{{'ACTIONS.ADD' | translate}}" icon="pi pi-plus"
    (click)="openDialog()"></button>
</div>


<!-- as a dialog -->
<p-dialog *ngIf="asDialog;else page" #dialog [visible]="opened$ | async" [modal]="true" (visibleChange)="close()"
  [style]="{width: '55vw'}" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [maximizable]="true"
  [baseZIndex]="10000" [draggable]="true" [resizable]="false">
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>


<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">

    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh;">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px">
    </div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'VENDERS.DIALOG.EDIT_VENDER' | translate}}
        <span class="label label-lg label-light-success label-inline">
          {{ "ACTIONS.UPDATE_ITEM" | translate }}
        </span>
      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'VENDERS.DIALOG.ADD_VENDER' | translate}}
        <span class="label label-lg label-light-primary label-inline">
          {{ "ACTIONS.NEW_ITEM" | translate }}
        </span>
      </ng-container>
      <ng-container *ngIf="viewOnly$ | async">
        {{'VENDERS.DIALOG.VIEW_VENDER' | translate}}
      </ng-container>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
</ng-template>


<!-- templates content -->
<ng-template #content>

  <div class="w-100 pt-2" [ngStyle]="{'height': !asDialog ? '100%' : (dialog?.maximized ? '100%' :'65vh')     }">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>

    <div class="p-col-12">
      <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
          <i class="pi pi-id-card p-mx-2"></i>
          <b>
            {{ "VENDERS.DIALOG.VENDER_INFO" | translate }}
          </b>
        </div>
      </p-divider>
    </div>

    <form *ngIf="form" [formGroup]="form" class="p-fluid p-grid mt-5">

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameEn" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['nameEn'].touched && !form.controls['nameEn'].valid && form.controls['nameEn'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['nameEn'].hasError('english')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
          </p>
        </ng-container>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="nameAr" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="form.controls['nameAr'].touched && !form.controls['nameAr'].valid && form.controls['nameAr'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['nameAr'].hasError('arabic')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ARABIC' | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <p-dropdown [options]="criticalityType" [autoDisplayFirst]="false" formControlName="isCritical" dataKey="id"
            [showClear]="true" appendTo="body">
            <ng-template let-option pTemplate="selectedItem">
              {{ option | translateObj : 'name' }}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option | translateObj : 'name' }}
            </ng-template>
          </p-dropdown>
          <label>
            {{'VENDERS.DIALOG.CRITICALITY' | translate}}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container *ngIf="form.controls['isCritical'].touched && !form.controls['isCritical'].valid &&
          form.controls['isCritical'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['isCritical'].hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <textarea pInputText type="text" formControlName="address" rows="5"></textarea>
          <!--<input type="text" formControlName="descAr" >-->
          <label>{{ 'VENDERS.DIALOG.ADDRESS' | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="form.controls['address'].touched && !form.controls['address'].valid && form.controls['address'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['address'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['address'].hasError('english')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-col-12">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-id-card p-mx-2"></i>
            <b>
              {{ "VENDERS.DIALOG.SERVICES_AGREEMENT" | translate }}
            </b>
          </div>
        </p-divider>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <textarea pInputText type="text" formControlName="services" rows="5"></textarea>
          <!--                <input type="text" formControlName="descEn" pInputText>-->
          <label>{{ 'VENDERS.DIALOG.SUP_SERVICE_REND' | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="form.controls['services'].touched && !form.controls['services'].valid && form.controls['services'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['services'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['services'].hasError('english')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <textarea pInputText type="text" formControlName="sla" rows="5"></textarea>
          <label>{{ 'VENDERS.DIALOG.SERVICE_LEVEL_AGREE' | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container *ngIf="form.controls['sla'].touched && !form.controls['sla'].valid && form.controls['sla'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['sla'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['sla'].hasError('english')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-col-12">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-id-card p-mx-2"></i>
            <b>
              {{ "VENDERS.DIALOG.PRI_CONTACT" | translate }}
            </b>
          </div>
        </p-divider>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="pcontactNameEn" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['pcontactNameEn'].touched && !form.controls['pcontactNameEn'].valid && form.controls['pcontactNameEn'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['pcontactNameEn'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['pcontactNameEn'].hasError('english')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
          </p>
        </ng-container>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="pcontactNameAr" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="form.controls['pcontactNameAr'].touched && !form.controls['pcontactNameAr'].valid && form.controls['pcontactNameAr'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['pcontactNameAr'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['pcontactNameAr'].hasError('arabic')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ARABIC' | translate }}
          </p>
        </ng-container>
      </div>

      <!-- phone -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input phoneType="FIXED_LINE" cssClass="p-inputtext p-component p-text-left"
            [onlyCountries]="['ae']" formControlName="pcontactPhoneNum" [enablePlaceholder]="false"
            [enableAutoCountrySelect]="true">
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "VENDERS.DIALOG.LAND_NUMBER" | translate }}
          </label>
        </span>
        <ng-container
          *ngIf="this.form.get('pcontactPhoneNum').touched && !this.form.get('pcontactPhoneNum').valid && this.form.get('pcontactPhoneNum').dirty">
          <p class="dir-text" class="p-error mb-0" *ngIf="this.form.get('pcontactPhoneNum').hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="dir-text" class="p-error mb-0"
            *ngIf="this.form.get('pcontactPhoneNum').hasError('validatePhoneNumber')">
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- mobile -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input phoneType="MOBILE" cssClass="p-inputtext p-component p-text-left" [onlyCountries]="['ae']"
            formControlName="pcontactMobileNum" [enablePlaceholder]="false" [enableAutoCountrySelect]="true">
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "VENDERS.DIALOG.MOBILE" | translate }}
            <span class="required-asterisk">*</span>
          </label>
        </span>
        <ng-container
          *ngIf="this.form.get('pcontactMobileNum').touched && !this.form.get('pcontactMobileNum').valid && this.form.get('pcontactMobileNum').dirty">
          <p class="dir-text" class="p-error mb-0" *ngIf="this.form.get('pcontactMobileNum').hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="dir-text" class="p-error mb-0"
            *ngIf="this.form.get('pcontactMobileNum').hasError('validatePhoneNumber')">
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- home phone -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="pcontactSecNum" pInputText />
          <label>
            {{ "VENDERS.DIALOG.HOME_NUMBER" | translate }}
          </label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="pcontactEmail" pInputText>
          <label>
            {{ 'SHARED.EMAIL' | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['pcontactEmail'].touched && !form.controls['pcontactEmail'].valid && form.controls['pcontactEmail'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['pcontactEmail'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['pcontactEmail'].hasError('pattern')">
            {{ 'VALIDATION_MSG.EMAIL.INVALID' | translate }} </p>

          <p class="p-error mb-0" *ngIf="form.controls['pcontactEmail'].hasError('alreadyInUse')">
            {{ 'VALIDATION_MSG.EMAIL.INUSE' | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-col-12">
        <p-divider align="left">
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-id-card p-mx-2"></i>
            <b>
              {{ "VENDERS.DIALOG.SEC_CONTACT" | translate }}
            </b>
          </div>
        </p-divider>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="scontactNameEn" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['scontactNameEn'].touched && !form.controls['scontactNameEn'].valid && form.controls['scontactNameEn'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['scontactNameEn'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['scontactNameEn'].hasError('english')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ENGLISH' | translate }}
          </p>
        </ng-container>
      </div>


      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="scontactNameAr" pInputText />
          <label>
            {{ "LOCATIONS.DIALOG.NAME_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="form.controls['scontactNameAr'].touched && !form.controls['scontactNameAr'].valid && form.controls['scontactNameAr'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['scontactNameAr'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['scontactNameAr'].hasError('arabic')">
            {{ 'VALIDATION_MSG.MUST_BE_IN_ARABIC' | translate }}
          </p>
        </ng-container>
      </div>

      <!-- phone -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input phoneType="FIXED_LINE" cssClass="p-inputtext p-component p-text-left"
            [onlyCountries]="['ae']" formControlName="scontactPhoneNum" [enablePlaceholder]="false"
            [enableAutoCountrySelect]="true">
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "VENDERS.DIALOG.LAND_NUMBER" | translate }}
          </label>
        </span>
        <ng-container
          *ngIf="this.form.get('scontactPhoneNum').touched && !this.form.get('scontactPhoneNum').valid && this.form.get('scontactPhoneNum').dirty">
          <p class="dir-text" class="p-error mb-0" *ngIf="this.form.get('scontactPhoneNum').hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="dir-text" class="p-error mb-0"
            *ngIf="this.form.get('scontactPhoneNum').hasError('validatePhoneNumber')">
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- mobile -->
      <div class="p-field p-col-12 p-md-6" dir="ltr">
        <span class="p-float-label">
          <ngx-intl-tel-input phoneType="MOBILE" cssClass="p-inputtext p-component p-text-left" [onlyCountries]="['ae']"
            formControlName="scontactMobileNum" [enablePlaceholder]="false" [enableAutoCountrySelect]="true">
          </ngx-intl-tel-input>
          <label class="dir-text">
            {{ "VENDERS.DIALOG.MOBILE" | translate }}
            <span class="required-asterisk">*</span>
          </label>
        </span>
        <ng-container *ngIf="
          this.form.get('scontactMobileNum').touched &&
          !this.form.get('scontactMobileNum').valid &&
          this.form.get('scontactMobileNum').dirty
        ">
          <p class="dir-text" class="p-error mb-0" *ngIf="this.form.get('scontactMobileNum').hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p class="dir-text" class="p-error mb-0"
            *ngIf="this.form.get('scontactMobileNum').hasError('validatePhoneNumber')">
            {{ "VALIDATION_MSG.MOBILE.INVALID" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- home phone -->
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="scontactSecNum" pInputText />
          <label>
            {{ "VENDERS.DIALOG.HOME_NUMBER" | translate }}
          </label>
        </span>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <input type="text" formControlName="scontactEmail" pInputText>
          <label>
            {{ 'SHARED.EMAIL' | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="form.controls['scontactEmail'].touched && !form.controls['scontactEmail'].valid && form.controls['scontactEmail'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['scontactEmail'].hasError('required')">
            {{ 'VALIDATION_MSG.REQUIRED' | translate }}
          </p>

          <p class="p-error mb-0" *ngIf="form.controls['scontactEmail'].hasError('pattern')">
            {{ 'VALIDATION_MSG.EMAIL.INVALID' | translate }} </p>

          <p class="p-error mb-0" *ngIf="form.controls['scontactEmail'].hasError('alreadyInUse')">
            {{ 'VALIDATION_MSG.EMAIL.INUSE' | translate }}
          </p>
        </ng-container>
      </div>

    </form>
  </div>

</ng-template>


<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <button *ngIf="asDialog" pButton icon="pi pi-times" (click)="close()"
      label="{{'ACTIONS.CLOSE' | translate }}"></button>

    <!--<button *ngIf="!asDialog" pButton icon="pi pi-sign-out"
            label="{{'ACTIONS.BACK' | translate }}"></button>-->
    <div class="ml-dir-auto"></div>

    <ng-container *ngIf="!(viewOnly$ | async)">
      <div class="mx-1">
        <button pButton type="button" [loading]="blocking$ | async" (click)="clear()"
          label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-replay" class="p-button-outlined"></button>
      </div>
      <div class="mx-1">
        <button pButton label="{{ 'ACTIONS.SAVE' | translate }}" icon="pi pi-save" [loading]="blocking$ | async"
          (click)="submit()"></button>
      </div>
    </ng-container>
  </div>
</ng-template>