


.bg-main-color {
    background-color: #D7D6DC;
  }

  .bg-secondray{
    background-color: #DF0E19;
  }
  
  .bg-readiness-th-1 {
    background-color: #f2eed3;
  }
  
  .bg-readiness-th-2 {
    background-color: #dce6db;
  }
  
  .bg-readiness-th-t {
    background-color: #e8eff5;
  }
  
  .bg-readiness-th-b {
    background-color: #d7d6dc;
  }
  
  .bg-readiness-red {
    background-color: #a63a3b;
  }
  
  .border-readiness-red {
    border-color: #a63a3b !important;
  }
  :lang(ar) {
    .custom-badge {
      transform: translateX(-14px);
    }
  }
  :lang(en) {
    .custom-badge {
      transform: translateX(14px);
    }
  }


  .availabilty-report-title{
    margin-top: 30px;
  }
.main-title{
  text-align: center;

}
