<div class="row">

  <div [ngSwitch]="view" class="col-12">
    <ng-container *ngSwitchCase="'CARDS'">
      <ng-container *ngIf="loading;else cardsTemplate">
        <ng-container *ngFor="let _ of [].constructor(10)">
          <div class="w-100 rounded my-2 py-4 bg-white cursor-pointer hoverable border">
            <div class="w-100 mx-auto my-1 d-flex position-relative px-4 border-left-dir-6px">
              <p-skeleton width="6rem" height="6rem"></p-skeleton>
              <div class="flex-grow-1 p-grid p-fluid">
                <div class="p-col-12 p-md-8">

                  <div class="mt-1 mx-2 p-grid p-fluid">
                    <div class="p-col-12 pb-0">
                      <div class="p-fluid p-grid">
                        <div class="p-col"><p-skeleton height="2rem"></p-skeleton></div>
                        <div class="p-col"><p-skeleton styleClass="mt-3"></p-skeleton></div>
                      </div>
                    </div>
                    <div class="p-col-12">
                      <div class="p-fluid p-grid">
                        <div class="p-col"><p-skeleton></p-skeleton></div>
                        <div class="p-col"><p-skeleton></p-skeleton></div>
                        <div class="p-col"><p-skeleton></p-skeleton></div>
                        <div class="p-col"><p-skeleton></p-skeleton></div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="p-col-12 p-md-4">
                  <p-skeleton width="100%" height="100%"></p-skeleton>
                </div>
              </div>
              <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                      class="p-button-rounded p-button-text mt-0 p-button-plain"></button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #cardsTemplate>
        <ng-container *ngFor="let item of page">
          <div class="w-100 rounded my-2 py-4 bg-white cursor-pointer hoverable border">
            <div class="w-100 mx-auto my-1 d-flex position-relative px-4 border-left-dir-6px"
                 [ngClass]="{ 'border-primary': item.isActive, 'border-warning': !item.isActive}">
              <ng-container *ngIf="!item.photo?.length; else profileImg">
                <p-avatar (click)="item.isActive && openView(item.id)" icon="pi pi-user"
                          styleClass="p-avatar-xxl"></p-avatar>
              </ng-container>
              <ng-template #profileImg>
                <p-avatar (click)="item.isActive && openView(item.id)" [image]="item.photo | url"
                          styleClass="p-avatar-xxl"></p-avatar>
              </ng-template>

              <div class="flex-grow-1 p-grid p-fluid" (click)="item.isActive && openView(item.id)">
                <div class="p-col-12 p-md-8">

                  <div class="mt-1 mx-2 p-grid p-fluid">
                    <div class="p-col-12 pb-0 p-d-flex">
                      <div>
                        <h4 class="mb-1 px-2 d-inline" pTooltip="{{ 'SHARED.FULL_NAME' | translate }}" appendTo="body"
                            tooltipPosition="top">
                          {{ item | translateObj : 'name' }}
                        </h4>
                      </div>
                      <div class="mt-auto pt-1">
                        <span class="px-0 d-inline" pTooltip="{{ 'SHARED.USERNAME' | translate }}" appendTo="body"
                              tooltipPosition="top">
                          {{ item.userName }}
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12">
                      <p-chip pTooltip="{{ 'SHARED.ORG' | translate }}" appendTo="body" tooltipPosition="top"
                              label="{{item.orgStructure | translateObj : 'name' }}" icon="pi pi-globe"
                              styleClass="bg-transparent text-muted"></p-chip>
                    </div>
                  </div>

                </div>
              </div>
              <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                      class="p-button-rounded p-button-text mt-0 p-button-plain" (click)="menu1.toggle($event)"
                      *checkPrivileges="['PRIV_VW_MNG_GRP', 'PRIV_VW_GRP']"></button>
              <p-menu #menu1 appendTo="body" [popup]="true" [model]="item.actions"></p-menu>
            </div>
          </div>
        </ng-container>
      </ng-template>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="loading;else tableTemplate">
        <p-table [value]="[].constructor(10)">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 0;"></th>

              <th *ngIf="columns?.includes('nameAr')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "USER_MANAGEMENT.USERS.NAME_AR" | translate }}
                </div>
              </th>
              <th *ngIf="columns?.includes('nameEn')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "USER_MANAGEMENT.USERS.NAME_EN" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('org')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "SHARED.ORG" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('leader')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.LEADER" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('shift_schedule')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.SHIFT_SCHEDULE" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('usersnumber')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.USERS_NO" | translate }}
                </div>
              </th>

              <th *checkPrivileges="['PRIV_VW_MNG_GRP', 'PRIV_VW_GRP']" style="width: 92px;">{{'ACTIONS.ACTIONS' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer hoverable">
              <td class="flag-td">
                <div class="bg-secondary">
                </div>
              </td>

              <td *ngIf="columns?.includes('nameAr')">
                <p-skeleton></p-skeleton>
              </td>
              <td *ngIf="columns?.includes('nameEn')">
                <p-skeleton></p-skeleton>
              </td>
              <td *ngIf="columns?.includes('org')">
                <p-skeleton></p-skeleton>
              </td>
              <td *ngIf="columns?.includes('leader')">
                <p-skeleton></p-skeleton>
              </td>

              <td *ngIf="columns?.includes('shift_schedule')">
                <p-skeleton></p-skeleton>
              </td>

              <td *ngIf="columns?.includes('usersnumber')">
                <p-skeleton></p-skeleton>
              </td>

              <td>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text my-auto p-button-plain"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #tableTemplate>
        <p-table [columns]="columns" [totalRecords]="totalRecords" [value]="page" dataKey="id" [autoLayout]="true">

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="'col.width'">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th></th>


              <th *ngIf="columns?.includes('nameAr')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "USER_MANAGEMENT.USERS.NAME_AR" | translate }}
                </div>
              </th>
              <th *ngIf="columns?.includes('nameEn')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "USER_MANAGEMENT.USERS.NAME_EN" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('org')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "SHARED.ORG" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('leader')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.LEADER" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('shift_schedule')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.SHIFT_SCHEDULE" | translate }}
                </div>
              </th>

              <th *ngIf="columns?.includes('usersnumber')">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "GROUP.USERS_NO" | translate }}
                </div>
              </th>

              <th *checkPrivileges="['PRIV_VW_MNG_GRP', 'PRIV_VW_GRP']" style="width: 92px;">{{'ACTIONS.ACTIONS' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer hoverable">
              <td class="flag-td">
                <div [ngClass]="{ 'bg-primary': item.isActive, 'bg-warning': !item.isActive}">
                </div>
              </td>

              <td *ngIf="columns?.includes('nameAr')" (click)="item.isActive && openView(item.id)">
                {{item.nameAr}} {{ item.middleNameAr }} {{ item.lastNameAr}}
              </td>
              <td *ngIf="columns?.includes('nameEn')" (click)="item.isActive && openView(item.id)">
                {{item.nameEn}} {{ item.middleNameEn }} {{ item.lastNameEn }}
              </td>
              <td *ngIf="columns?.includes('org')" (click)="item.isActive && openView(item.id)">
                {{item.orgStructure | translateObj : 'name' }}
              </td>
              <td *ngIf="columns?.includes('leader')" (click)="item.isActive && openView(item.id)">
                <ng-container *ngFor="let user of item.users; let i = index">
                  {{user?.type === 1 && lang === 'en' ? user.user.firstNameEn : user?.type === 1 && lang === 'ar' ? user.user.firstNameAr : ''}}
                </ng-container>
              </td>

              <td *ngIf="columns?.includes('shift_schedule')" (click)="item.isActive && openView(item.id)">
                {{item.shiftSchedule}}
              </td>

              <td *ngIf="columns?.includes('usersnumber')" (click)="item.isActive && openView(item.id)">
                {{item.users?.length}}
              </td>

              <td>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text my-auto p-button-plain" (click)="menu.toggle($event)"
                        *checkPrivileges="['PRIV_VW_MNG_GRP', 'PRIV_VW_GRP']"></button>
                <p-menu #menu appendTo="body" [popup]="true" [model]="item.actions"></p-menu>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="100%">
                <div class="w-100">
                  <nodata-table></nodata-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </ng-container>

    <p-paginator #pg [first]="pageRequest?.first" [rows]="pageRequest?.rows" [totalRecords]="totalRecords"
                 [rowsPerPageOptions]="[10,20,50]" [showCurrentPageReport]="true"
                 currentPageReportTemplate="{{'SHARED.PAGE_REPORT' | translate}}" (onPageChange)="onPageChange.emit($event)">
    </p-paginator>
  </div>
</div>
