:host ::ng-deep {
  .p-dialog-content {
    overflow: visible;
    height: 100%;
  }
  .p-tabview .p-tabview-panels {
    height: 97%;
    overflow-y: auto;
    .p-tabview-panel {
      height: 97%;
    }
  }
}


