<div class="bottom-sheet">
  <div class="bottom-sheet__header">
    <h6>
      {{ "CORRERSPONDENCE.REPLY" | translate }}
    </h6>
    <div class="actions">
      <button class="btn btn-sm btn-clean btn-icon mr-1" (click)="close()">
        <span
          [inlineSVG]="'/assets/media/svg/icons/Code/Error-circle.svg'"
          cacheSVG="true"
          class="svg-icon svg-icon-md"
        ></span>
      </button>
    </div>
  </div>

  <div class="bottom-sheet__body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-12 info">
          <div>
            <h3>
              {{ parentCorr?.subject }}
            </h3>
          </div>
          <div class="info__related">
            <div [matTooltip]="'CORRERSPONDENCE.CONFIDENTIALITY' | translate">
              <mat-icon color="primary">security</mat-icon>
              <span>{{
                parentCorr?.confidentialty | propTranslator: "name"
              }}</span>
            </div>
            <div
              class="mx-5"
              [matTooltip]="'CORRERSPONDENCE.INCIDENT' | translate"
            >
              <mat-icon color="primary">report</mat-icon>
              <span>{{ parentCorr?.incident?.subject }}</span>
            </div>
            <div [matTooltip]="'CORRERSPONDENCE.DUEDATE' | translate">
              <mat-icon color="primary">date_range</mat-icon>
              <span>{{ dueDate  | date }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field
            [dir]="lang === 'en' ? 'ltr' : 'rtl'"
            class="w-100"
            [appearance]="appearance"
          >
            <mat-label
              >{{ "CORRERSPONDENCE.BODY" | translate }}
              <span class="required-asterisk">*</span>
            </mat-label>

            <textarea
              required
              rows="7"
              formControlName="body"
              matInput
              #bodyInput
              placeholder="{{
                'CORRERSPONDENCE.TEXT_PLACE_HOLDER' | translate
              }}"
            ></textarea>

            <div *appFormErrors="form.get('body')">
              <mat-error
                *ngIf="
                  !form.controls['body'].valid && form.controls['body'].touched
                "
              >
                {{ "CORRERSPONDENCE.TEXT_REQUIRED" | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('body').hasError('maxlength')">
                {{ "CORRERSPONDENCE.MAX" | translate }} 2000
              </mat-error>
            </div>
          </mat-form-field>

          <p dir="ltr" class="text-left" [innerText]="history"></p>
        </div>
      </div>
    </form>
    <app-correspondence-attachments
      #attachments
      (outputFilesSelected)="onFilesSelected($event)"
    ></app-correspondence-attachments>

    <div class="spinner-container m-auto p-10" *ngIf="loading">
      <mat-spinner class="m-auto" diameter="50"></mat-spinner>
    </div>
  </div>

  <div class="bottom-sheet__footer">
    <button
      mat-icon-button
      color="primary"
      aria-label="submit"
      (click)="attachments.uploadFiles()"
    >
      <mat-icon>attachments</mat-icon>
    </button>

    <button
      class="send-icon"
      mat-icon-button
      color="primary"
      aria-label="submit"
      [disabled]="form.invalid"
      (click)="onSubmit()"
    >
      <mat-icon>send</mat-icon>
    </button>

    <input
      type="file"
      multiple
      hidden
      #uploadFiles
      (change)="onFilesSelected($event.target.files)"
    />
  </div>
</div>
