<p-table
  [columns]="columns"
  [totalRecords]="totalRecords"
  [value]="page"
  dataKey="id"
  [autoLayout]="true"
>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style.width]="'col.width'" />
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.TITLE" | translate }}
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.FULL_NAME" | translate }}
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.JOB_TITLE" | translate }}
        </div>
      </th>

      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.MOBILE_NUMBER" | translate }}
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.PHONE_NUMBER" | translate }}
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          {{ "PHONEBOOK.ORG_NAME" | translate }}
        </div>
      </th>

      <th style="width: 92px">
        {{ "ACTIONS.ACTIONS" | translate }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr >
      <td class="flag-td">
        <div
          [ngClass]="{
            'bg-primary': item.isActive,
            'bg-warning': !item.isActive
          }"
        ></div>
      </td>

      <td>
        {{ item.title }}
      </td>

      <td>{{ item.firstName }} {{ item.middleName }} {{ item.lastName }}</td>
      <td>
        {{ item.jobTitle }}
      </td>

      <td>
        {{ item.mobileNumber }}
      </td>
      <td>
        {{ item.phoneNumber }}
      </td>

      <td>
        {{ item.orgName }}
      </td>

      <td>
        <button
          *appPrivileges="'PRIV_ED_PHONEBOOK_ENTRY'"
          pButton
          pRipple
          type="button"
          icon="pi pi-ellipsis-v"
          class="p-button-rounded p-button-text my-auto p-button-plain"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu
          #menu
          appendTo="body"
          [popup]="true"
          [model]="item.actions"
        ></p-menu>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        <div class="w-100">
          <nodata-table></nodata-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  #pg
  [first]="pageRequest?.first"
  [rows]="pageRequest?.rows"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 20, 50]"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{{ 'SHARED.PAGE_REPORT' | translate }}"
  (onPageChange)="onPageChange.emit($event)"
>
</p-paginator>
