<div class="container-fluid">
  <div class="bg-white px-3 w-100 d-flex flex-wrap mx-1 px-6">
    <div class="col-10">
      <h2>{{'BUSINESS_IMPACT_ANALYSIS' | translate}}</h2>
    </div>
    <div class="ml-dir-auto d-flex">
      <app-add-new-analysis-cycle></app-add-new-analysis-cycle>
    </div>
  <div class="spacer"></div>
</div>
  <!--<app-breadcrumb></app-breadcrumb>-->

  <!--divider-->
  <div class="p-col-12">
    <p-divider>
    </p-divider>
  </div>

  <div class="row">
    <!--advance search-->
    <div class="col-12 position-relative mt-4">
      <p-fieldset [toggleable]="true" styleClass="px-3 py-2 search-section"
                  legend="{{'ACTIONS.ADVANCED_SEARCH' | translate}}" [collapsed]="true">
        <div class="p-fluid p-grid">

          <div class="p-field p-col-4 p-md-2">
            <input type="text" pInputText [ngModel]=""
                   placeholder="{{ 'SYSTEMS.DEPARTMENT_NAME' | translate }}"
                   (keyup)="updateFilter({name: $event.target.value}, $event)">
          </div>
          <div class="p-field p-col-4 p-md-2">
            <input type="text" pInputText [ngModel]=""
                   placeholder="{{ 'SYSTEMS.SYSTEM_NAME' | translate }}"
                   (keyup)="updateFilter({name: $event.target.value}, $event)">
          </div>
          <div class="p-field p-col-4 p-md-2">
            <input type="text" pInputText [ngModel]=""
                   placeholder="{{ 'SYSTEMS.SYSTEM_RTO' | translate }}"
                   (keyup)="updateFilter({name: $event.target.value}, $event)">
          </div>
          <div class="p-col p-d-flex">
            <div class="ml-dir-auto"></div>
            <div class="mx-1">
              <button pButton type="button" label="{{'ACTIONS.CLEAR' | translate }}" icon="pi pi-times"
                      class="p-button-outlined" (click)="clear()"></button>
            </div>
            <div class="mx-1">
              <button pButton label="{{ 'ACTIONS.SEARCH' | translate }}" icon="pi pi-search"
                      (click)="search()"></button>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>

    <!--sort colums-->
    <div class="col-12 mt-3">
      <p-toolbar>
        <div class="p-toolbar-group-left">

          <div class="p-1 w-100 w-md-200px">
            <p-multiSelect [options]="selectedColumns" defaultLabel="Select Columns" optionLabel="name" styleClass="w-100"
                           [ngModel]="" [optionValue]="'code'" optionDisabled="disabled"
                           (onChange)="changeColumns($event)">
              <ng-template let-options pTemplate="selectedItems">
                <ng-container *ngIf="options?.length > 0">
                  {{options?.length + ' ' + ('SHARED.SELCTED_ITEM' | translate)}}
                </ng-container>
                <ng-container *ngIf="!options || options.length === 0">
                  {{'SHARED.SELECT_SHOWING_FIELDS' | translate}}
                </ng-container>
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option.name | translate }}
              </ng-template>
            </p-multiSelect>
          </div>
          <div class="p-1 w-100 w-md-225px">
            <div class="p-inputgroup">
              <p-dropdown [options]="sortableColumns" [autoDisplayFirst]="false" [showClear]="true"
                          [ngModel]=""
                          placeholder="{{ 'SHARED.SELECT_SORTING_FIELD' | translate}}" optionLabel="name"
                          optionValue="code"
                          styleClass="w-100 h-100" class="w-100 h-100" (onChange)="sort($event)">
                <ng-template let-option pTemplate="selectedItem">
                  {{ option.name | translate }}
                </ng-template>
                <ng-template let-option pTemplate="item">
                  {{ option.name | translate }}
                </ng-template>
              </p-dropdown>
              <div class="p-inputgroup-addon p-0">
                <p-toggleButton class="w-100 h-100" [onIcon]="'pi pi-sort-amount-up'"
                                [ngModel]="" offIcon="pi pi-sort-amount-down-alt"
                                iconPos="right" styleClass="w-100 h-100" (onChange)="order($event)"></p-toggleButton>
              </div>
            </div>
          </div>
        </div>
        <div class="p-toolbar-group-right">
          <p-splitButton label="{{'ACTIONS.EXPORT' | translate}}" icon="pi pi-external-link"></p-splitButton>
        </div>
      </p-toolbar>
    </div>

    <div class="col-12">
      <p-divider [align]="'left'" styleClass="bg-transparent">
        <p-selectButton [options]="[{icon: 'pi pi-bars', view: 'TABLE'}, {icon: 'pi pi-th-large', view: 'CARDS'}]"
                        optionLabel="icon" optionValue="view" [ngModel]="" (onChange)="changeView($event.value)">
          <ng-template let-item>
            <i [class]="item.icon"></i>
          </ng-template>
        </p-selectButton>
      </p-divider>
    </div>
  </div>
  <div class="col-12 mt-3">
    <div class="w-100 d-flex flex-wrap mx-1">
      <div class="my-auto">
        <button pButton type="button"
                class="p-tag w-95px px-2 text-center py-1 p-button-rounded p-button-sm p-button-help"

                (click)="updateFilter({type: 'TO_MY_ORG'}, $event);">
          <span class="m-auto"> {{ 'DEPARTMENT' | translate }} </span>
        </button>
        <button pButton type="button"
                class="p-tag w-95px mx-2 px-2 py-1 text-center p-button-rounded p-button-secondary p-button-sm text-white"

                (click)="updateFilter({type: 'BY_MY_ORG'}, $event);">
          <span class="m-auto"> {{ 'SECTOR' | translate }} </span>
        </button>
      </div>
    </div>
  </div>

 <!-- <div class="mx-4 my-10">
    <div class="row" *ngIf="true">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>-->
</div>

<div class="col-12 mt-3 py-3">
  <div class="d-flex flex-wrap mx-1 px-6">
    <div class="text-right col-7  tab-title text-medium-slate-blue">
      {{ "ORG_ACTIVITIES" | translate }}
    </div>

    <div class="ml-dir-auto d-flex">
      <app-add-new-activity></app-add-new-activity>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <ng-container>
      <ng-container *ngIf="loading ;else tableTemplate">
        <p-table [value]="[].constructor(10)">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 0;"></th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ACTIVITY_NAME" | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ACTIVITY_FEQ" | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ANALYSIS_CRCLE" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "RTO" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "PRIORITY_LEVEL" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "STATUS" | translate }}
                </div>
              </th>

              <th style="width: 92px;">{{'ACTIONS.ACTIONS' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer hoverable">
              <td class="flag-td">
                <div class="bg-secondary">
                </div>
              </td>

              <td>
                <p-skeleton></p-skeleton>
              </td>
              <td>
                <p-skeleton></p-skeleton>
              </td>
              <td>
                <p-skeleton></p-skeleton>
              </td>
              <td>
                <p-skeleton></p-skeleton>
              </td>
              <td>
                <p-skeleton></p-skeleton>
              </td>
              <td>
                <p-skeleton></p-skeleton>
              </td>

              <td>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text my-auto p-button-plain"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
      <ng-template #tableTemplate>
        <p-table [columns]="columns" totalRecords="20" [value]="page" dataKey="id" [autoLayout]="true">

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col *ngFor="let col of columns" [style.width]="'col.width'">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ACTIVITY_NAME" | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ACTIVITY_FEQ" | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "ANALYSIS_CRCLE" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "RTO" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "PRIORITY_LEVEL" | translate }}
                </div>
              </th>

              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ "STATUS" | translate }}
                </div>
              </th>

              <th style="width: 92px;">{{'ACTIONS.ACTIONS' | translate}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr class="cursor-pointer hoverable">
              <td class="flag-td">
                <div [ngClass]="{ 'bg-primary': item.isActive, 'bg-warning': !item.isActive}">
                </div>
              </td>

              <td>
                {{item.activity}}
              </td>

              <td>
                {{item.activity_frq}}
              </td>

              <td>
                {{item.analysis_cycle}}
              </td>

              <td>
                {{item.rto}}
              </td>

              <td>
                {{item.priority_level}}
              </td>

              <td>
                {{item.status}}
              </td>

              <td>
                <button pButton pRipple type="button" icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text my-auto p-button-plain" (click)="menu.toggle($event)">
                </button>
                <p-menu #menu appendTo="body" [popup]="true" [model]="item.actions"></p-menu>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="100%">
                <div class="w-100">
                  <nodata-table></nodata-table>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-template>
    </ng-container>
    <p-paginator></p-paginator>
  </div>
</div>
