.icon-display {
  transform: scale(1.5);
  padding-top: 7px;
}

.cursor-pointer {
  cursor: pointer;
}

.card-body {
  position: relative;
  min-height: 300px;
  .block-table {
    background-color: #cccccc4d;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    right: 0;
    mat-spinner {
      top: 20%;
    }
  }
}
