.header-indicator {
  font-size: medium;
  font-weight: bold;
}
.text-indicator {
  font-size: 4rem;
  font-weight: 900;
}

.unit-idicator {
  * {
    font-size: x-large;
    font-weight: 700;
  }
  bottom: 15%;
}
