.log {
  background: #f3f6f9;
  padding: 10px;
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 10px;
}

.log-org {
  border-radius: 10px;
  border: 1px solid #72b6fd;
  color: #72b6fd;
  padding: 10px 6px;
}
