span {
    padding: 5px 10px;
    border-radius: 5px;
}

.bg-pr-danger {
    background-color: #e99734;
}

.bg-pr-info {
    background-color: #0096fb;
}

.bg-pr-primary {
    background-color: #d1d3df;
}

.bg-pr-dark {
    background-color: #eb4d5d;
}