<form [formGroup]="exerciseForm" (ngSubmit)="onSubmit()">
  <div class="flex-column justify-content-end align-items-center">
    <!-- search  fileds -->
    <div class="row">
      <div class="form-group col-lg-6 pl-4 pr-4 m-0">
        <mat-form-field
          [dir]="lang === 'en' ? 'ltr' : 'rtl'"
          appearance="fill"
          class="form-element example-full-width"
        >
          <mat-label>{{ "EXERCISEIS.exercise_type" | translate }}</mat-label>
          <mat-select formControlName="type">
            <mat-option> option </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group col-lg-6 pl-4 pr-4 m-0">
        <mat-form-field
          [dir]="lang === 'en' ? 'ltr' : 'rtl'"
          appearance="fill"
          class="form-element example-full-width"
        >
          <mat-label>{{ "EXERCISEIS.exercise_date" | translate }}</mat-label>

          <input
            matInput
            [min]="minDate"
            [max]="maxDate"
            formControlName="date"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-lg-6 pl-4 pr-4 m-0">
        <mat-form-field
          [dir]="lang === 'en' ? 'ltr' : 'rtl'"
          appearance="fill"
          class="form-element example-full-width"
        >
          <mat-label>{{ "EXERCISEIS.exercise_name" | translate }}</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>
      <div class="form-group col-lg-6 pl-4 pr-4 m-0">
        <mat-form-field
          [dir]="lang === 'en' ? 'ltr' : 'rtl'"
          appearance="fill"
          class="form-element example-full-width"
        >
          <mat-label>{{ "EXERCISEIS.exercise_code" | translate }}</mat-label>
          <input matInput type="text" formControlName="code" />
        </mat-form-field>
      </div>
    </div>

    <div class="row px-4">
      <mat-form-field
        [dir]="lang === 'en' ? 'ltr' : 'rtl'"
        appearance="fill"
        class="form-element example-full-width"
      >
        <mat-label>{{ "EXERCISEIS.exercise_desc" | translate }}</mat-label>
        <textarea
          matInput
          type="text"
          formControlName="desc"
          rows="6"
        ></textarea>
      </mat-form-field>
    </div>

    <div class="row px-4">
      <div
        [dir]="lang === 'en' ? 'ltr' : 'rtl'"
        appearance="fill"
        class="form-element example-full-width"
      >
        <mat-label class="d-block my-2 font-weight-bold"
          >{{ "EXERCISEIS.exercise_region" | translate }} :</mat-label
        >
        <mat-radio-group aria-label="Select an option" formControlName="region">
          <mat-radio-button value="internal">
            {{ "EXERCISEIS.internal" | translate }}</mat-radio-button
          >
          <mat-radio-button value="external">
            {{ "EXERCISEIS.external" | translate }}</mat-radio-button
          >
        </mat-radio-group>
      </div>
    </div>

    <div class="d-flex align-items-center px-4">
      <div class="form-group w-75 m-0">
        <mat-form-field
          [dir]="lang === 'en' ? 'ltr' : 'rtl'"
          appearance="fill"
          class="form-element example-full-width map-input"
        >
          <mat-label>{{ "EXERCISEIS.location_text" | translate }}</mat-label>
          <input matInput type="text" formControlName="code" />
        </mat-form-field>
      </div>
      <div
        class="w-25 p-1"
        *ngIf="exerciseForm.get('region').value == 'external'"
      >
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="onNewLocationChange($event)"
        >
          {{ "EXERCISEIS.from_map" | translate }}
          <i class="flaticon2-map icon-md"></i>
        </button>
      </div>
    </div>
  </div>
</form>
