<div class="p-toolbar-group-right">
  <button
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<p-dialog
  [visible]="opened$ | async" (visibleChange)="close()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'APP_SYS.EDIT_SOFTAPP' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'APP_SYS.ADD_SOFTAPP' | translate}}
      </ng-container>

      <ng-container *ngIf="viewOnly$ | async">
        {{'APP_SYS.VIEW_SOFTAPP' | translate}}
      </ng-container>
    </h3>
  </ng-template>

  <form [formGroup]="form" class="p-fluid p-grid mt-5">
    <div class="p-field p-col-12 p-md-6">
              <span class="p-float-label">
                <p-dropdown [options]="" [autoDisplayFirst]="false" formControlName="softApp"
                            dataKey="id" [showClear]="true" appendTo="body">
                  <ng-template let-option pTemplate="selectedItem">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                  <ng-template let-option pTemplate="item">
                    {{ option | translateObj : 'name' }}
                  </ng-template>
                </p-dropdown>
               <label>
                  {{'APP_SYS.SOFT_APP' | translate}}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>
      <ng-container *ngIf="form.controls['softApp'].touched && !form.controls['softApp'].valid &&
          form.controls['softApp'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['softApp'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-12">
              <span class="p-float-label">
                <textarea
                  pInputText
                  type="text"
                  formControlName="purpose"
                  rows="5"
                ></textarea>
                <label>{{ 'APP_SYS.REQ_PURPOSE' | translate }}
                  <strong class="required-asterisk"> * </strong>
                </label>
              </span>

      <ng-container
        *ngIf="form.controls['purpose'].touched && !form.controls['purpose'].valid && form.controls['purpose'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['purpose'].hasError('required')">
          {{ 'VALIDATION_MSG.REQUIRED' | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-col-12">
      <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
          <i class="pi pi-id-card p-mx-2"></i>
          <b>
            {{ "APP_SYS.SOFT_REQ_APP" | translate }}
          </b>
        </div>
      </p-divider>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="users" pInputText/>
        <label>
          {{ "APP_SYS.USERS" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['users'].touched && !form.controls['users'].valid &&
          form.controls['users'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['users'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="license" pInputText/>
        <label>
          {{ "APP_SYS.LICENSE" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['license'].touched && !form.controls['license'].valid &&
          form.controls['license'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['license'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="license_Type" pInputText/>
        <label>
          {{ "APP_SYS.LICENSE_TYPE" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['license_Type'].touched && !form.controls['license_Type'].valid &&
          form.controls['license_Type'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['license_Type'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-col-12">
      <p-divider align="left">
        <div class="p-d-inline-flex p-ai-center">
          <i class="pi pi-id-card p-mx-2"></i>
          <b>
            {{ "APP_SYS.MINI_NUMBER" | translate }}
          </b>
        </div>
      </p-divider>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="hour8" pInputText/>
        <label>
          {{ "APP_SYS.HOUR8" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['hour8'].touched && !form.controls['hour8'].valid &&
          form.controls['hour8'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['hour8'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="hour24" pInputText/>
        <label>
          {{ "APP_SYS.HOUR24" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['hour24'].touched && !form.controls['hour24'].valid &&
          form.controls['hour24'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['hour24'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="day1" pInputText/>
        <label>
          {{ "APP_SYS.DAY1" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['day1'].touched && !form.controls['day1'].valid &&
          form.controls['day1'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['day1'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="week1" pInputText/>
        <label>
          {{ "APP_SYS.WEEK1" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['week1'].touched && !form.controls['week1'].valid &&
          form.controls['week1'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['week1'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

    <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="week2" pInputText/>
        <label>
          {{ "APP_SYS.WEEK2" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

      <ng-container
        *ngIf="form.controls['week2'].touched && !form.controls['week2'].valid &&
          form.controls['week2'].dirty">
        <p class="p-error mb-0" *ngIf="form.controls['week2'].hasError('required')">
          {{ "VALIDATION_MSG.REQUIRED" | translate }}
        </p>
      </ng-container>
    </div>

  </form>

  <ng-template pTemplate="footer">
    <div class="p-col text-center">
      <div class="text-center" *ngIf="!(viewOnly$ | async)">
        <button
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
          [disabled]="form.invalid"
          (click)="submit()"
        ></button>
      </div>
    </div>
  </ng-template>
</p-dialog>
