<div class="p-toolbar-group-right" *ngIf="resourceAnalysis$ | async as resourceAnalysis">
  <button
    [disabled]="!resourceAnalysis.status.editable"
    pButton
    label="{{ 'ACTIONS.ADD' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<!-- as a dialog -->
<p-dialog
  #dialog
  [visible]="opened$ | async"
  [modal]="true"
  (visibleChange)="close()"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px"></div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'RECORDS.EDIT_RECORD' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'RECORDS.ADD_RECORD' | translate}}
      </ng-container>

      <ng-container *ngIf="viewOnly$ | async">
        {{'RECORDS.VIEW_RECORD' | translate}}
      </ng-container>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
<!--  <a
    *ngIf="asDialog"
    queryParamsHandling="merge"
    pRipple
    pButton
    [routerLink]="['record']"
    icon="pi pi-link"
    class="p-button-rounded p-button-text p-button-plain"
  ></a>-->
</ng-template>


<!-- templates content -->
<ng-template #content>
  <div
    class="w-100 pt-2"
    [ngStyle]="{
      height: !asDialog ? '100%' : dialog?.maximized ? '100%' : '40vh'
    }"
  >
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <form [formGroup]="form" class="p-fluid p-grid mt-5">
      <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="recordName" pInputText />
        <label>
          {{ "RECORDS.RECORD_NAME" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
        <ng-container
          *ngIf="
          form.controls['recordName'].touched &&
          !form.controls['recordName'].valid &&
          form.controls['recordName'].dirty"
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['recordName'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="recordCustodian" pInputText />
        <label>
          {{ "RECORDS.RECORD_CUSTODIAN" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
        <ng-container
          *ngIf="
          form.controls['recordCustodian'].touched &&
          !form.controls['recordCustodian'].valid &&
          form.controls['recordCustodian'].dirty
        "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['recordCustodian'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="location" pInputText />
        <label>
          {{ "RECORDS.CURRENT_LOCATION" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
        <ng-container
          *ngIf="
          form.controls['location'].touched &&
          !form.controls['location'].valid &&
          form.controls['location'].dirty
        "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['location'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="text" formControlName="alternateSource" pInputText />
        <label>
          {{ "RECORDS.ALTERNATE_SOUREC" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>
        <ng-container
          *ngIf="
          form.controls['alternateSource'].touched &&
          !form.controls['alternateSource'].valid &&
          form.controls['alternateSource'].dirty
        "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['alternateSource'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
      <div class="p-col-6" [ngClass]="{ 'p-md-6': (editMode || (viewOnly$ | async))}">
        <h6 class="text-center">{{ 'RECORDS.RECORD_TYPE' | translate }}</h6>
        <p-divider align="center">
          <div class="p-d-inline-flex p-ai-center">
            <div class="p-field p-col-12 p-md-12">
              <p-toggleButton formControlName="recordType" onLabel="{{ 'RECORDS.HARD' | translate }}"
                              offLabel="{{ 'RECORDS.SOFT' | translate }}" [onIcon]="'pi pi-book'" offIcon="pi pi-cloud"
                              iconPos="right"></p-toggleButton>
            </div>
          </div>
        </p-divider>
      </div>
      <div class="p-col-6" [ngClass]="{ 'p-md-6': (editMode || (viewOnly$ | async))}">
        <h6 class="text-center">{{ 'RECORDS.CRITICALLITY' | translate }}</h6>
        <p-divider align="center">
          <div class="p-d-inline-flex p-ai-center">
            <div class="p-field p-col-12 p-md-12">
              <p-toggleButton formControlName="isCritical" onLabel="{{ 'RECORDS.CRITICAL' | translate }}"
                              offLabel="{{ 'RECORDS.NON_CRITICAL' | translate }}" [onIcon]="'pi pi-bell'" offIcon="pi pi-ban"
                              iconPos="right"></p-toggleButton>
            </div>
          </div>
        </p-divider>
      </div>
    </form>
  </div>
</ng-template>



<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <button
      *ngIf="asDialog"
      pButton
      icon="pi pi-times"
      (click)="close()"
      label="{{ 'ACTIONS.CLOSE' | translate }}"
    ></button>

    <div class="ml-dir-auto"></div>

    <ng-container *ngIf="!(viewOnly$ | async)">
      <div class="mx-1">
        <button
          pButton
          type="button"
          label="{{ 'ACTIONS.CLEAR' | translate }}"
          icon="pi pi-replay"
          class="p-button-outlined" [loading]="blocking$ | async" (click)="clear()"
        ></button>
      </div>
    </ng-container>

    <div class="mx-1" *ngIf="!(viewOnly$ | async)">
      <ng-container *ngIf="resourceAnalysis$ | async as resourceAnalysis">
        <button
          [disabled]="(!resourceAnalysis.status.editable) || form.invalid"
          pButton
          label="{{ 'ACTIONS.SAVE' | translate }}"
          icon="pi pi-save"
          [loading]="blocking$ | async"
          (click)="submit()"
        ></button>
      </ng-container>
    </div>
  </div>
</ng-template>
