<div class="symbol-group symbol-hover">
  <div
    class="symbol symbol-30 symbol-circle"
    data-toggle="tooltip"
    title=""
    data-original-title="Mark Stone"
  >
    <img alt="Pic" src="/assets/media/users/300_25.jpg" />
  </div>
  <div
    class="symbol symbol-30 symbol-circle"
    data-toggle="tooltip"
    title=""
    data-original-title="Charlie Stone"
  >
    <img alt="Pic" src="/assets/media/users/300_19.jpg" />
  </div>
  <div
    class="symbol symbol-30 symbol-circle"
    data-toggle="tooltip"
    title=""
    data-original-title="Luca Doncic"
  >
    <img alt="Pic" src="/assets/media/users/300_22.jpg" />
  </div>
  <div
    class="symbol symbol-30 symbol-circle"
    data-toggle="tooltip"
    title=""
    data-original-title="Nick Mana"
  >
    <img alt="Pic" src="/assets/media/users/300_23.jpg" />
  </div>
  <div
    class="symbol symbol-30 symbol-circle"
    data-toggle="tooltip"
    title=""
    data-original-title="Teresa Fox"
  >
    <img alt="Pic" src="/assets/media/users/300_18.jpg" />
  </div>
  <div
    class="symbol symbol-30 symbol-circle symbol-light"
    data-toggle="tooltip"
    title=""
    data-original-title="More users"
  >
    <span class="symbol-label font-weight-bold">5+</span>
  </div>
</div>
