<div class="p-toolbar-group-right">
  <button
    *checkPrivileges="'PRIV_PERFORM_ACTIVITY_ANALYSIS'"
    pButton
    label="{{ 'RESOURCES.ADD_RESOURCE' | translate }}"
    icon="pi pi-plus"
    (click)="openDialog()"
  ></button>
</div>

<!-- as a dialog -->
<p-dialog
  #dialog
  [visible]="opened$ | async"
  [modal]="true"
  (visibleChange)="close()"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- as a page -->
<ng-template #page>
  <div class="container-fluid h-100">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
    <div class="row">
      <div class="col-12" style="height: 76vh">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
      </div>
    </div>
    <div class="row h-30px"></div>
    <div class="row">
      <div class="col-12">
        <ng-template [ngTemplateOutlet]="footer"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <ng-container *ngIf="editMode && !(viewOnly$ | async)">
        {{'REMOTE_WORK.EDIT_WORK' | translate}}

      </ng-container>
      <ng-container *ngIf="!editMode && !(viewOnly$ | async)">
        {{'RESOURCES.ADD_RESOURCE' | translate}}
      </ng-container>

      <ng-container *ngIf="viewOnly$ | async">
        {{'REMOTE_WORK.VIEW_WORK' | translate}}
      </ng-container>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
  <a
    *ngIf="asDialog"
    queryParamsHandling="merge"
    pRipple
    pButton
    icon="pi pi-link"
    class="p-button-rounded p-button-text p-button-plain"
  ></a>
</ng-template>


<!-- templates content -->
<ng-template #content>
  <div
    class="w-100 pt-2"
    [ngStyle]="{
      height: !asDialog ? '100%' : dialog?.maximized ? '100%' : '25vh'
    }"
  >
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>
    <form [formGroup]="form" class="p-fluid p-grid mt-5">
      <div class="p-field p-col-12 p-md-6">
        <span class="p-float-label">
          <p-treeSelect
            [options]="orgHir"
            display="chip"
            [metaKeySelection]="false"
            [filter]="true"
            [filterBy]="'data.nameAr,data.nameEn,data.code'"
            selectionMode="single"
            formControlName="orgHierarchy"
            [loading]="loadingOrgHir$ | async"
            (onFilter)="filterOrgHir($event)"
            (onNodeExpand)="nodeExpand($event?.node)"
            placeholder="{{ 'RESOURCES.DIVISION' | translate }}"
            [propagateSelectionDown]="false"
            [propagateSelectionUp]="false"
          >
            <ng-template let-option let-placeholder pTemplate="value">
              {{ option | translateObj : "label" }}
            </ng-template>
          </p-treeSelect>
          <label
          >{{ "RESOURCES.DIVISION" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['orgHierarchy'].touched &&
            !form.controls['orgHierarchy'].valid &&
            form.controls['orgHierarchy'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['orgHierarchy'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          [autoDisplayFirst]="false"
          [options]="cycles"
          [showClear]="true"
          formControlName="cycle"
          appendTo="body"
          dataKey="id"
          optionValue="id"
          placeholder="{{ 'ANALYSIS_CRCLE' | translate }}"
        >
          <ng-template let-item pTemplate="selectedItem">
            {{ item | translateObj }}
          </ng-template>

          <ng-template let-item pTemplate="item">
            {{ item | translateObj }}
          </ng-template>
        </p-dropdown>
      </div>

      <!--<div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="staffOnSite" pInputText/>
        <label>
          {{ "RESOURCES.ONSITE_STAFF" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

        <ng-container
          *ngIf="form.controls['staffOnSite'].touched && !form.controls['staffOnSite'].valid &&
          form.controls['staffOnSite'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['staffOnSite'].hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>-->

     <!-- <div class="p-field p-col-12 p-md-6">
      <span class="p-float-label">
        <input type="number" formControlName="staffRemotely" pInputText/>
        <label>
          {{ "RESOURCES.OFFSITE_STAFF" | translate }}
          <strong class="required-asterisk"> * </strong>
        </label>
      </span>

        <ng-container
          *ngIf="form.controls['staffRemotely'].touched && !form.controls['staffRemotely'].valid &&
          form.controls['staffRemotely'].dirty">
          <p class="p-error mb-0" *ngIf="form.controls['staffRemotely'].hasError('required')">
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>-->

    </form>


  </div>
</ng-template>



<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <button
      *ngIf="asDialog"
      pButton
      icon="pi pi-times"
      (click)="close()"
      label="{{ 'ACTIONS.CLOSE' | translate }}"
    ></button>

    <div class="ml-dir-auto"></div>

    <ng-container *ngIf="!(viewOnly$ | async)">
      <div class="mx-1">
        <button
          pButton
          type="button"
          label="{{ 'ACTIONS.CLEAR' | translate }}"
          icon="pi pi-replay"
          class="p-button-outlined" [loading]="blocking$ | async" (click)="clear()"
        ></button>
      </div>
    </ng-container>

    <div class="mx-1" *ngIf="!(viewOnly$ | async)">
      <button
        pButton
        label="{{ 'ACTIONS.SAVE' | translate }}"
        icon="pi pi-save"
        [loading]="blocking$ | async"
        (click)="submit()"
      ></button>
    </div>
  </div>
</ng-template>
