<ng-container *ngIf="state$ | async">
  <router-outlet></router-outlet>

  <p-dialog
    [visible]="dialogOpened$ | async"
    (visibleChange)="toggleDialog()"
    [modal]="true"
    [style]="{ width: '30vw', background: 'white' }"
    styleClass="min-h-300px"
    [breakpoints]="{ '960px': '40vw', '640px': '100vw' }"
    [baseZIndex]="10000"
    [closable]="selectedVersion"
  >
    <ng-template pTemplate="header">
      <h3>
        <span>{{ "VERSIONS_SETTINGS" | translate }}</span>
      </h3>
    </ng-template>

    <p-dropdown
      [options]="versions$ | async"
      [(ngModel)]="selectedVersion"
      placeholder="{{ 'VERSION' | translate }}"
      styleClass="w-100 mt-3"
      appendTo="body"
      dataKey="id"
      [disabled]="showVersionForm"
      (onChange)="setValueGlobally($event.value?.id); toggleDialog()"
      [dropdownIcon]="
        (loading$ | async) ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'
      "
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedVersion">
          {{ selectedVersion | translateObj }}
        </div>
      </ng-template>
      <ng-template let-version pTemplate="item">
        <div>{{ version | translateObj }}</div>
      </ng-template>
      <ng-template pTemplate="empty">
        <ng-container *ngIf="loading$ | async; else elseTemplate">
          {{ "ACTIONS.LOADING" | translate }}
        </ng-container>
        <ng-template #elseTemplate>
          {{ "NO_DATA" | translate }}
        </ng-template>
      </ng-template>
    </p-dropdown>
    <p-divider
      align="center"
      styleClass="mt-10"
      *checkPrivileges="'PRIV_CR_BC_VER'"
    >
      <div class="text-center">
        <button
          pButton
          label="{{ 'ADD_VERSION' | translate }}"
          [icon]="showVersionForm ? 'pi pi-minus' : 'pi pi-plus'"
          (click)="showVersionForm = !showVersionForm"
        ></button>
      </div>
      <!--<span class="font-weight-bold">{{ "" | translate }}</span>-->
    </p-divider>
    <form
      [formGroup]="form"
      class="p-fluid p-grid mt-5"
      *ngIf="showVersionForm"
    >
      <!-- version AR -->
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input type="text" formControlName="nameAr" pInputText />
          <label>
            {{ "VERSION_AR" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['nameAr'].touched &&
            !form.controls['nameAr'].valid &&
            form.controls['nameAr'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['nameAr'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="p-error mb-0"
            *ngIf="form.controls['nameAr'].hasError('arabic')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ARABIC" | translate }}
          </p>
        </ng-container>
      </div>

      <!-- version EN -->
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <input type="text" formControlName="nameEn" pInputText />
          <label>
            {{ "VERSION_EN" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['nameEn'].touched &&
            !form.controls['nameEn'].valid &&
            form.controls['nameEn'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['nameEn'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
          <p
            class="p-error mb-0"
            *ngIf="form.controls['nameEn'].hasError('english')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
          </p>
        </ng-container>
      </div>
    </form>
    <ng-template pTemplate="footer">
      <div class="p-col p-d-flex p-jc-center">
        <div class="mx-1">
          <button
            pButton
            *checkPrivileges="'PRIV_CR_BC_VER'"
            label="{{ 'ACTIONS.SAVE' | translate }}"
            icon="pi pi-save"
            [loading]="blocking$ | async"
            [disabled]="form.invalid"
            (click)="submit()"
          ></button>
        </div>
      </div>
    </ng-template>
  </p-dialog>
</ng-container>
