<!-- as a dialog -->
<p-dialog
  [visible]="opened$ | async"
  (visibleChange)="toggleDialog()"
  [modal]="true"
  [style]="{ width: '55vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [maximizable]="true"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <ng-template [ngTemplateOutlet]="header"></ng-template>
  </ng-template>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
  <ng-template pTemplate="footer">
    <ng-template [ngTemplateOutlet]="footer"></ng-template>
  </ng-template>
</p-dialog>

<!-- templates header -->
<ng-template #header>
  <div class="d-flex">
    <h3>
      <span>{{ "DEPENDENCIES.ADD_NEW" | translate }}</span>

      <span class="label label-lg label-light-primary label-inline">
        {{ "DEPENDENCIES." + dependType | translate }}
      </span>
    </h3>
  </div>

  <span class="flex-grow-1"></span>
</ng-template>

<!-- templates content -->
<ng-template #content>
  <div class="w-100 pt-2">
    <p-blockUI>
      <p-progressSpinner></p-progressSpinner>
    </p-blockUI>

    <form [formGroup]="form" class="p-fluid p-grid mt-5">
      <!-- external ?? vendors : orgHir -->
      <ng-container
        *ngIf="
          dependType == DEPENDENCIES_TYPES.DEPENDENCY_EXTERNAL;
          else elseTemplate
        "
      >
        <!-- Vendors -->
        <div class="p-field p-col-12 p-md-6">
          <span class="p-float-label">
            <p-dropdown
              [autoDisplayFirst]="false"
              [options]="vendors$ | async"
              [filter]="true"
              filterBy="nameAr,nameEn"
              formControlName="partner"
              [showClear]="true"
              appendTo="body"
            >
              <ng-template let-option pTemplate="selectedItem">
                {{ option | translateObj }}
              </ng-template>
              <ng-template let-option pTemplate="item">
                {{ option | translateObj }}
              </ng-template>
            </p-dropdown>
            <label>
              {{ "DEPENDENCIES.VENDORS" | translate }}
              <strong class="required-asterisk"> * </strong>
            </label>
          </span>
          <ng-container
            *ngIf="
              form.controls['partner'].touched &&
              !form.controls['partner'].valid &&
              form.controls['partner'].dirty
            "
          >
            <p
              class="p-error mb-0"
              *ngIf="form.controls['partner'].hasError('required')"
            >
              {{ "VALIDATION_MSG.REQUIRED" | translate }}
            </p>
          </ng-container>
        </div>
      </ng-container>
      <!-- orgHir   -->
      <ng-template #elseTemplate>
        <div class="p-field p-col-4 p-md-6">
          <p-treeSelect
            [options]="orgHir"
            [filterBy]="'data.nameAr,data.nameEn,data.code'"
            selectionMode="single"
            formControlName="orgHierarchy"
            (onNodeSelect)="loadActivities($event?.node)"
            placeholder="{{ 'DEPENDENCIES.ASSOCIATED_MANG' | translate }}"
            appendTo="body"
            [loading]="loading$ | async"
            (onNodeExpand)="nodeExpand($event?.node)"
          >
            <ng-template let-option let-placeholder pTemplate="header">
              <div class="w-100 p-2">
                <span class="p-input-icon-left w-100">
                  <i class="pi pi-search"></i>
                  <input
                    (keyup)="filterOrgHir($event.target.value)"
                    type="text"
                    pInputText
                    class="w-100"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template let-option let-placeholder pTemplate="value">
              {{
                option
                  ? (option | translateObj : "label")
                  : ("DEPENDENCIES.ASSOCIATED_MANG" | translate)
              }}
            </ng-template>
          </p-treeSelect>
          <ng-container
            *ngIf="
              form.controls['orgHierarchy'].touched &&
              !form.controls['orgHierarchy'].valid &&
              form.controls['orgHierarchy'].dirty
            "
          >
            <p
              class="p-error mb-0"
              *ngIf="form.controls['orgHierarchy'].hasError('required')"
            >
              {{ "VALIDATION_MSG.REQUIRED" | translate }}
            </p>
          </ng-container>
        </div>
      </ng-template>

      <!-- activies (select) -->
      <div
        *ngIf="dependType == DEPENDENCIES_TYPES.DEPENDENCY_INTERNAL"
        class="p-field p-col-12 p-md-6"
      >
        <span class="p-float-label">
          <p-dropdown
            [autoDisplayFirst]="false"
            formControlName="relatedActivity"
            [options]="activies$ | async"
            [filter]="true"
            filterBy="nameAr,nameEn"
            dataKey="id"
            [showClear]="true"
            appendTo="body"
          >
            <ng-template let-option pTemplate="selectedItem">
              {{ option | translateObj }}
            </ng-template>
            <ng-template let-option pTemplate="item">
              {{ option | translateObj }}
            </ng-template>
          </p-dropdown>
          <label>
            {{ "DEPENDENCIES.ACTIVIE_DEPT" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>
        <ng-container
          *ngIf="
            form.controls['relatedActivity'].touched &&
            !form.controls['relatedActivity'].valid &&
            form.controls['relatedActivity'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['relatedActivity'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>
        </ng-container>
      </div>
      <!-- activity name  -->
      <div
        *ngIf="dependType == DEPENDENCIES_TYPES.DEPENDENCY_ORG"
        class="p-field p-col-12 p-md-6"
      >
        <span class="p-float-label">
          <input type="text" formControlName="activityName" pInputText />
          <label>
            {{ "DEPENDENCIES.ACTIVIE_NAME" | translate }}
          </label>
        </span>
      </div>
      <!-- DETAILS -->
      <div class="p-field p-col-12 p-md-12">
        <span class="p-float-label">
          <textarea
            pInputText
            type="text"
            formControlName="dependencyDetails"
            rows="5"
          ></textarea>
          <label
            >{{ "DEPENDENCIES.DETAILS" | translate }}
            <strong class="required-asterisk"> * </strong>
          </label>
        </span>

        <ng-container
          *ngIf="
            form.controls['dependencyDetails'].touched &&
            !form.controls['dependencyDetails'].valid &&
            form.controls['dependencyDetails'].dirty
          "
        >
          <p
            class="p-error mb-0"
            *ngIf="form.controls['dependencyDetails'].hasError('required')"
          >
            {{ "VALIDATION_MSG.REQUIRED" | translate }}
          </p>

          <p
            class="p-error mb-0"
            *ngIf="form.controls['dependencyDetails'].hasError('english')"
          >
            {{ "VALIDATION_MSG.MUST_BE_IN_ENGLISH" | translate }}
          </p>
        </ng-container>
      </div>
    </form>
  </div>
</ng-template>

<!--footer-->
<ng-template #footer>
  <div class="p-col p-d-flex">
    <div class="ml-dir-auto"></div>

    <div class="p-col text-center">
      <div class="text-center">
        <ng-container *ngIf="activityStatus$ | async as activityStatus">
          <button
            (click)="submit()"
            [disabled]="!activityStatus.editable || !this.form"
            [loading]="blocking$ | async"
            pButton
            label="{{ 'ACTIONS.SAVE' | translate }}"
            icon="pi pi-save"
          ></button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
