<div class="attachments" *ngIf="attachments?.length">
  <div class="title">
    <h4>
      {{ "CORRERSPONDENCE.ATTACHMENTS" | translate }}
    </h4>
  </div>
  <div class="d-flex align-items-center justify-content-start">
    <div class="px-2 mx-2" *ngFor="let att of attachments; let i = index">
      <div class="card text-center">
        <div
          class="
            card-header
            p-1
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <span>
            {{ att?.fileName }}
          </span>
          <button mat-icon-button color="warn" (click)="removeFile(i)">
            <mat-icon style="height: auto">close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<input
  type="file"
  multiple
  hidden
  #input
  (change)="filesSelected($event.target.files)"
/>
