:host ::ng-deep {
  #map-topbar {
    transition: all 0.75s ease;
    transform: translateX(0);
    [dir="ltr"] & {
      right: -50%;
    }
    [dir="rtl"] & {
      left: -50%;
    }
  }
  #map-topbar.show {
    [dir="ltr"] & {
      right: 50%;
      transform: translateX(50%);
    }
    [dir="rtl"] & {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .esri-ui-inner-container.esri-ui-manual-container {
    inset: 15px;
  }
  .esri-component.esri-attribution.esri-widget {
    display: none !important;
  }
  .divider {
    border: 0.21rem solid #fe685a;
    border-radius: 1rem;
  }
  .crounded {
    border-radius: 16px;
  }

  .esri-popup__main-container {
    padding: 5px !important;
    background: rgba(255, 255, 255, 0.8) !important;
    border-radius: 16px !important;
  }

  .esri-feature.esri-widget {
    background: transparent;
  }

  .title-icon {
    background-image: url(../../../../assets/media/svg/icons/Code/Time-schedule.svg);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    background-size: 20px;
  }

  .esri-popup--shadow {
    box-shadow: none !important;
  }
  .esri-popup__footer {
    display: none !important;
  }
  .esri-popup__content {
    overflow: hidden;
  }
  table {
    tr:hover {
      background-color: unset !important;
    }
    th {
      padding: 0.5rem !important;
    }
    td {
      padding: 0.5rem !important;
    }
  }

  .esri-popup__header-title:hover {
    background-color: transparent !important;
  }

  .esri-widget {
    border-radius: 10px !important;
    input {
      border-radius: 10px !important;
    }
    &.p-button{
      width: 32px;
      height: 32px;
    }
  }
}

.save-map {
  position: initial;
  bottom: 1%;
  left: 50%;
}
