<section>
  <header class="d-flex p-jc-between p-ai-center border-bottom py-8">
    <h4 class="text-info p-text-bold mb-0">
      {{ "IMPACT_ANALYSIS.HEADER" | translate }}
    </h4>
    <app-impact-matrix-dialog [shouldDisable]="disableButton"></app-impact-matrix-dialog>
  </header>
  <div class="p-d-flex p-flex-column">
    <ng-container *ngIf="loading; else tableTemplate">
      <p-table [value]="[].constructor(10)">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 0"></th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.IMPACT_TYPES" | translate }}
              </div>
            </th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.VERY_LOW" | translate }}
              </div>
            </th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.LOW" | translate }}
              </div>
            </th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.MEDIUM" | translate }}
              </div>
            </th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.HIGH" | translate }}
              </div>
            </th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.VERY_HIGH" | translate }}
              </div>
            </th>

            <th style="width: 92px">{{ "ACTIONS.ACTIONS" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr class="cursor-pointer hoverable">
            <td class="flag-td">
              <div class="bg-secondary"></div>
            </td>
            <td class="min-w-100px max-w-150px">   <!--*ngIf="columns?.includes('userName')"-->
              <p-skeleton></p-skeleton>
            </td>
            <td class="min-w-100px max-w-150px">
              <p-skeleton></p-skeleton>
            </td>
            <td class="min-w-100px max-w-150px">
              <p-skeleton></p-skeleton>
            </td>
            <td class="min-w-100px max-w-150px">
              <p-skeleton></p-skeleton>
            </td>
            <td class="min-w-100px max-w-150px">
              <p-skeleton></p-skeleton>
            </td>
            <td class="min-w-100px max-w-150px">
              <p-skeleton></p-skeleton>
            </td>

            <td>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text my-auto p-button-plain"
              ></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
    <ng-template #tableTemplate>
      <p-table
        [columns]="impactTypePage"
        totalRecords="20"
        [value]="page"
        dataKey="id"
        [autoLayout]="true"
      >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col *ngFor="let col of columns" [style.width]="'col.width'" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th></th>
            <th class="min-w-100px max-w-150px">
              <div class="p-d-flex p-jc-between p-ai-center">
                {{ "IMPACT_ANALYSIS.IMPACT_TYPES" | translate }}
              </div>
            </th>
            <ng-container *ngFor="let col of columns">
              <th *ngIf="col.isActive" class="max-w-150px min-w-100px">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{  col | translateObj : 'name'}}
                </div>
              </th>
            </ng-container>

            <th style="width: 92px">{{ "ACTIONS.ACTIONS" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columns="columns">
          <tr class="cursor-pointer hoverable" *ngIf="item.bcImpactTypes.isActive">
            <td class="flag-td">
              <div
                [ngClass]="{
                  'bg-primary': item.isActive,
                  'bg-warning': !item.isActive
                }"
              ></div>
            </td>

            <td class="min-w-100px max-w-150px" (click)="openView(item.bcImpactTypes.id)">
              <div>
                {{ item.bcImpactTypes | translateObj: 'name' }}
              </div>
            </td>
            <ng-container *ngFor="let col of columns">
              <ng-container *ngIf="col.isActive && !hasMatchingId(col.id, item.bcImpactLevelMatrixDtoList)">
                <td class="min-w-100px max-w-150px">
                  <div></div>
                </td>
              </ng-container>
              <ng-container *ngFor="let levels of item.bcImpactLevelMatrixDtoList">
                <td class="min-w-100px max-w-150px" *ngIf="col.isActive && levels?.id === col.id" (click)="openView(item.bcImpactTypes.id)">
                  <div>
                    {{ levels | translateObj : 'desc' }}
                  </div>
                </td>
              </ng-container>
            </ng-container>

            <td>
              <button
                [disabled]="disableButton"
                pButton
                pRipple
                type="button"
                icon="pi pi-ellipsis-v"
                class="p-button-rounded p-button-text my-auto p-button-plain"
                (click)="menu.toggle($event)"
              ></button>
              <p-menu
                #menu
                appendTo="body"
                [popup]="true"
                [model]="item.actions"
              ></p-menu>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="100%">
              <div class="w-100">
                <nodata-table></nodata-table>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </div>
</section>
